<h2>The House</h2>

<p>The house was huge &mdash; six stories between two buildings &mdash; but even so, it wasn’t large enough to hold everyone from the convention; half a dozen had to stay in a nearby hotel at night.  Still, the house worked very well for us.</p> 

<%= youtube_embed("KG4AFOQZhi8")%>

<%= link_header("Outside", 3) %>

<%= project_image("photos/chicagocon/House_Outside02.jpg", caption: %Q(The house from outside.  The driveway and garage are hidden behind <abbr title="The Fishtank">the blue minivan</abbr>.)) %>

<%= project_image("photos/chicagocon/HouseDiagram01.jpg", caption: %Q(The house we rented was actually two distinct buildings: the larger house in front, and a smaller house on the hill behind it.  The smaller house was initially labeled the <i>Pirate House</i> by its inhabitants, but halfway through the week it was renamed the <i>Brobot House</i>.), attribution: %Q(<abbr title="Skulryk">Matt</abbr>)) %>

<%= project_image("photos/chicagocon/House_Outside03.jpg", caption: "The Pirate Cabin/Brobot House from outside, as viewed from the third floor patio.") %>

<%= link_header("Second Floor", 3) %>

<%= project_image("photos/chicagocon/House_Garage01.jpg", caption: "Garage") %>

<%= project_image("photos/chicagocon/House_GameRoom01.jpg", caption: "Game room with table tennis") %>


<%= project_image("photos/chicagocon/House_Laundry01.jpg", caption: "Laundry room") %>

<%= project_image("photos/chicagocon/House_1Bathroom01.jpg", caption: "First floor bathroom") %>

<%= link_header("First Floor", 3) %>

<%= project_image("photos/chicagocon/House_Lobby01.jpg", caption: "Main entry lobby") %>

<%= project_image("photos/chicagocon/House_Lobby02.jpg", caption: "Main entry lobby, as viewed from the third floor living room") %>

<%= project_image("photos/chicagocon/House_BedroomA01.jpg", caption: "Bedroom A (five people)") %>

<%= project_image("photos/chicagocon/House_BedroomB01.jpg", caption: "Bedroom B (two people, with bathroom)") %>

<%= project_image("photos/chicagocon/House_2Bathroom01.jpg", caption: "Second Floor Main Bathroom") %>

<%= project_image("photos/chicagocon/House_BedroomC01.jpg", caption: "Bedroom C (two people, with bathroom)") %>

<%= link_header("Third Floor", 3) %>

<%= project_image("photos/chicagocon/House_LivingRoom02.jpg", caption: "Living Room") %>

<%= project_image("photos/chicagocon/House_LivingRoom01.jpg", caption: "Living Room") %>

<%= project_image("photos/chicagocon/House_DiningRoom01.jpg", caption: "Main Dining Room") %>

<%= project_image("photos/chicagocon/House_DiningRoom02.jpg", caption: "Secondary Dining Room") %>

<%= project_image("photos/chicagocon/House_Kitchen01.jpg", caption: "Kitchen") %>

<%= project_image("photos/chicagocon/House_3Bathroom01.jpg", caption: "Third floor bathroom") %>

<%= project_image("photos/chicagocon/House_3Deck01.jpg", caption: "Third floor front deck") %>

<%= project_image("photos/chicagocon/House_Patio01.jpg", caption: "Back patio.  Visible above is the 4th floor bridge between the top of the main house (right) and the main entrance of the smaller house (left).") %>

<%= link_header("Fourth Floor", 3) %>

<%= project_image("photos/chicagocon/House_BedroomE01.jpg", caption: "Bedroom E (two people)") %>

<%= project_image("photos/chicagocon/House_BedroomF01.jpg", caption: "Bedroom F (four people)") %>

<%= project_image("photos/chicagocon/House_TVRoom01.jpg", caption: "TV room, with a sofa that unfolds into a bed.") %>


<%= project_image("photos/chicagocon/House_4Bathroom01.jpg", caption: "Fourth floor bathroom") %>

<%= project_image("photos/chicagocon/House_CardRoom01.jpg", caption: "Card Table room.  Visible on the right is the door to the bridge.") %>

<%= project_image("photos/chicagocon/House_Bridge01.jpg", caption: "Bridge to the Pirate Cabin/Brobot House") %>

<%= project_image("photos/chicagocon/House_BedroomG01.jpg", caption: "Bedroom G in the smaller house (two people)") %>

<%= project_image("photos/chicagocon/House_4BathroomPirate01.jpg", caption: "Fourth floor bathroom in the smaller house (two people)") %>

<%= project_image("photos/chicagocon/House_BedroomH01.jpg", caption: "Bedroom H in the smaller house (four people)") %>

<%= link_header("Fifth Floor", 3) %>

<%= project_image("photos/chicagocon/House_PirateKitchen01.jpg", caption: "The Pirate Cabin’s kitchen") %>

<%= project_image("photos/chicagocon/House_PirateLivingRoom01.jpg", caption: "The Pirate Cabin’s living room") %>

<%= link_header("Sixth Floor", 3) %>

<%= project_image("photos/chicagocon/House_6Lobby01.jpg", caption: "The 6th floor lobby") %>

<%= project_image("photos/chicagocon/House_6Balcony02.jpg", caption: "The 6th floor balcony, including the Pirate Cabin flag") %>

<%= project_image("photos/chicagocon/House_6Balcony01.jpg", caption: "View from the 6th floor balcony") %>