<h2>Saturday, July 12</h2>

<%= link_header("Starmen.Net Takes Over Wal-Mart", 3) %>

<p>The date: July 14, 2008.  The location: Wal-Mart, Route 421, Michigan City, Indiana.  This fine retail establishment was decided upon after an exhausting selection process as a temporary meeting location, as our house would not be available until 4 PM.</p>
<p>After picking up <abbr title="Ozwalled">Rob</abbr> and <abbr title="Aquas">Luke</abbr> from the train station, <abbr title="Fishsticks">Paul</abbr> arrived at the Wal-Mart and went inside to find <abbr title="xfisjmg1">Stephen</abbr>, <abbr title="GimeC">Will</abbr>, and <abbr title="Mr. Accident">Trip</abbr>.  More people slowly trickled in as the afternoon progressed.</p>

<%= project_image("photos/chicagocon/WalMart01.jpg", caption: %Q(<abbr title="GimeC">Will</abbr>, <abbr title="xfisjmg1">Stephen</abbr>, <abbr title="Ozwalled">Rob</abbr>, and <abbr title="Aquas">Luke</abbr>.)) %>

<%= project_image("photos/chicagocon/WalMart02.jpg", caption: %Q(<abbr title="xfisjmg1">Stephen</abbr> shows off his seat belt belt.)) %>

<%= project_image("photos/chicagocon/WalMart03.jpg", caption: %Q(Of course, we migrated to the electronics section.)) %>

<%= project_image("photos/chicagocon/WalMart04.jpg", caption: %Q(Free 3-D glasses combine with boredom.)) %>

<%= project_image("photos/chicagocon/WalMart07.jpg", caption: %Q(<abbr title="xfisjmg1">Stephen</abbr> and <abbr title="Fishsticks">Paul B</abbr> make fun of <abbr title="Ozwalled">Rob</abbr>’s height.), attribution: %Q(<abbr title="Melcat">Mallory</abbr>)) %>

<%= project_image("photos/chicagocon/WalMart05.jpg", caption: %Q(We may not obey signs, but at least we can imitate them.)) %>

<%= project_image("photos/chicagocon/WalMart06.jpg", caption: %Q(<abbr title="Mr.Í Accident">Trip</abbr> attempts to keep the building from sliding away.)) %>

<%= link_header("First Day", 3) %>

<p>After spending several hours at Wal-Mart, we finally sought out the rental house.  Due to some slight confusion with the Google Maps address, it was harder to find than expected and resulted in some of us driving up and down the same street about three times, but we eventually turned into a side street and saw one of the other conventiongoers unloading things.</p>

<p>Once people got unpacked, a number of us visited the beach, which was a short walk along a boardwalk away.</p>

<%= project_image("photos/chicagocon/Beach10.jpg", caption: %Q(Conventiongoers on the shore of Lake Michigan), attribution: %Q(<abbr title="Melcat">Mallory</abbr>)) %>

<%= project_image("photos/chicagocon/Beach01.jpg") %>

<%= project_image("photos/chicagocon/Beach02.jpg") %>

<p>Back at the house, food was being prepared and games were being played.</p>

<%= project_image("photos/chicagocon/Kitchen01.jpg", caption: %Q(<abbr title="reidman">Reid</abbr> washes a pot wearing his kevlar apron as <abbr title="Neo">Liz</abbr> prepares the meat.)) %>

<%= project_image("photos/chicagocon/Hammock01.jpg", caption: %Q(<abbr title="reidman">Reid</abbr> relaxes.), attribution: %Q(<abbr title="Melcat">Mallory</abbr>)) %>

<%= project_image("photos/chicagocon/Kitchen02.jpg", caption: %Q(<abbr title="Frau Landers">Stephanie</abbr> frosts cookies.)) %>

<%= project_image("photos/chicagocon/VideoGames01.jpg", caption: %Q(Playing video games)) %>

<%= project_image("photos/chicagocon/PeanutCheeseBars01.jpg", caption: %Q(The Fishtank apparently had several peanut cheese bars in the glove box.  They were donated to the house.)) %>

<%= project_image("photos/chicagocon/Poster01.jpg", caption: %Q(Covering the artwork that came with the house with our own Mother 3 poster)) %>

<p>Later that evening, we were treated to a show of figurines and previews of new site merchandise, among other things.</p>

<%= project_image("photos/chicagocon/Figurines01.jpg", caption: %Q(Figurines, badges, and the new mugzor), attribution: %Q(<abbr title="Skulryk">Matt</abbr>)) %>

<%= project_image("photos/chicagocon/ConShirts01.jpg", caption: %Q(<abbr title="Jonk">Jon</abbr> shows off the new shirts, which were made available to everyone attending the convention.)) %>

<%= project_image("photos/chicagocon/Badges01.jpg", caption: %Q(Pins were on display as well)) %>

<%= project_image("photos/chicagocon/People01.jpg", caption: %Q(Lots of people hanging around in the living room)) %>

<%= project_image("photos/chicagocon/PirateCabin01.jpg", caption: %Q(<abbr title="SimonBob">Kevin</abbr> and <abbr title="Sephy">Bill</abbr>), attribution: %Q(<abbr title="Skulryk">Matt</abbr>)) %>

<%= project_image("photos/chicagocon/PirateCabin02.jpg", caption: %Q(<abbr title="ctoner">Casey T</abbr>, <abbr title="Squirl">Ken</abbr>, and <abbr title="Chewy">Lindsay</abbr>), attribution: %Q(<abbr title="Skulryk">Matt</abbr>)) %>