<h2>Saturday, July 12</h2>

<%= link_header("Starmen.Net Takes Over Wal-Mart", 3) %>

<p>The date: July 14, 2008.  The location: Wal-Mart, Route 421, Michigan City, Indiana.  This fine retail establishment was decided upon after an exhausting selection process as a temporary meeting location, as our house would not be available until 4 PM.</p>
<p>After picking up <acronym title="Ozwalled">Rob</acronym> and <acronym title="Aquas">Luke</acronym> from the train station, <acronym title="Fishsticks">Paul</acronym> arrived at the Wal-Mart and went inside to find <acronym title="xfisjmg1">Stephen</acronym>, <acronym title="GimeC">Will</acronym>, and <acronym title="Mr. Accident">Trip</acronym>.  More people slowly trickled in as the afternoon progressed.</p>

<%= project_image("photos/chicagocon/WalMart01.jpg", caption: %Q(<acronym title="GimeC">Will</acronym>, <acronym title="xfisjmg1">Stephen</acronym>, <acronym title="Ozwalled">Rob</acronym>, and <acronym title="Aquas">Luke</acronym>.)) %>

<%= project_image("photos/chicagocon/WalMart02.jpg", caption: %Q(<acronym title="xfisjmg1">Stephen</acronym> shows off his seat belt belt.)) %>

<%= project_image("photos/chicagocon/WalMart03.jpg", caption: %Q(Of course, we migrated to the electronics section.)) %>

<%= project_image("photos/chicagocon/WalMart04.jpg", caption: %Q(Free 3-D glasses combine with boredom.)) %>

<%= project_image("photos/chicagocon/WalMart07.jpg", caption: %Q(<acronym title="xfisjmg1">Stephen</acronym> and <acronym title="Fishsticks">Paul B</acronym> make fun of <acronym title="Ozwalled">Rob</acronym>'s height.), attribution: %Q(<acronym title="Melcat">Mallory</acronym>)) %>

<%= project_image("photos/chicagocon/WalMart05.jpg", caption: %Q(We may not obey signs, but at least we can imitate them.)) %>

<%= project_image("photos/chicagocon/WalMart06.jpg", caption: %Q(<acronym title="Mr. Accident">Trip</acronym> attempts to keep the building from sliding away.)) %>

<%= link_header("First Day", 3) %>

<p>After spending hours at the amazing pastime that is Wal-Mart, we <s>reluctantly</s> fervently fled from the embodiment of retail and sought out the rental house.  Due to some slight confusion with the Google Maps address, it was harder to find than expected and resulted in some of us driving up and down the same street about three times, but we eventually turned into a side street and saw one of the other conventiongoers unloading things.</p>

<p>Once people got unpacked, a number of us visited the beach, which was a short walk along a boardwalk away.</p>

<%= project_image("photos/chicagocon/Beach10.jpg", caption: %Q(Conventiongoers on the shore of Lake Michigan<br/>
	<span class="credit">[Photo courtesy of <acronym title="Melcat">Mallory</acronym>]</span>)) %>

<%= project_image("photos/chicagocon/Beach01.jpg") %>

<%= project_image("photos/chicagocon/Beach02.jpg") %>

<p>Back at the house, food was being prepared and games were being played.</p>

<%= project_image("photos/chicagocon/Kitchen01.jpg", caption: %Q(<acronym title="reidman">Reid</acronym> washes a pot wearing his kevlar apron as <acronym title="Neo">Liz</acronym> prepares the meat.)) %>

<p class="photogal label">	
	<img class="imagesub" src="photos/chicagocon/images/Hammock01.jpg", caption: %Q(<acronym title="reidman">Reid</acronym> relaxes.<br/>
	<span class="credit">[Photo courtesy of <acronym title="Melcat">Mallory</acronym>]</span>)) %>

<%= project_image("photos/chicagocon/Kitchen02.jpg", caption: %Q(<acronym title="Frau Landers">Stephanie</acronym> frosts cookies.)) %>

<%= project_image("photos/chicagocon/VideoGames01.jpg", caption: %Q(Playing video games)) %>

<%= project_image("photos/chicagocon/PeanutCheeseBars01.jpg", caption: %Q(The Fishtank apparently had several peanut cheese bars in the glove box.  They were donated to the house.)) %>

<%= project_image("photos/chicagocon/Poster01.jpg", caption: %Q(Covering the artwork that came with the house with our own Mother 3 poster)) %>

<p>Later that evening, we were treated to a show of figurines and previews of new site merchandise, among other things.</p>

<%= project_image("photos/chicagocon/Figurines01.jpg", caption: %Q(Figurines, badges, and the new mugzor<br/><span class="credit">[Photo courtesy of <acronym title="Skulryk">Matt</acronym>]</span>)) %>

<%= project_image("photos/chicagocon/ConShirts01.jpg", caption: %Q(<acronym title="Jonk">Jon</acronym> shows off the new shirts, which were made available to everyone attending the convention.)) %>

<%= project_image("photos/chicagocon/Badges01.jpg", caption: %Q(Pins were on display as well)) %>

<%= project_image("photos/chicagocon/People01.jpg", caption: %Q(Lots of people hanging around in the living room)) %>

<%= project_image("photos/chicagocon/PirateCabin01.jpg", caption: %Q(<acronym title="SimonBob">Kevin</acronym> and <acronym title="Sephy">Bill</acronym><br/>
	<span class="credit">[Photo courtesy of <acronym title="Skulryk">Matt</acronym>]</span>)) %>

<%= project_image("photos/chicagocon/PirateCabin02.jpg", caption: %Q(<acronym title="ctoner">Casey T</acronym>, <acronym title="Squirl">Ken</acronym>, and <acronym title="Chewy">Lindsay</acronym><br/>
	<span class="credit">[Photo courtesy of <acronym title="Skulryk">Matt</acronym>]</span>)) %>



<p class="nav"><a href="photos/chicagocon/house.php">&lt; The House</a> &middot; <a href="photos/chicagocon/jul13.php">Sunday, July 13 &gt;</a></p>

<?php
ShowPageFooter();
?>