<h2>Sunday, July 13</h2>

<%= link_header("Familiarization Day", 3) %>

<p>As it was our first full day of Chicagocon, no specific events were scheduled.  Instead, we were given a day to familiarize ourselves with the area.</p>

<%= link_header("Breakfast", 3) %>

<%= project_image("photos/chicagocon/CinnamonRolls01.jpg", caption: %Q(Breakfast consisted of eggs, cinnamon rolls, and potatoes…)) %>

<%= project_image("photos/chicagocon/BarbieCereal01.jpg", caption: %Q(…although some people preferred Barbie Cereal.)) %>

<%= project_image("photos/chicagocon/Breakfast01.jpg", caption: %Q(Eating breakfast)) %>

<%= link_header("Internet Access Shenanigans", 3) %>

<p>Our <%= link_to("2007 convention", starmen_con_gallery_path(gallery: :washingcon)) %> house had no broadband internet, and this year’s Michigan City vacation house didn’t either. For a convention based on a website based on a video game, this was a problem. A variety of solutions were proposed.</p>

<%= project_image("photos/chicagocon/Cantenna01.jpg", caption: %Q(<abbr title="Jeff’s Radio">Dave</abbr> began building a cantenna in an attempt to find us an open wireless access point.)) %>

<%= project_image("photos/chicagocon/Cantenna03.jpg", caption: %Q(<abbr title="Jeff’s Radio">Dave</abbr> shows off the cantenna.)) %>

<%= project_image("photos/chicagocon/Cantenna02.jpg", caption: %Q(The completed cantenna.  Unfortunately, we discovered that its connector was the wrong size for any of the laptops at the convention.)) %>

<%= project_image("photos/chicagocon/AOL01.jpg", caption: %Q(So, without broadband, we were forced to take drastic measures: dial-up AOL.  Finally, a use for those formerly ubiquitous trial CDs!)) %>

<%= link_header("Dinner", 3) %>

<%= project_image("photos/chicagocon/Grill01.jpg", caption: %Q(<abbr title="Sephy">Bill</abbr>, wearing the required kevlar apron, grills up dinner.)) %>

<%= project_image("photos/chicagocon/Dinner01.jpg", caption: %Q(Dinner consisted of hamburgers, hot dogs, fries, and tator tots.)) %>

<%= project_image("photos/chicagocon/ReidFries01.jpg", caption: %Q(<abbr title="reidman">Reid</abbr>… with fries.)) %>

<%= link_header("Radio PSI", 3) %>

<p>Dial-up was still fast enough to run a <%= link_to("Radio PSI", "http://starmen.net/radio/") %> broadcast (albeit at lower quality), so we hosted a Live-From-Chicagocon Radio PSI Special Edition that night.</p>

<%= project_image("photos/chicagocon/RadioPSI01.jpg", caption: %Q(<abbr title="ßlackLeader">Chaz</abbr> (DJ ß) and <abbr title="Katon">Ben</abbr> (DJ Not-A-DJ) begin their broadcast.)) %>

<%= project_image("photos/chicagocon/Kazoo01.jpg", caption: %Q(<abbr title="Ozwalled">Rob</abbr> (DJ Ozztastic) plays kazoo.)) %>

<%= project_image("photos/chicagocon/FobbiesAreBorange01.jpg", caption: %Q(<abbr title="Katon">Ben</abbr>, <abbr title="xfisjmg1">Stephen</abbr>, <abbr title="Matilda Caboose">Martin</abbr>, and <abbr title="Frau Landers">Stephanie</abbr> perform a #{link_to("Fobbies are Borange", "http://fobbiesareborange.com/")} question and answer sesssion.)) %>

<%= project_image("photos/chicagocon/DramaticReading01.jpg", caption: %Q(<abbr title="reidman">Reid</abbr> performs a dramatic reading.)) %>

<%= project_image("photos/chicagocon/ThisIsMyHouse01.jpg", caption: %Q(<abbr title="Aquas">Luke</abbr> performs a live rendition of <i>This is my House</i>.)) %>

<%= project_image("photos/chicagocon/Denise01.jpg", caption: %Q(<abbr title="Neo">Liz</abbr>, acting as “<abbr title="Falcon24">Denise</abbr>,” feeds misinformation to the internet.)) %>

<%= project_image("photos/chicagocon/EricBound01.jpg", caption: %Q(Chicagocon sings <i>EricBound</i>.)) %>

<%= link_header("Fireworks on the Beach", 3) %>

<p>The town of Michigan City had a festival that day, culminating in a fireworks show at dusk.</p>

<%= project_image("photos/chicagocon/Beach03.jpg", caption: %Q(Sunset at the beach), attribution: %Q(<abbr title="Skulryk">Matt</abbr>)) %>

<%= project_image("photos/chicagocon/Beach04.jpg", caption: %Q(<abbr title="ctoner">Casey T</abbr> at the beach), attribution: %Q(<abbr title="Skulryk">Matt</abbr>)) %>

<%= project_image("photos/chicagocon/Fireworks01.jpg", attribution: %Q(<abbr title="Skulryk">Matt</abbr>)) %>

<%= project_image("photos/chicagocon/Fireworks02.jpg", attribution: %Q(<abbr title="Skulryk">Matt</abbr>)) %>


<%= link_header("More Evening Activities", 3) %>

<%= project_image("photos/chicagocon/Porch01.jpg", caption: %Q(<abbr title="Neo">Liz</abbr> and <abbr title="Meeellla">Camille</abbr> work with some stones found on the beach.)) %>

<%= project_image("photos/chicagocon/Porch02.jpg", caption: %Q(<abbr title="sabby">Sabrina</abbr>, <abbr title="Meeellla">Camille</abbr>, <abbr title="reidman">Reid</abbr>, <abbr title="Neo">Liz</abbr>, <abbr title="Jonk">Jon</abbr>, <abbr title="Rofish">Ryan</abbr>, and <abbr title="Sephy">Bill</abbr>)) %>

<%= project_image("photos/chicagocon/NintendoMonopoly01.jpg", caption: %Q(Playing Nintendo Edition Monopoly), attribution: %Q(<abbr title="Skulryk">Matt</abbr>)) %>

<%= project_image("photos/chicagocon/Sunglasses01.jpg", caption: %Q(<abbr title="NessKid">Casey R</abbr> shows off the shades he found on the beach.)) %>

<%= project_image("photos/chicagocon/Tomato01.jpg", caption: %Q(Tomato joined us in spirit.)) %>

<%= link_header("Campfire at the Beach", 3) %>

<p>A number of people went down to our beach that evening for a small fire.</p>

<%= project_image("photos/chicagocon/Beach05.jpg", attribution: %Q(<abbr title="Skulryk">Matt</abbr>)) %>

<%= project_image("photos/chicagocon/Beach06.jpg", attribution: %Q(<abbr title="Skulryk">Matt</abbr>)) %>

<%= project_image("photos/chicagocon/Beach07.jpg", attribution: %Q(<abbr title="Skulryk">Matt</abbr>)) %>