<h2>Monday, July 14</h2>

<%= link_header("Jon’s Beard", 3) %>

<abbr title="Jonk">Jon</abbr> came to the convention bearded, and with the intention of shaving it off.  He did so on Monday morning in several stages.</p>

<%= project_image("photos/chicagocon/JonsBeard01.jpg", caption: %Q(Before)) %>

<%= project_image("photos/chicagocon/JonsBeard02.jpg", caption: %Q(Shaving)) %>

<%= project_image("photos/chicagocon/JonsBeard03.jpg", caption: %Q(The “NASCAR” look)) %>

<%= project_image("photos/chicagocon/JonsBeard04.jpg", caption: %Q(The “dignified” look, complete with hot dog cigar)) %>

<%= project_image("photos/chicagocon/JonsBeard05.jpg", caption: %Q(The “policeman” look)) %>

<%= link_header("Heading to Chicago", 3) %>

<p>That morning, we took our first planned trip into the city.  The convention house was actually in Michigan City, Indiana, so Chicago was a bit over an hour away.  On that particular day, we opted to take the South Shore Line into the city.  (The Pirate Cabin people chose to drive separately.)</p>

<%= project_image("photos/chicagocon/People02.jpg", caption: %Q(<abbr title="NessKid">Casey R</abbr>, <abbr title="reidman">Reid</abbr>, <abbr title="ßlackLeader">Chaz</abbr>, and <abbr title="Jeff’s Radio">Dave</abbr> wait outside the house before we head to the train station.)) %>

<%= project_image("photos/chicagocon/TrainStation01.jpg", caption: %Q(Walking to buy train tickets)) %>

<%= project_image("photos/chicagocon/TrainStation03.jpg", caption: %Q(Waiting at the train station), attribution: %Q(<abbr title="xfisjmg1">Stephen</abbr>)) %>

<%= project_image("photos/chicagocon/TrainStation02.jpg", caption: %Q(<abbr title="Mr. Accident">Trip</abbr> poses as we wait for the train.)) %>

<%= project_image("photos/chicagocon/Train01.jpg", caption: %Q(Starmen.Net takes over a train car)) %>

<%= project_image("photos/chicagocon/Train02.jpg", caption: %Q(<abbr title="Aquas">Luke</abbr>, <abbr title="FFish">Lance</abbr>, <abbr title="GimeC">Will</abbr>, <abbr title="Gonmon">Logan</abbr>, and <abbr title="sabby">Sabrina</abbr>)) %>

<%= project_image("photos/chicagocon/Train03.jpg", caption: %Q(<abbr title="ßlackLeader">Chaz</abbr>, <abbr title="Mr. Accident">Trip</abbr>, <abbr title="NessKid">Casey R</abbr>, <abbr title="Capt. Muffin">Jack</abbr>, and <abbr title="Jeff’s Radio">Dave</abbr>)) %>

<%= project_image("photos/chicagocon/Train04.jpg", caption: %Q(<abbr title="Matilda Caboose">Martin</abbr>, <abbr title="Rofish">Ryan</abbr>, <abbr title="Katon">Ben</abbr>, <abbr title="Frau Landers">Stephanie</abbr>, and <abbr title="Fishsticks">Paul B</abbr>)) %>

<%= project_image("photos/chicagocon/Train05.jpg", caption: %Q(<abbr title="Jeff’s Radio">Dave</abbr>, <abbr title="Melcat">Mallory</abbr>, and <abbr title="xfisjmg1">Stephen</abbr>)) %>

<%= project_image("photos/chicagocon/Train06.jpg", caption: %Q(<abbr title="Cyan683">Paul K</abbr>, <abbr title="Matilda Caboose">Martin</abbr>, and <abbr title="Rofish">Ryan</abbr>)) %>

<%= project_image("photos/chicagocon/Train07.jpg", caption: %Q(<abbr title="Ozwalled">Rob</abbr>, <abbr title="Carparama">Randy</abbr>, <abbr title="Meeellla">Camille</abbr>, <abbr title="Firegirl">Sarah</abbr>, and <abbr title="Plo">Steve</abbr>)) %>

<%= project_image("photos/chicagocon/Porkys01.jpg", caption: %Q(Seen from the train), attribution: %Q(<abbr title="Katon">Ben</abbr>)) %>

<p>The train ride took nearly an hour and a half, but eventually we got off the South Shore Line at the Roosevelt Road station.</p>

<%= project_image("photos/chicagocon/TrainStation04.jpg", caption: %Q(Exiting the train), attribution: %Q(<abbr title="xfisjmg1">Stephen</abbr>)) %>

<%= project_image("photos/chicagocon/Chicago01.jpg", caption: %Q(The Chicago skyline from our train station’s bridge)) %>

<%= project_image("photos/chicagocon/GiantMetalButts01.jpg", caption: %Q(Giant metal butts near the exit from the train station), attribution: %Q(<abbr title="xfisjmg1">Stephen</abbr>)) %>

<%= link_header("Blick Art Materials", 3) %>

<p>Our group promptly split into two.  Six of us went off to get lunch right away, but most of the group went to visit <%= link_to("Blick Art Materials", "https://www.dickblick.com/stores/illinois/chicagoloop/", target: :_blank) %>.

<%= project_image("photos/chicagocon/Chicago14.jpg", caption: %Q(Conventiongoers walking through Chicago), attribution: %Q(<abbr title="xfisjmg1">Stephen</abbr>)) %>

<%= project_image("photos/chicagocon/Blick01.jpg", caption: %Q(<abbr title="Melcat">Mallory</abbr> at Blick), attribution: %Q(<abbr title="xfisjmg1">Stephen</abbr>)) %>

<%= project_image("photos/chicagocon/Blick02.jpg", caption: %Q(A sand sculpture), attribution: %Q(<abbr title="xfisjmg1">Stephen</abbr>)) %>

<%= link_header("Gino’s East", 3) %>

While the rest of the train-riding group was at the art store, <abbr title="Fishsticks">Paul B</abbr>, <abbr title="Rofish">Ryan</abbr>, <abbr title="Aquas">Luke</abbr>, <abbr title="Mr. Accident">Trip</abbr>, <abbr title="ßlackLeader">Chaz</abbr>, and <abbr title="Jeff’s Radio">Dave</abbr> took a two-mile trek north to Gino’s East on Superior Street.

<%= project_image("photos/chicagocon/Ginos01.jpg", caption: %Q(<abbr title="Fishsticks">Paul B</abbr>, <abbr title="ßlackLeader">Chaz</abbr>, <abbr title="Rofish">Ryan</abbr>, <abbr title="Aquas">Luke</abbr>, and <abbr title="Jeff’s Radio">Dave</abbr> at Gino’s East)) %>

<%= project_image("photos/chicagocon/Ginos02.jpg", caption: %Q(<abbr title="Mr. Accident">Trip</abbr> and <abbr title="Fishsticks">Paul B</abbr> at Gino’s East)) %>

<p>We tried to order two large deep dish pizzas, but the waiter suggested two of the medium deep dish pizzas would be more than enough for us.  We had to prove him wrong, so we ordered the larges anyway.

<%= project_image("photos/chicagocon/Ginos03.jpg", caption: %Q(<abbr title="Jeff’s Radio">Dave</abbr> devours a slice of pizza.)) %>

<p>Thanks to the valiant efforts of <abbr title="Jeff’s Radio">Dave</abbr>, we had no pizza left over when we were done.

<%= link_header("Shedd Aquarium", 3) %>

<p>Meanwhile, the group which had gone to Blick Art Materials made their way to the <%= link_to("Shedd Aquarium", "http://www.sheddaquarium.org/", target: :_blank) %>.

<%= project_image("photos/chicagocon/Chicago16.jpg", attribution: %Q(<abbr title="xfisjmg1">Stephen</abbr>)) %>

<%= project_image("photos/chicagocon/ArtInstitute01.jpg", caption: %Q(<abbr title="Katon">Ben</abbr>, <abbr title="Matilda Caboose">Martin</abbr>, and <abbr title="xfisjmg1">Stephen</abbr> standing in front of #{link_to("The Art Institute of Chicago", "http://www.artic.edu/", target: :_blank)}), attribution: %Q(<abbr title="xfisjmg1">Stephen</abbr>)) %>

<%= project_image("photos/chicagocon/Chicago15.jpg", caption: %Q(<abbr title="Katon">Ben</abbr> and <abbr title="Frau Landers">Stephanie</abbr> in the City of Chicago), attribution: %Q(<abbr title="xfisjmg1">Stephen</abbr>)) %>

<%= project_image("photos/chicagocon/GrantPark01.jpg", caption: %Q(Walking through Grant Park), attribution: %Q(<abbr title="xfisjmg1">Stephen</abbr>)) %>

<%= project_image("photos/chicagocon/GrantPark02.jpg", caption: %Q(Rampaging through Grant Park), attribution: %Q(<abbr title="xfisjmg1">Stephen</abbr>)) %>

<%= project_image("photos/chicagocon/Shedd01.jpg", caption: %Q(At the Shedd Aquarium), attribution: %Q(<abbr title="xfisjmg1">Stephen</abbr>)) %>

<%= project_image("photos/chicagocon/Shedd02.jpg", attribution: %Q(<abbr title="xfisjmg1">Stephen</abbr>)) %>

<%= project_image("photos/chicagocon/Shedd03.jpg", caption: %Q(<abbr title="xfisjmg1">Stephen</abbr>), attribution: %Q(<abbr title="xfisjmg1">Stephen</abbr>)) %>

<%= project_image("photos/chicagocon/Chicago13.jpg", attribution: %Q(<abbr title="Katon">Ben</abbr>)) %>

<%= link_header("John Hancock Center", 3) %>

<p>After the Gino’s group finished lunch, we walked a few blocks up to the John Hancock Center.

<%= project_image("photos/chicagocon/Hancock01.jpg", caption: %Q(<abbr title="Rofish">Ryan</abbr>, <abbr title="Aquas">Luke</abbr>, <abbr title="Mr. Accident">Trip</abbr>, <abbr title="ßlackLeader">Chaz</abbr>, and <abbr title="Jeff’s Radio">Dave</abbr> in front of the Hancock Center)) %>

<%= project_image("photos/chicagocon/Hancock02.jpg", caption: %Q(<abbr title="Fishsticks">Paul B</abbr>, <abbr title="Aquas">Luke</abbr>, <abbr title="Mr. Accident">Trip</abbr>, <abbr title="ßlackLeader">Chaz</abbr>, and <abbr title="Jeff’s Radio">Dave</abbr> in front of the Hancock Center)) %>

<p>Fifteen dollars and an oddly-narrated elevator ride later, we arrived at the 94th-floor <%= link_to "observation deck", "http://www.360chicago.com/", target: :_blank %>.</p>

<%= project_image("photos/chicagocon/Hancock03.jpg", caption: %Q(View to the east)) %>

<%= project_image("photos/chicagocon/Hancock04.jpg", caption: %Q(View to the south)) %>

<%= project_image("photos/chicagocon/Hancock05.jpg", caption: %Q(View to the west)) %>

<%= project_image("photos/chicagocon/Hancock06.jpg", caption: %Q(View to the north)) %>

<%= project_image("photos/chicagocon/Hancock07.jpg", caption: %Q(<abbr title="Fishsticks">Paul B</abbr>)) %>

<%= project_image("photos/chicagocon/Hancock08.jpg", caption: %Q(<abbr title="Jeff’s Radio">Dave</abbr> weilds a “laser cannon.”)) %>

<%= link_header("The Pirate Cabin Tours Chicago", 3) %>

<p>After leaving the Hancock Center, we started walking back down Michigan Avenue, where we found the Pirate Cabin people.</p>

<%= project_image("photos/chicagocon/People03.jpg", caption: %Q(Conventiongoers outside the Michigan Avenue Apple Store)) %>

<p>The Pirate Cabin people had been doing their own thing all day...</p>

<%= project_image("photos/chicagocon/Chicago03.jpg", attribution: %Q(<abbr title="Skulryk">Matt</abbr>)) %>

<%= project_image("photos/chicagocon/Chicago02.jpg", attribution: %Q(<abbr title="Skulryk">Matt</abbr>)) %>

<%= project_image("photos/chicagocon/Chicago04.jpg", attribution: %Q(<abbr title="Skulryk">Matt</abbr>)) %>

<%= project_image("photos/chicagocon/Chicago05.jpg", attribution: %Q(<abbr title="Skulryk">Matt</abbr>)) %>

<%= project_image("photos/chicagocon/Chicago06.jpg", attribution: %Q(<abbr title="Skulryk">Matt</abbr>)) %>

<%= project_image("photos/chicagocon/Chicago07.jpg", attribution: %Q(<abbr title="Skulryk">Matt</abbr>)) %>

<%= project_image("photos/chicagocon/Chicago08.jpg", attribution: %Q(<abbr title="Skulryk">Matt</abbr>)) %>

<%= link_header("Millenium Park", 3) %>

<p>By then, the Gino’s/Hancock group had about an hour before we needed to catch the train home, so we decided to head to Millenium Park, which would allow us to get on at Millenium Station rather than walking all the way back to Roosevelt.</p>

<%= project_image("photos/chicagocon/MilleniumPark01.jpg", caption: %Q(The Jay Pritzker Pavilion in Millenium Park)) %>

<%= project_image("photos/chicagocon/MilleniumPark02.jpg", caption: %Q(<abbr title="Rofish">Ryan</abbr> and <abbr title="Aquas">Luke</abbr>)) %>

<p>Unfortunately, none of us were particularly familiar with the area, and after discovering that someone’s iPhone said we were already at Millenium Station, it took us a couple minutes to figure out that the station was actually <em>under</em> the park.</p>

<%= link_header("Back to Michigan City", 3) %>

<p>We got back on the train at Millenium Station, and the rest of the group met up with us at the Roosevelt Road station.</p>

<%= project_image("photos/chicagocon/Train08.jpg", caption: %Q(<abbr title="Plo">Steve</abbr> train-surfs.)) %>

<%= project_image("photos/chicagocon/NotAThruStreet01.jpg", caption: %Q(This sign was seen near the train station parking lot.  Not only is it “Not a Thru Street,” it doesn’t appear to be a street at all.)) %>

<%= link_header("Back at the House", 3) %>

<%= project_image("photos/chicagocon/Dinner02.jpg", caption: %Q(<abbr title="reidman">Reid</abbr>, <abbr title="Meeellla">Camille</abbr>, and <abbr title="Cyan683">Paul K</abbr> prepared a dinner of spaghetti, lasagna, and garlic bread.)) %>

<%= project_image("photos/chicagocon/VideoGames02.jpg", caption: %Q(People playing <i>Gitaroo Man</i>)) %>