<h2>Tuesday, July 15</h2>

<%= link_header("Sunrise at the Shore", 3) %>

<p><abbr title="Skulryk">Matt</abbr> went out on Tuesday morning to watch the sun rise over the southern shore of Lake Michigan.</p>

<%= project_image("photos/chicagocon/Beach08.jpg", attribution: %Q(<abbr title="Skulryk">Matt</abbr>)) %>

<%= project_image("photos/chicagocon/Beach09.jpg", attribution: %Q(<abbr title="Skulryk">Matt</abbr>)) %>

<%= link_header("Going To Chicago, Take Two", 3) %>

<p>After a bit of math on Monday night, we discovered that even with gas, tolls, and downtown parking rates, it was still cheaper to drive a full car or van to Chicago than to take the train round trip from Michigan City like we’d done on Monday.  We thus drove to the city on Tuesday.

<%= project_image("photos/chicagocon/Chicago09.jpg", caption: %Q(Approaching Chicago from the south on Lake Shore Drive)) %>

<%= link_header("The Art Institute of Chicago, Almost", 3) %>

<p>The original plan for the day had been to go to the <%= link_to "The Art Institute of Chicago", "http://www.artic.edu/", target: :_blank %>, as we’d heard that it was free on Tuesdays.</p>

<%= project_image("photos/chicagocon/Art01.jpg", caption: %Q(The Art Institute of Chicago)) %>

<%= project_image("photos/chicagocon/Tubes01.jpg", caption: %Q(Posing with a street performer in front of the Art Institute)) %>

<p>By the time everyone met up at the Art Institute, though, we’d discovered that it was not, in fact, free on Tuesdays &mdash; the free time was now Thursday and Friday evenings.  However, tickets were half-price after 4 PM, and it was about 3:30, so we initially decided to wait for half an hour and buy tickets when they were cheaper.  However, Kevin had been one of the first people of our group in line, and had purchased his (full-price) ticket before we’d found out about the discount.</p>

<p>Not long after that, we discovered that the reason why tickets were half-price after 4 PM was because the museum closed at 5 on Tuesdays.  An hour was not enough to properly visit the museum, so we changed our plans and chose to wait until Thursday evening and go when the museum was free.  Of course, that wasted <abbr title="SimonBob">Kevin</abbr>’s ticket.

<%= project_image("photos/chicagocon/Ticket01.jpg", caption: %Q(<abbr title="SimonBob">Kevin</abbr> holds his now-useless ticket.)) %>

<%= link_header("Shopping", 3) %>

<p>So, instead of going to the Art Institute, we headed back to the parking garage to drive a little bit outside of downtown on Chicago Street.  Our first destination: <%= link_to "Rotofugi", "https://rotofugi.com/", target: :_blank %>, a designer toy store.</p>

<%= project_image("photos/chicagocon/Rotofugi01.jpg", caption: %Q(<abbr title="reidman">Reid</abbr>, <abbr title="Chewy">Lindsay</abbr>, and <abbr title="ShadowX">Brian</abbr> at Rotofugi)) %>

<%= project_image("photos/chicagocon/Rotofugi02.jpg") %>

<%= project_image("photos/chicagocon/Rotofugi03.jpg", caption: %Q(<abbr title="sabby">Sabrina</abbr> holds up a toy)) %>

<p>After spending nearly an hour at Rotofugi, we walked down the block to Vigilante Press, a comic book store.</p>

<%= project_image("photos/chicagocon/Comics02.jpg", caption: %Q(Vigilante Press)) %>

<%= project_image("photos/chicagocon/Comics01.jpg", caption: %Q(<abbr title="Rofish">Ryan</abbr> and <abbr title="sabby">Sabrina</abbr> read comic books)) %>

<p>After that, we crossed to Permanent Records, the record store across the street.</p>

<%= project_image("photos/chicagocon/Record02.jpg", caption: %Q(<abbr title="GimeC">Will</abbr>, <abbr title="Fishsticks">Paul</abbr>, <abbr title="The Losar">Charles</abbr>, <abbr title="Rofish">Ryan</abbr>, and <abbr title="SimonBob">Kevin</abbr> browse music)) %>

<%= project_image("photos/chicagocon/Record01.jpg", caption: %Q(An alarming mannequin)) %>

<%= project_image("photos/chicagocon/Chicago11.jpg", caption: %Q(Hanging around outside Permanent Records)) %>

<%= link_header("Driving Home", 3) %>

<%= project_image("photos/chicagocon/Chicago12.jpg", caption: %Q(Driving past downtown on the way home)) %>

<%= link_header("Cooking", 3) %>

<p>We arrived home to find cooking, baking, and decorating going on.</p>

<%= project_image("photos/chicagocon/Cupcakes01.jpg", caption: %Q(Decorating cupcakes)) %>

<%= project_image("photos/chicagocon/Cupcakes02.jpg", caption: %Q(Decorating cupcakes)) %>

<%= project_image("photos/chicagocon/Cupcakes03.jpg", caption: %Q(Decorated cupcakes)) %>

<%= project_image("photos/chicagocon/Cupcakes04.jpg", caption: %Q(Edible sculptures)) %>

<%= project_image("photos/chicagocon/Cake01.jpg", caption: %Q(<abbr title="Firegirl">Sarah</abbr> holds up two halves of a cake)) %>

<%= project_image("photos/chicagocon/Cake02.jpg", caption: %Q(<abbr title="Firegirl">Sarah</abbr> frosts the cake)) %>

<%= project_image("photos/chicagocon/Cake03.jpg", caption: %Q(The completed cake)) %>

<%= link_header("Evening Fun", 3) %>

<%= project_image("photos/chicagocon/Tetris01.jpg", caption: %Q(Conventioners playing what ultimately became a ten-player game of Tetris)) %>

<%= project_image("photos/chicagocon/People04.jpg", caption: %Q(<abbr title="NeoPaula">Liz</abbr> and <abbr title="Falcon24">Derek</abbr>)) %>

<%= project_image("photos/chicagocon/Laptops02.jpg", caption: %Q(The dining room basically became a computer lab.)) %>

<%= link_header("Mafia", 3) %>

<p>That evening we played <i><%= link_to "Mafia", "https://en.wikipedia.org/wiki/Mafia_(party_game)", target: :_blank %></i>, a game where a number of participants are secretly assigned to the “Mafia” team and the rest of the people are townspeople (though some may have special roles).  The Mafia know who their other members are, and every “night,” they chose to eliminate one of the townspeople from the game.  Every “day,” the entirety of all remaining players can choose to eliminate someone they think is Mafia by a majority vote.  The winning goal for the townspeople is to eliminate all Mafia members, and the goal for Mafia members is to eliminate enough townspeople so that the remaining Mafia members make up more than half of the town and thus have a majority vote.</p>

<%= project_image("photos/chicagocon/Reid01.jpg", caption: %Q(<abbr title="reidman">Reid</abbr> waits for the game to start)) %>

<%= project_image("photos/chicagocon/Lance01.jpg", caption: %Q(<abbr title="Ffish">Lance</abbr>)) %>

<%= project_image("photos/chicagocon/Trip01.jpg", caption: %Q(<abbr title="Mr. Accident">Trip</abbr> coordinates the game of <i>Mafia</i>)) %>

<%= link_header("Denny’s", 3) %>

<p>That night, a late-night Denny’s run took place.</p>

<%= project_image("photos/chicagocon/Dennys01.jpg", caption: %Q(<abbr title="Mr. Accident">Trip</abbr>, <abbr title="Ploqazxswm">Steve</abbr>, <abbr title="Firegirl">Sarah</abbr>, and <abbr title="GimeC">Will</abbr>)) %>

<%= project_image("photos/chicagocon/Dennys02.jpg", caption: %Q(<abbr title="Ffish">Lance</abbr>)) %>

<%= project_image("photos/chicagocon/Dennys03.jpg", caption: %Q(<abbr title="Ploqazxswm">Steve</abbr>)) %>

<%= project_image("photos/chicagocon/Dennys04.jpg", caption: %Q(Driving home)) %>