<h2>Wednesday, July 16</h2>

<%= link_header("Breakfast", 3) %>

<%= project_image("photos/chicagocon/Reid02.jpg", caption: %Q(<abbr title="reidman">Reid</abbr>)) %>

<%= project_image("photos/chicagocon/Wrap01.jpg", caption: %Q(<abbr title="reidman">Reid</abbr>’s “ultimate breakfast burrito”)) %>

<%= project_image("photos/chicagocon/Continuum01.jpg", caption: %Q(Playing <i>Continuum</i>)) %>

<%= link_header("Departures", 3) %>

<p>A few people had to leave in the middle of the week.</p>

<%= project_image("photos/chicagocon/Sarah01.jpg", caption: %Q(<abbr title="Firegirl">Sarah</abbr> departs for some birthday celebrations back home.  They didn’t end up happening, though, and she returned to us later.)) %>

<%= project_image("photos/chicagocon/Bill01.jpg", caption: %Q(<abbr title="Sephy">Bill</abbr> planned to leave as well.)) %>

<%= project_image("photos/chicagocon/Bill02.jpg", caption: %Q(However, <abbr title="Sephy">Bill</abbr>’s departure was delayed by his car not starting.  Unfortunately, his car was parked facing downhill in the driveway, making it impossible to get another car in front of it to jump start it.)) %>

<%= project_image("photos/chicagocon/Bill03.jpg", caption: %Q(Finally, <abbr title="Cyan683">Paul K</abbr> found some cables long enough to allow us to jump start it from behind, and <abbr title="Sephy">Bill</abbr> was able to go on his way.)) %>

<%= link_header("Early Afternoon", 3) %>

<%= project_image("photos/chicagocon/Clay01.jpg", caption: %Q(Several conventiongoers play with clay)) %>

<%= project_image("photos/chicagocon/Clay02.jpg", caption: %Q(<abbr title="Meeellla">Camille</abbr>)) %>

<%= project_image("photos/chicagocon/PloRamen01.jpg", caption: %Q(<abbr title="Ploqazxswm">Steve</abbr> eats a gourmet dinner of ramen noodles)) %>

<%= project_image("photos/chicagocon/Macs01.jpg", caption: %Q(<abbr title="reidman">Reid</abbr> and <abbr title="Jonk">Jon</abbr>)) %>

<%= project_image("photos/chicagocon/Macs02.jpg", caption: %Q(Multiplayer Google Maps)) %>

<%= link_header("The Dunes and Mount Baldy", 3) %>

<p>That afternoon, a large group of us went on a short drive to the local state park.</p>

<%= project_image("photos/chicagocon/Fishtank01.jpg", caption: %Q(<abbr title="Fishsticks">Paul B</abbr> in the Fishtank)) %>

<%= project_image("photos/chicagocon/Baldy01.jpg", caption: %Q(Hanging out in the parking lot while we wait for people to arrive and change)) %>

<%= project_image("photos/chicagocon/Baldy02.jpg", caption: %Q(Walking to the shore)) %>

<%= project_image("photos/chicagocon/Baldy03.jpg", caption: %Q(Shirtless nerds observe Lake Michigan)) %>

<p>It was a very warm day, so we inevitably started swimming.</p>

<%= project_image("photos/chicagocon/Baldy04.jpg") %>

<%= project_image("photos/chicagocon/Baldy05.jpg") %>

<%= project_image("photos/chicagocon/Baldy06.jpg") %>

<%= project_image("photos/chicagocon/Baldy07.jpg") %>

<%= project_image("photos/chicagocon/Baldy08.jpg") %>

<%= project_image("photos/chicagocon/Baldy09.jpg") %>

<%= link_header("Bowling", 3) %>

<p>After getting back from the dunes, we drove to a bowling alley.</p>

<%= project_image("photos/chicagocon/Bowling01.jpg") %>

<%= project_image("photos/chicagocon/Bowling02.jpg") %>

<%= project_image("photos/chicagocon/Bowling03.jpg", caption: %Q(<abbr title="Ploqazxswm">Steve</abbr>, <abbr title="Firegirl">Sarah</abbr>, <abbr title="Jeff’s Radio">Dave</abbr>, and <abbr title="The Losar">Charles</abbr>)) %>

<%= project_image("photos/chicagocon/Bowling04.jpg", caption: %Q(<abbr title="SimonBob">Kevin</abbr>)) %>

<%= project_image("photos/chicagocon/Bowling05.jpg", caption: %Q(The danger of answering “surprise me” to a question of what one’s name should be on the scoring computer)) %>

<%= project_image("photos/chicagocon/Bowling06.jpg", caption: %Q(<abbr title="Fishsticks">Paul B</abbr>)) %>

<%= link_header("Bonfire", 3) %>

<p>From the bowling alley, we took a 45-minute drive to <abbr title="reidman">Reid</abbr>’s aunt’s rural home for dinner and a bonfire.</p>

<%= project_image("photos/chicagocon/Bonfire01.jpg", caption: %Q(Gathering up the food)) %>

<%= project_image("photos/chicagocon/Bonfire02.jpg", caption: %Q(<abbr title="Ffish">Lance</abbr>)) %>

<%= project_image("photos/chicagocon/Bonfire03.jpg", caption: %Q(Lining up for food)) %>

<%= project_image("photos/chicagocon/Bonfire04.jpg", caption: %Q(Relaxing in front of the fire)) %>

<%= project_image("photos/chicagocon/Bonfire05.jpg", caption: %Q(The fire)) %>

<%= project_image("photos/chicagocon/Bonfire06.jpg", caption: %Q(<abbr title="reidman">Reid</abbr> addresses us)) %>

<%= project_image("photos/chicagocon/Bonfire07.jpg", caption: %Q(<abbr title="Ploqazxswm">Steve</abbr>, master of fire)) %>

<%= project_image("photos/chicagocon/Bonfire09.jpg", caption: %Q(Several games of <i>Mafia</i> were played around the fire.)) %>