<h2>Thursday, July 17</h2>

<%= link_header("Into Chicago III", 3) %>

<p>On Thursday, we took our third trip to downtown Chicago.  We had two goals for this trip: meeting with other site members at the Starmen.Net Subcon, and taking the trip to the Art Institute that we’d postponed from Tuesday.</p>

<%= project_image("photos/chicagocon/Fishtank02.jpg", caption: %Q(The Fishtank is loaded and ready to go to Chicago)) %>

<%= project_image("photos/chicagocon/Chicago18.jpg", caption: %Q(Driving into the city), attribution: %Q(<abbr title="xfisjmg1">Stephen</abbr>)) %>

<%= link_header("Starmen.Net Subcon", 3) %>

<p>The <%= link_to "Starmen.Net Subcon", "http://forum.starmen.net/forum/Site/Discussion/Starmen-Net-Subcon-Chicago/first", target: :_blank %> was an open invitation to any and all Starmen.Net members to meet with those of us from the convention at Millenium Park at 1:30 PM.</p>

<%= project_image("photos/chicagocon/Subcon01.jpg", caption: %Q(Waiting around for anybody who happens to show up)) %>

<%= project_image("photos/chicagocon/Subcon02.jpg", caption: %Q(Shiny)) %>

<%= project_image("photos/chicagocon/Subcon03.jpg", caption: %Q(<abbr title="Fishsticks">Paul B</abbr> takes a self-portrait)) %>

<%= project_image("photos/chicagocon/Skyline01.jpg", caption: %Q(A partial view of the skyline from the park)) %>

<%= project_image("photos/chicagocon/MilleniumPark03.jpg", caption: %Q(<abbr title="Ploqazxswm">Steve</abbr> eats a hot dog)) %>

<%= project_image("photos/chicagocon/MilleniumPark04.jpg", caption: %Q(<abbr title="ozwalled">Rob</abbr> eats a hot dog)) %>

<%= project_image("photos/chicagocon/Subcon04.jpg", caption: %Q(Kine shows up to the minicon)) %>

<%= project_image("photos/chicagocon/Reid03.jpg", caption: %Q(<abbr title="reidman">Reid</abbr>)) %>

<p>We began playing "dumb baseball", playing with a tennis ball and a wiffle bat, and using the shadows from the structure over the park to denote our bases.  Unfortunately, that made our bases disappear when the sun went behind a cloud.</p>

<%= project_image("photos/chicagocon/DumbBaseball01.jpg", caption: %Q(Dumb baseball)) %>

<%= project_image("photos/chicagocon/DumbBaseball02.jpg", caption: %Q(Dumb baseball)) %>

<%= project_image("photos/chicagocon/Subcon05.jpg") %>

<%= project_image("photos/chicagocon/Subcon06.jpg") %>

<%= project_image("photos/chicagocon/Subcon07.jpg", caption: %Q(Butts)) %>

<%= project_image("photos/chicagocon/Subcon08.jpg", caption: %Q(<abbr title="reidman">Reid</abbr> and <abbr title="Ploqazxswm">Steve</abbr>)) %>

<%= link_header("The Art Institute of Chicago, For Real", 3) %>

<p>With the knowledge of the correct time that the <%= link_to "The Art Institute of Chicago", "http://www.artic.edu/", target: :_blank %> had free admission, we headed down the sidewalk to get there.</p>

<%= project_image("photos/chicagocon/ArtInstitute02.jpg", caption: %Q(The Art Institute)) %>

<%= project_image("photos/chicagocon/ArtInstitute03.jpg", caption: %Q(It’s a lion!  Get in the car, <abbr title="SimonBob">Kevin</abbr>!)) %>

<%= project_image("photos/chicagocon/ArtInstitute04.jpg", caption: %Q(<abbr title="Ploqazxswm">Steve</abbr> and <abbr title="reidman">Reid</abbr>)) %>

<%= project_image("photos/chicagocon/Skyline02.jpg", caption: %Q(A view of part of the skyline at sunset as seen from a window of the museum)) %>

<p>We’d all agreed to meet back at the front of the museum at 8:00 PM so we could go to dinner.</p>

<%= project_image("photos/chicagocon/ArtInstitute12.jpg") %>

<%= project_image("photos/chicagocon/ArtInstitute13.jpg") %>

<%= project_image("photos/chicagocon/ArtInstitute14.jpg") %>

<%= project_image("photos/chicagocon/ArtInstitute15.jpg") %>

<%= link_header("Gino’s, Again", 3) %>

<p>Once we had everyone together, it was time to walk to Gino’s.</p>

<%= project_image("photos/chicagocon/Chicago17.jpg", caption: %Q(The Sears Tower, as seen from the front steps of the Art Institute)) %>

<%= project_image("photos/chicagocon/People05.jpg", caption: %Q(Walking up Michigan Avenue at dusk)) %>

<%= project_image("photos/chicagocon/Chicago19.jpg", attribution: %Q(<abbr title="xfisjmg1">Stephen</abbr>)) %>

<%= project_image("photos/chicagocon/People06.jpg") %>

<p>We finally arrived at Gino’s East, although there was a line out the door to get a table.  Thus, we split ourselves into five groups of four in order to be seated sooner.</p>

<%= project_image("photos/chicagocon/Ginos04.jpg", caption: %Q(Gino’s East)) %>

<%= project_image("photos/chicagocon/Ginos16.jpg", caption: %Q(The crowd outside), attribution: %Q(<abbr title="xfisjmg1">Stephen</abbr>)) %>

<%= project_image("photos/chicagocon/Ginos05.jpg", caption: %Q(Waiting outside for a table)) %>

<%= project_image("photos/chicagocon/Ginos12.jpg", caption: %Q(<abbr title="Fishsticks">Paul B</abbr>, <abbr title="xfisjmg1">Stephen</abbr>, <abbr title="Jeff’s Radio">Dave</abbr>, and <abbr title="Ffish">Lance</abbr>)) %>

<%= project_image("photos/chicagocon/Ginos07.jpg", caption: %Q(<abbr title="melcat">Mallory</abbr>, <abbr title="Meeellla">Camille</abbr>, <abbr title="Ozwalled">Rob</abbr>, and <abbr title="Mr. Accident">Trip</abbr>)) %>

<%= project_image("photos/chicagocon/Ginos08.jpg", caption: %Q(<abbr title="Gonmon">Logan</abbr>, <abbr title="ßlackLeader">Chaz</abbr>, and <abbr title="reidman">Reid</abbr>)) %>

<%= project_image("photos/chicagocon/Ginos10.jpg", caption: %Q(<abbr title="Cyan683">Paul K</abbr>, <abbr title="Jonk">Jon</abbr>, <abbr title="sabby">Sabrina</abbr>, and <abbr title="The Losar">Charles</abbr>)) %>

<%= project_image("photos/chicagocon/Ginos09.jpg", caption: %Q(<abbr title="Ploqazxswm">Steve</abbr>, <abbr title="GimeC">Will</abbr>, <abbr title="Katon">Ben</abbr>, and <abbr title="Frau Landers">Stephanie</abbr>)) %>

<%= project_image("photos/chicagocon/Ginos11.jpg", caption: %Q(<abbr title="Katon">Ben</abbr> apparently likes his drinks sweet.)) %>

<%= project_image("photos/chicagocon/Pizza01.jpg", caption: %Q(The pizza), attribution: %Q(<abbr title="melcat">Mallory</abbr>)) %>

<p>Gino’s seemed to encourage drawing on any available surface.  Of course, <%= link_to "Starmen.Net", "https://starmen.net/", target: :_blank %> had to leave its mark.</p>

<%= project_image("photos/chicagocon/Ginos06.jpg", caption: %Q(An example of the writing on the walls)) %>

<%= project_image("photos/chicagocon/Ginos13.jpg", caption: %Q(The starman symbol)) %>

<%= project_image("photos/chicagocon/Ginos14.jpg", caption: %Q(ß the starman symbol, and a <abbr title="It’s borange!">fobby</abbr>)) %>

<%= project_image("photos/chicagocon/Ginos15.jpg", caption: %Q(Mr. Saturn)) %>

<p>After dinner, the three drivers took a bus back down to our parking garage while the rest of the group waited at Gino’s to be picked up.</p>

<%= project_image("photos/chicagocon/People07.jpg", caption: %Q(<abbr title="melcat">Mallory</abbr> and <abbr title="reidman">Reid</abbr> after getting off the bus)) %>

<%= project_image("photos/chicagocon/Chicago21.jpg", caption: %Q(Driving back up to Gino’s to pick everyone up)) %>

<%= project_image("photos/chicagocon/Fishtank03.jpg", caption: %Q(In the Fishtank)) %>

<%= project_image("photos/chicagocon/Chicago20.jpg", caption: %Q(Driving home), attribution: %Q(<abbr title="xfisjmg1">Stephen</abbr>)) %>

<%= link_header("Back at the House", 3) %>

<p>Those who had not come with us to Chicago had been playing <i>EarthBound</i> all day.</p>

<%= project_image("photos/chicagocon/EarthBound01.jpg", caption: %Q(Playing <i>EarthBound</i>)) %>

<%= project_image("photos/chicagocon/EarthBound02.jpg", caption: %Q(Playing <i>EarthBound</i>)) %>

<%= project_image("photos/chicagocon/Nepas01.jpg", caption: %Q(A box of Nepas)) %>

<%= project_image("photos/chicagocon/Porch03.jpg", caption: %Q(People hanging out on the balcony)) %>

<%= project_image("photos/chicagocon/Porch04.jpg", caption: %Q(<abbr title="Mr. Accident">Trip</abbr> and <abbr title="reidman">Reid</abbr> look down from above)) %>