<h2>Friday, July 18</h2>

<%= link_header("Friday Morning", 3) %>

<p>Friday was the last full day of the convention. <abbr title="Mansion Maniac">Tony</abbr> showed up that morning.</p>

<%= project_image("photos/chicagocon/TheNerdening01.jpg", caption: %Q(<abbr title="ßlackLeader">Chaz</abbr> and <abbr title="Mansion Maniac">Tony</abbr> play <i>Magic: The Gathering</i>. <abbr title="Mr. Accident">Trip</abbr> comments that “it’s like the nerdening.”)) %>

<%= project_image("photos/chicagocon/People08.jpg", caption: %Q(<abbr title="ßlackLeader">Chaz</abbr> and <abbr title="Mansion Maniac">Tony</abbr> begin setting up for the #{link_to "Radio PSI", "https://starmen.net/radio/", target: :_blank} show to be hosted Friday evening.)) %>

<%= project_image("photos/chicagocon/RadioPSI02.jpg", caption: %Q(<abbr title="Ozwalled">Rob</abbr> advertises the show.)) %>

<%= project_image("photos/chicagocon/Kitchen03.jpg", caption: %Q(<abbr title="reidman">Reid</abbr>)) %>

<%= project_image("photos/chicagocon/Kitchen04.jpg", caption: %Q(<abbr title="Jonk">Jon</abbr>)) %>

<%= project_image("photos/chicagocon/InCaseOfLion01.jpg") %>

<%= link_header("Fobbies Are Borange: The Movie", 3) %>

<p>While <%= link_to "Fobbies are Borange", "http://fobbiesareborange.com/", target: :_blank %> is normally an audio-only segment on Radio PSI, a large number of the voices were present at the convention, and they decided to create a video episode.  This, of course, required dressing for the occasion.</p>

<%= project_image("photos/chicagocon/FobbiesAreBorange02.jpg", caption: %Q(<abbr title="xfisjmg1">Stephen</abbr> as #{link_to "Ness", "https://starmen.net/mother2/characters/", target: :_blank})) %>

<%= project_image("photos/chicagocon/FobbiesAreBorange03.jpg", caption: %Q(
  <abbr title="xfisjmg1">Ben</abbr> as #{link_to "Jeff", "https://starmen.net/mother2/characters/", target: :_blank}<br/>
	<abbr title="Matilda Caboose">Martin</abbr> as #{link_to "Paula", "https://starmen.net/mother2/characters/", target: :_blank}<br/>
	<abbr title="Frau Landers">Stephanie</abbr> as the Magic Cake Lady)) %>

<%= project_image("photos/chicagocon/FobbiesAreBorange04.jpg", caption: %Q(
	<abbr title="Matilda Caboose">Martin</abbr> as #{link_to "Paula", "https://starmen.net/mother2/characters/", target: :_blank}<br/>
	<abbr title="xfisjmg1">Stephen</abbr> as #{link_to "Ness", "https://starmen.net/mother2/characters/", target: :_blank}<br/>
	<abbr title="xfisjmg1">Mallory</abbr> as the White Sesame Seed<br/>
	<abbr title="xfisjmg1">Ben</abbr> as #{link_to "Jeff", "https://starmen.net/mother2/characters/", target: :_blank}<br/>
	<abbr title="Frau Landers">Stephanie</abbr> as the Magic Cake Lady<br/>
	<abbr title="ßlackLeader">Chaz</abbr> as the Bus Driver)) %>

<%= project_image("photos/chicagocon/FobbiesAreBorange05.jpg", caption: %Q(<abbr title="Chewy">Lindsay</abbr> was not part of the video, but she still dressed up as the Bubble Monkey.)) %>

<div class="center">
  <iframe src="https://player.vimeo.com/video/1425513" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>

<%= link_header("Flip’s Cascade Mountain Adventure Park", 3) %>

<p>The plan for the day was to go to a local mini-golf course.</p>

<%= project_image("photos/chicagocon/Rallys01.jpg", caption: %Q(Stopping along the way for lunch)) %>

<p>We arrived at the park, only to discover that it seemed a bit run-down. But we weren’t going to let that stop us.</p>

<%= project_image("photos/chicagocon/Flips11.jpg", caption: %Q(With an entrance as well-landscaped as this, you know it has to be good.)) %>

<%= project_image("photos/chicagocon/Flips01.jpg", caption: %Q(<abbr title="Fishsticks">Paul B</abbr> was tall enough to ride the go-karts...)) %>

<%= project_image("photos/chicagocon/Flips22.jpg", caption: %Q(...but apparently <abbr title="xfisjmg1">Stephen</abbr> was not.), attribution: %Q(<abbr title="xfisjmg1">Stephen</abbr>)) %>

<p>Even with stopping for lunch, our group was still the first there by nearly fourty-five minutes.  While we waited for the others to arrive, we played around in Flip’s arcade.


<%= project_image("photos/chicagocon/Flips02.jpg", caption: %Q(Whac-A-Mole)) %>

<%= project_image("photos/chicagocon/Flips03.jpg", caption: %Q(Tic Tac Strike)) %>

<%= project_image("photos/chicagocon/Flips04.jpg", caption: %Q(Claw machine)) %>

<%= project_image("photos/chicagocon/Flips05.jpg", caption: %Q(Skee-ball)) %>

<%= project_image("photos/chicagocon/Flips06.jpg", caption: %Q(Air hockey)) %>

<%= project_image("photos/chicagocon/Flips07.jpg", caption: %Q(Pool)) %>

<%= project_image("photos/chicagocon/Flips08.jpg", caption: %Q(Racing games)) %>

<%= project_image("photos/chicagocon/Flips09.jpg", caption: %Q(Spark Challenge)) %>

<%= project_image("photos/chicagocon/Flips10.jpg", caption: %Q(Spark Challenge)) %>

<p>The rest of the people finally arrived, and we headed on to the golf course.</p>

<%= project_image("photos/chicagocon/Golf04.jpg", caption: %Q(The leaky sign)) %>

<%= project_image("photos/chicagocon/Golf01.jpg", caption: %Q(<abbr title="Fishsticks">Paul B</abbr> putts)) %>

<%= project_image("photos/chicagocon/Golf02.jpg", caption: %Q(The most annoying hole on the course.  Every surface slopes towards the water, so if you didn’t hit your shots perfectly, you’d end up with a wet ball every putt.)) %>

<%= project_image("photos/chicagocon/Golf03.jpg", caption: %Q(Another view of the annoying hole)) %>

<%= project_image("photos/chicagocon/Golf23.jpg", caption: %Q(<abbr title="Carparama">Randy</abbr> and <abbr title="Mansion Maniac">Tony</abbr> duel), attribution: %Q(<abbr title="xfisjmg1">Stephen</abbr>)) %>

<%= project_image("photos/chicagocon/Golf05.jpg", caption: %Q(<abbr title="Jonk">Jon</abbr> moves the ball in a way that is decidedly not putting)) %>

<%= project_image("photos/chicagocon/Golf06.jpg", caption: %Q(<abbr title="The Losar">Charlie</abbr>)) %>

<%= project_image("photos/chicagocon/Golf07.jpg", caption: %Q(Looking back at the fourth hole)) %>

<%= project_image("photos/chicagocon/Golf08.jpg", caption: %Q(<abbr title="Jonk">Jon</abbr> retrieves a ball)) %>

<%= project_image("photos/chicagocon/Golf09.jpg", caption: %Q(The waterfall near this hole leaks onto the course.  Brilliant design, Flip.)) %>

<%= project_image("photos/chicagocon/Golf10.jpg", caption: %Q(<abbr title="sabby">Sabrina</abbr> brings back a ball.)) %>

<%= project_image("photos/chicagocon/Golf11.jpg", caption: %Q(<abbr title="Jonk">Jon</abbr> provides an obstacle for <abbr title="Fishsticks">Paul B</abbr>)) %>

<%= project_image("photos/chicagocon/Golf12.jpg", caption: %Q(<abbr title="Fishsticks">Paul B</abbr>)) %>

<%= project_image("photos/chicagocon/Golf13.jpg", caption: %Q(<abbr title="Fishsticks">Paul B</abbr> attempts to drive a Wendy’s bag with a putter)) %>

<%= project_image("photos/chicagocon/Golf14.jpg", caption: %Q(<abbr title="Chewy">Lindsay</abbr>, <abbr title="ctoner">Casey T</abbr>, and <abbr title="Ploqazxswm">Steve</abbr>)) %>

<%= project_image("photos/chicagocon/Golf15.jpg", caption: %Q(<abbr title="melcat">Mallory</abbr> gets her ball out of the water)) %>

<%= project_image("photos/chicagocon/Golf16.jpg", caption: %Q(The thirteenth hole was in a tunnel under the source of the waterfall.  As would be expected, it was dark, damp, and moldy.)) %>

<%= project_image("photos/chicagocon/Golf17.jpg", caption: %Q(<abbr title="xfisjmg1">Stephen</abbr>, <abbr title="Meeellla">Camille</abbr>, and <abbr title="reidman">Reid</abbr> in the gross hole)) %>

<%= project_image("photos/chicagocon/Golf18.jpg", caption: %Q(<abbr title="Jonk">Jon</abbr> in the gross hole)) %>

<%= project_image("photos/chicagocon/Golf19.jpg", caption: %Q(The Plinko hole)) %>

<%= project_image("photos/chicagocon/Golf20.jpg", caption: %Q(<abbr title="reidman">Reid</abbr> hits a Nerf football with his putter)) %>

<%= project_image("photos/chicagocon/Golf22.jpg", caption: %Q(<abbr title="sabby">Sabrina</abbr> putts at the eighteenth hole.)) %>

<p>After golfing, we went back to the arcade and to various other parts of Flip’s.</p>

<%= project_image("photos/chicagocon/Flips12.jpg", caption: %Q(<abbr title="reidman">Reid</abbr>, racer)) %>

<%= project_image("photos/chicagocon/Flips15.jpg", caption: %Q(<abbr title="SimonBob">Kevin</abbr> and Galaga)) %>

<%= project_image("photos/chicagocon/Flips16.jpg", caption: %Q(A chicken)) %>

<%= project_image("photos/chicagocon/Flips17.jpg", caption: %Q(<abbr title="Meeellla">Camille</abbr>, <abbr title="ctoner">Casey T</abbr>, and <abbr title="Ozwalled">Rob</abbr>)) %>

<%= project_image("photos/chicagocon/Flips13.jpg", caption: %Q(<abbr title="Fishsticks">Paul B</abbr>)) %>

<%= project_image("photos/chicagocon/Flips14.jpg", caption: %Q(<abbr title="Meeellla">Camille</abbr> and <abbr title="sabby">Sabrina</abbr>)) %>

<%= project_image("photos/chicagocon/Flips18.jpg", caption: %Q(<abbr title="Carparama">Randy</abbr> in the batting cages)) %>

<%= project_image("photos/chicagocon/Flips19.jpg", caption: %Q(<abbr title="Jonk">Jon</abbr>, <abbr title="SimonBob">Kevin</abbr>, <abbr title="melcat">Mallory</abbr>, <abbr title="xfisjmg1">Stephen</abbr>, and <abbr title="Cyan683">Paul K</abbr> on the Go-Karts)) %>

<%= project_image("photos/chicagocon/Flips20.jpg", caption: %Q(<abbr title="Jonk">Jon</abbr>)) %>

<%= project_image("photos/chicagocon/Flips21.jpg", caption: %Q(<abbr title="SimonBob">Kevin</abbr> and <abbr title="xfisjmg1">Stephen</abbr>)) %>

<%= link_header("Radio PSI", 3) %>

<p>Once we arrived back at the house, it was time to finish setting up for the <%= link_to "Radio PSI", "https://starmen.net/radio/", target: :_blank %> broadcast.</p>

<%= project_image("photos/chicagocon/RadioPSI03.jpg", caption: %Q(Setting up)) %>

<%= project_image("photos/chicagocon/RadioPSI04.jpg", caption: %Q(The broadcast begins)) %>

<%= project_image("photos/chicagocon/RadioPSI05.jpg", caption: %Q(<abbr title="Cyan683">Paul K</abbr> interviews <abbr title="Ploqazxswm">Steve</abbr>)) %>

<%= project_image("photos/chicagocon/RadioPSI06.jpg", caption: %Q(<abbr title="Mansion Maniac">Tony</abbr> interviews a toilet)) %>

<%= project_image("photos/chicagocon/RadioPSI07.jpg", caption: %Q(<abbr title="Cyan683">Paul K</abbr> interviews <abbr title="reidman">Reid</abbr>)) %>

<%= link_header("Dinner", 3) %>

<p>While the radio show was finishing up, dinner was being cooked.</p>

<%= project_image("photos/chicagocon/Poutine01.jpg", caption: %Q(Pseudo-poutine)) %>

<%= project_image("photos/chicagocon/Steak01.jpg", caption: %Q(Steak)) %>

<%= link_header("The Final Evening", 3) %>

<%= project_image("photos/chicagocon/VideoGames03.jpg", caption: %Q(Did you really expect any different?)) %>

<%= project_image("photos/chicagocon/Macs03.jpg") %>

<p>The evening culminated in a bonfire at the beach.</p>

<%= project_image("photos/chicagocon/Bonfire11.jpg") %>

<%= project_image("photos/chicagocon/Bonfire12.jpg") %>