<h2>Saturday, July 19</h2>

<%= link_header("Departure", 3) %>

<p>Saturday ended the convention; we were required to be out of our rental house at 10 AM.</p>

<%= project_image("photos/chicagocon/Biscuits01.jpg", caption: %Q(Biscuits)) %>

<%= project_image("photos/chicagocon/FreeFood01.jpg", caption: %Q(Free food)) %>

<%= project_image("photos/chicagocon/FreeToys01.jpg", caption: %Q(Free toys)) %>

<%= project_image("photos/chicagocon/Gatorade01.jpg", caption: %Q(<abbr title="melcat">Mallory</abbr>’s enormous jug of Gatorade)) %>

<%= project_image("photos/chicagocon/Fridge01.jpg", caption: %Q(Cleaning out the fridge)) %>

<%= project_image("photos/chicagocon/Packing01.jpg", caption: %Q(Packing)) %>

<%= project_image("photos/chicagocon/Leaving01.jpg", caption: %Q(Saying goodbye)) %>

<%= project_image("photos/chicagocon/Leaving02.jpg", caption: %Q(More farewells)) %>

<%= project_image("photos/chicagocon/Leaving04.jpg", caption: %Q(<abbr title="Ffish">Lance</abbr>)) %>

<%= project_image("photos/chicagocon/Leaving05.jpg", caption: %Q(The Reidmobile is almost packed and ready to go)) %>

<%= link_header("We Are Susan", 3) %>

<p>The last five people to leave the house were <abbr title="Fishsticks">Paul B</abbr>, <abbr title="Ffish">Lance</abbr>, <abbr title="Gonmon">Logan</abbr>, <abbr title="xfisjmg1">Stephen</abbr>, and <abbr title="GimeC">Will</abbr>.  <abbr title="Fishsticks">Paul B</abbr> was simply driving home by himself from the convention, and could leave at any time.  However, <abbr title="Ffish">Lance</abbr> was responsible for taking the others to their airports, so <abbr title="Fishsticks">Paul B</abbr>, with nothing better to do, decided to drive with them and eat lunch with them near O’Hare.  The five of them eventually converged on a T.G.I. Friday’s in Rosemont.</p>

<%= project_image("photos/chicagocon/Susan01.jpg", caption: %Q(Sitting around the table)) %>

<p>The restaurant was pretty empty; we were the only people sitting in our section of the restaurant, and we were one of maybe only three or four occupied tables.  Thus, we were screwing around a lot, since there wasn’t anyone to annoy.</p>

<%= project_image("photos/chicagocon/Susan02.jpg", caption: %Q(<abbr title="Gonmon">Logan</abbr> tries to fit the card back into its holder)) %>

<%= project_image("photos/chicagocon/Susan03.jpg", caption: %Q(<abbr title="Gonmon">Logan</abbr> plays with a knife while <abbr title="xfisjmg1">Stephen</abbr> counters with the ketchup bottle)) %>

<%= project_image("photos/chicagocon/Susan04.jpg", caption: %Q(<abbr title="Fishsticks">Paul B</abbr> and <abbr title="GimeC">Will</abbr>)) %>

<p>Of course, the idea of saying it was someone’s birthday came up at some point during the discussion; our server happened to be in earshot at the time, and decided to go along with it, even though the birthday was obviously fake.  After much back and forth with our server as to what name we should use and whose birthday it would be, we finally decided that the five of us collectively were “Susan,” and it was Susan’s birthday.</p>

<div class="center">
  <iframe src="https://player.vimeo.com/video/1379623" width="640" height="480" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>

<%= project_image("photos/chicagocon/Susan05.jpg", caption: %Q(Our birthday treat)) %>

<p>We decided to see how long the candle would last until it was put out by molten ice cream if we didn’t blow it out ourselves.</p>

<%= project_image("photos/chicagocon/Susan06.jpg", caption: %Q(<abbr title="Ffish">Lance</abbr> drinks the dessert as <abbr title="xfisjmg1">Stephen</abbr> eats it in a more traditional manner)) %>

<%= project_image("photos/chicagocon/Susan07.jpg", caption: %Q(The candle’s still going...)) %>

<%= project_image("photos/chicagocon/Susan08.jpg", caption: %Q(...and still going.  It burned out about two minutes after this photo.)) %>

<%= project_image("photos/chicagocon/CokeNoTomato01.jpg", caption: %Q(To be fair, the Coke did not, in fact, have any tomatoes in it.)) %>

<%= project_image("photos/chicagocon/Susan09.jpg", caption: %Q(<abbr title="GimeC, Ffish, xfisjmg1, Gonmon, and Fishsticks">Susan</abbr> at the T.G.I. Friday’s sign)) %>

<p><abbr title="GimeC, Ffish, xfisjmg1, Gonmon, and Fishsticks">Susan</abbr> then walked next door to Baskin Robbins for (more) dessert.</p>

<%= project_image("photos/chicagocon/Susan10.jpg", caption: %Q(<abbr title="Gonmon">Susan</abbr> at Baskin Robbins)) %>

<%= project_image("photos/chicagocon/WaffaleCone01.jpg", caption: %Q(Apparently they have waffale cones.)) %>

<p>After that, it was time to depart.</p>

<%= project_image("photos/chicagocon/Susan11.jpg", caption: %Q(<abbr title="GimeC, Ffish, xfisjmg1, and Gonmon">Susan</abbr> prepares to get back into <abbr title="Ffish">Susan</abbr>’s car and drive to the airport)) %>

<%= project_image("photos/chicagocon/Susan12.jpg", caption: %Q(<abbr title="Fishsticks">Susan</abbr> goes back to the Fishtank for the drive home.), attribution: %Q(<abbr title="xfisjmg1">Stephen</abbr>)) %>

<p>Thus ended Chicagocon 2008.</p>

<p>And finally…</p>

<%= link_header("DINO RAMPAGE", 3) %>