<% provide(:title, "PAX Prime 2011") %>
<% provide(:meta_description, "Photos from PAX Prime 2011") %>
<% provide(:theme, "pax-west")%>

<%= render partial: "static_pages/galleries/pax_gallery_link" %>

<h1>PAX Prime 2011</h1>

<p>PAX Prime 2011 took place in Seattle, Washington on 26&ndash;28 August, 2011.</p>

<%= project_image("photos/pax-prime-2011/2011-08-25 19.12.37.jpg") %>
<%= project_image("photos/pax-prime-2011/2011-08-25 21.25.40.jpg", caption: "The convention had spread out to several surrounding buildings as well, including the Paramount Theatre") %>
<%= project_image("photos/pax-prime-2011/2011-08-25 23.40.11.jpg") %>
<%= project_image("photos/pax-prime-2011/2011-08-26 00.54.45.jpg", caption: "On Friday, I had dinner at the restaurant at the top of the Space Needle") %>
<%= project_image("photos/pax-prime-2011/2011-08-26 01.53.46.jpg") %>
<%= project_image("photos/pax-prime-2011/2011-08-26 11.47.20.jpg") %>
<%= project_image("photos/pax-prime-2011/2011-08-26 12.30.07.jpg") %>

<%= project_image("photos/pax-prime-2011/2011-08-26 15.44.45.jpg", caption: "Fangamer booth dry erase art") %>
<%= project_image("photos/pax-prime-2011/2011-08-26 16.47.54.jpg", caption: "Fangamer booth dry erase art") %>
<%= project_image("photos/pax-prime-2011/2011-08-27 21.04.36.jpg", caption: "Fangamer booth dry erase art") %>

<%= project_image("photos/pax-prime-2011/2011-08-26 16.24.27.jpg") %>
<%= project_image("photos/pax-prime-2011/2011-08-26 16.52.45.jpg", caption: "Bathroom advertising") %>
<%= project_image("photos/pax-prime-2011/2011-08-26 19.28.27.jpg") %>
<%= project_image("photos/pax-prime-2011/2011-08-27 01.50.29.jpg") %>
<%= project_image("photos/pax-prime-2011/2011-08-26 13.33.39.jpg") %>
<%= project_image("photos/pax-prime-2011/2011-08-27 02.01.20.jpg") %>
<%= project_image("photos/pax-prime-2011/2011-08-27 02.06.50.jpg") %>
<%= project_image("photos/pax-prime-2011/2011-08-27 12.17.18.jpg") %>
<%= project_image("photos/pax-prime-2011/2011-08-27 12.18.43.jpg", caption: "Queue room, where people lined up before the exhibit hall opened each morning") %>

<%= project_image("photos/pax-prime-2011/2011-08-27 13.55.24.jpg") %>
<%= project_image("photos/pax-prime-2011/2011-08-26 16.30.26.jpg", caption: %Q(<i>Skyrim</i> booth)) %>
<%= project_image("photos/pax-prime-2011/2011-08-27 14.09.30.jpg", caption: %Q(<i>Skyrim</i> booth)) %>
<%= project_image("photos/pax-prime-2011/2011-08-27 13.18.32.jpg", caption: %Q(<i>Skyrim</i> booth)) %>
<%= project_image("photos/pax-prime-2011/2011-08-27 15.42.21.jpg", caption: %Q(<i>Skyrim</i> booth)) %>

<%= project_image("photos/pax-prime-2011/2011-08-27 13.20.20.jpg") %>
<%= project_image("photos/pax-prime-2011/2011-08-27 18.08.17.jpg") %>
<%= project_image("photos/pax-prime-2011/2011-08-27 19.14.26.jpg") %>
<%= project_image("photos/pax-prime-2011/2011-08-27 19.41.28.jpg") %>
<%= project_image("photos/pax-prime-2011/2011-08-27 20.06.26.jpg") %>
<%= project_image("photos/pax-prime-2011/2011-08-27 20.12.26.jpg") %>
<%= project_image("photos/pax-prime-2011/2011-08-28 18.27.38.jpg") %>
<%= project_image("photos/pax-prime-2011/2011-08-28 12.40.04.jpg") %>
