<% provide(:title, @convention[:name]) %>
<% provide(:meta_description, @meta_description) %>

<h1><%= @convention[:name] %></h1>

<p>Applecon took place in Appleton, Wisconsin on 2&ndash;4 January, 2009. As the weather was a bit cold in Wisconsin in January, we spent most of our time in our host’s basement, or dining out at restaurants.</p>

<%= project_image("photos/applecon/New Year's 2009 092.JPG", caption: "") %>
<%= project_image("photos/applecon/New Year's 2009 090.JPG", caption: "") %>
<%= project_image("photos/applecon/New Year's 2009 095.JPG", caption: "") %>
<%= project_image("photos/applecon/New Year's 2009 096.JPG", caption: "") %>
<%= project_image("photos/applecon/New Year's 2009 098.JPG", caption: "") %>
<%= project_image("photos/applecon/New Year's 2009 099.JPG", caption: "") %>
<%= project_image("photos/applecon/New Year's 2009 100.JPG", caption: "") %>
<%= project_image("photos/applecon/New Year's 2009 104.JPG", caption: "") %>
<%= project_image("photos/applecon/New Year's 2009 105.JPG", caption: "Dinner at BW3") %>
<%= project_image("photos/applecon/New Year's 2009 106.JPG", caption: "") %>
<%= project_image("photos/applecon/New Year's 2009 111.JPG", caption: "The doctors meet") %>
<%= project_image("photos/applecon/New Year's 2009 113.JPG", caption: "") %>
<%= project_image("photos/applecon/New Year's 2009 115.JPG", caption: "") %>
<%= project_image("photos/applecon/New Year's 2009 117.JPG", caption: "Lunch at Culver’s") %>
<%= project_image("photos/applecon/New Year's 2009 118.JPG", caption: "") %>
<%= project_image("photos/applecon/New Year's 2009 119.JPG", caption: "") %>
<%= project_image("photos/applecon/New Year's 2009 120.JPG", caption: "Eyes and I had return flights at similar times") %>