<% provide(:title, "#{@computer.name} - Computer History") %>
<% provide(:meta_description, "Paul Bogard’s history of parts in his computer #{@computer.name}.") %>
<% provide(:admin_actions, format_admin_actions({"Edit" => edit_electronics_computer_path(@computer)})) %>

<h1>Computer History &ndash; <%= @computer.name %></h1>

<p class="computer-history-model"><%= @computer.model %> &middot; <%= @computer.form_factor %></p>

<%= MarkdownText.parse(@computer.description) %>

<div class="electronics-timeline">
  <%= @computer.timeline %>
</div>