<div class="row computers" id="<%= anchorize(computer_specs_row[:title]) %>">
	<div class="col-12 col-lg-2 label"><%= computer_specs_row[:title] %></div>
  <% col_class = computer_specs_row[:device_details].count == 1 ? "col-12 col-lg-10" : "col-6 col-lg-5" %>
  <% computer_specs_row[:device_details].each do |device_detail| %>
    <div class="<%= col_class %>">
    <% if device_detail[:photos]&.any? %>
      <% device_detail[:photos].each do |photo| %>
        <div class="computer-photos">
          <% image = image_tag(PortfolioImage::ROOT_PATH + photo[:display], alt: photo[:alt], class: %w(img-fluid project bordered)) %>
          <%= photo[:link] ? link_to(image, PortfolioImage::ROOT_PATH + photo[:link]) : image %>
        </div>
      <% end %>
    <% end %>
    <% if device_detail[:description]&.any? %>
      <% device_detail[:description].each do |description| %>
        <%= content_tag(:p, description, class: "computer-description") %>
      <% end %>
    <% end %>
    <% if device_detail[:components]&.any? %>
      <ul class="component">
        <% device_detail[:components].each do |component| %>
          <li>

            <% if component[:name] %>
              <p class="component">
                <%= component[:name] %>
              </p>
            <% end %>

            <% if component[:supplemental] || component[:not_pictured] %>
              <% np = component[:not_pictured] ? content_tag(:span, "Not Pictured", class: "unpictured") : nil %>
              <p class="supplemental">
                <%= MarkdownText.parse([np,component[:supplemental]].compact.join(" · "), format: :computer_supplemental) %>
              </p>
            <% end %>

            <% if component[:purchased] %>
              <% classes = component[:purchased] > Time.now.to_date-1.year ? %w(purchased recent) : %w(purchased) %>
              <p class="<%= classes.join(" ") %>">
                Purchased <abbr title="<%= "Purchased " + format_date(component[:purchased]) %>"><%= time_ago_in_words(component[:purchased]) %> ago</abbr>
              </p>
            <% end %>

          </li>
        <% end %>
      </ul>
      <% end %>
    </div>
  <% end %>
</div>