<% name = device[:name] || device[:model] %>
<div class="computer-equipment" id="<%= anchorize(name) %>">
	<div class="computer-name">
		<h3><%= link_to(name, params.permit(:anchor).merge(anchor: anchorize(name)), class: "link-header") %></h3>
    <%= content_tag(:div, device[:type], class: "computer-type") if device[:type] %>
	</div>
	<div class="computer-body">
    
    <% if device[:image] %>
      <div class="row">
      <div class="col-12 col-lg-8">
    <% end %>

      <% if device[:date_from] %>
        <% date_from = Date.parse(device[:date_from]) %>
        <div class="computer-dates">
          <% if device[:date_to] %>
            <% date_to = Date.parse(device[:date_to]) %>
            <%= date_from.strftime("%B %Y") %> – <%= date_to.strftime("%B %Y") %>
          <% else %>
            Purchased <%= content_tag(:abbr, time_ago_in_words(date_from) + " ago", title: format_date(date_from)) %>
          <% end %>
        </div>
      <% end %>
      <%= content_tag(:p, device[:description], class: "computer-description") if device[:description] %>
      <%= content_tag(:div, device[:model], class: "computer-model") if device[:model] %>
      <%= content_tag(:ul, class: %w(list-unstyled computer-specs)) do
            safe_join(device[:specs].map{|s| content_tag(:li, s)})
          end if device[:specs] && device[:specs].any? %>
    
    <% if device[:image] %>
      </div>
      <div class="col-12 col-lg-4 computer-thumbnail">
        <%= project_image("computers/#{device[:image]}", type: :computer_thumbnail, attribution: device[:attribution]) %>
      </div></div>
    <% end %>
	</div>
</div>