<% provide(:title, "CAD Models")%>
<% provide(:meta_description, "Paul Bogard’s gallery of 3D models he created with CAD software.")%>

<h1>CAD Models</h1>

<p>I’ve used <abbr title="Computer-Aided Design">CAD</abbr> software to create a number of 3D models.</p>

<h2>Tools</h2>

<table class="table table-striped">
	<tbody>
		<tr>
			<th scope="row">3D Modeling Software</th>
			<td><%= link_to("SketchUp", 'http://www.sketchup.com') %></td>
		</tr>
	</tbody>
</table>

<h2>Gallery</h2>

<p class="alert alert-info"><span class="glyphicon glyphicon-download"></span> In order to open the .skp files below, you will need to <%= link_to "download SketchUp", 'http://www.sketchup.com/download' %>.</p>

<h3 id="MediaRoom">Media Room</h3>

<%= project_image("projects/cad-models/Media-Room.png", "SketchUp model of a basement room") %>
<%= link_buttons(DownloadButton.new('files/cad-models/Media Room.skp')) %>

<p>This model is an idealized version of an entertainment room in a walk-out basement.  The room dimensions are not from any specific basement; rather, I made this model to determine how large such a basement would need to be.</p>

<p>This room was designed around the desk; specifically, the goal was to allow a view of the television over the top of the desktop monitors, while still allowing a number of other guests to watch from the sectional couch:</p>

<%= project_image("projects/cad-models/Media-Room-Desk-View.png", "SketchUp model of a basement room, from the eyepoint of someone sitting at the desk") %>

<p>Appropriate cabling would be added to allow the desktop computer’s display to be an input to the television.  A wireless keyboard and mouse would be used to allow one to use the desktop on the large television while sitting on the couch.</p>

<p>The tables at the back of the room were intended to seat up to sixteen guests:</p>

<%= project_image("projects/cad-models/Media-Room-Rear-Tables.png", "SketchUp model of a basement room, from a viewpoint above the rear tables") %>

<p>This was intended for use in either tabletop gaming or a LAN party (where guests would provide their own computers). The LAN party configuration, however, would require substantial power and additional cooling for all of the computers.  The latter in particular is why this room is intended to be in a walk-out basement.  During cooler weather, opening the door would be sufficient; during warmer weather, the exterior wall would provide an opportunity for installation of additional air conditioning.</p>

<p class="alert alert-info"><span class="glyphicon glyphicon-info-sign"></span> The wallpapers rendered on the screens in the above models are from <%= link_to "MikeBonnell.com", 'http://mikebonnell.com/' %>.</p>

<h3 id="Home">Home</h3>

<%= project_image("projects/cad-models/Home.png", "SketchUp model of an apartment layout") %>
<%= link_buttons(DownloadButton.new('files/cad-models/Home.skp')) %>

<p>I originally created this model with no furniture to demonstrate the layout of my apartment in a photo gallery.  Later, I created furniture for the bedroom to play around with its layout.  Eventually, I plan to model the furniture in the remainder of the apartment.</p>

<h3 id="TruckWeightFrame">Truck Weight Frame</h3>

<%= project_image("projects/cad-models/Truck-Weight-Frame.png", "SketchUp model of a wooden frame") %>
<%= link_buttons(DownloadButton.new('files/cad-models/Truck Weight Frame.skp')) %>

<p>I used to drive a rear wheel drive pickup truck, so during the winter, it was useful to have some weight centered over the rear axle. I created this model to design a wooden frame to hold ten concrete blocks in place in the truck bed.</p>

<h3 id="Westcott">Gingerbread Westcott House</h3>

<%= project_image("projects/cad-models/Westcott-Gingerbread.png", "SketchUp model of a simplified Westcott House") %>
<%= link_buttons(DownloadButton.new('files/cad-models/Westcott Gingerbread.skp')) %>

<p>This model was used to plan out a gingerbread house based on the Frank Lloyd Wright-designed <%= link_to("Westcott House", 'http://en.wikipedia.org/wiki/Westcott_House_%28Springfield,_Ohio%29')%>.</p>

<h3 id="Pancake">Pancake (Desktop Computer)</h3>

<%= project_image("projects/cad-models/Pancake (Both Cases).png", "SketchUp models of two desktop towers") %>
<%= link_buttons(DownloadButton.new('files/cad-models/Pancake (Both Cases).skp')) %>

<p><%= link_to "Pancake", computers_path %> is my primary computer, shown here with its current case (Silverstone TJ08B-E) and its previous case (Lian Li PC-7B Plus).</p>

<h3 id="ChiliDog">Chili Dog (MacBook Pro)</h3>

<%= project_image("projects/cad-models/MBP-Chili-Dog.png", "SketchUp model of a MacBook Pro laptop") %>
<%= link_buttons(DownloadButton.new('files/cad-models/Computer - Chili Dog.skp')) %>

<p>Chili Dog was a MacBook Pro laptop I used to own.</p>

<p class="alert alert-info"><span class="glyphicon glyphicon-info-sign"></span> The wallpaper rendered on the screen in the above model is from <%= link_to "MikeBonnell.com", 'http://mikebonnell.com/' %>.</p>

<h3 id="Wii">Nintendo Wii</h3>

<%= project_image("projects/cad-models/Nintendo-Wii.png", "SketchUp model of a Nintendo Wii") %>
<%= link_buttons(DownloadButton.new('files/cad-models/Nintendo Wii.skp')) %>

<h3 id="BoatQuarters">Boat Quarters</h3>

<%= project_image("projects/cad-models/Boat-Quarters.png", "SketchUp model of living quarters on a boat") %>
<%= link_buttons(DownloadButton.new('files/cad-models/Boat Quarters.skp')) %>

<p>This model of living quarters on a fictional boat was largely an experiment to see how I would handle placing furnishings and fixtures along a curved wall.</p>