<% provide(:title, "Computers")%>
<% provide(:meta_description, "Tech specs of Paul Bogard’s computers and other electronics.")%>

<h1>Computers</h1>

<div class="container center"><%= link_to(image_tag("#{PortfolioImage::ROOT_PATH}computers/Desk 2016-12-20 - 800.jpg", class: "img-fluid project bordered center"), "#{PortfolioImage::ROOT_PATH}computers/Desk 2016-12-20.jpg") %></div>

<%= link_buttons(LinkButton.new("See Paul’s old computers", nil, old_computers_path)) %>

<%= link_header "Home Computers", 2 %>

<div class="row computers">
	<div class="offset-lg-2 col-6 col-lg-5 label center" id="pancake"><%= link_to("PANCAKE", params.permit(:anchor).merge(anchor: "pancake"), class: "link-header") %></div>
	<div class="col-6 col-lg-5 label center" id="quesadilla"><%= link_to("QUESADILLA", params.permit(:anchor).merge(anchor: "quesadilla"), class: "link-header") %></div>
</div>

<%= render partial: "computers_table_row", locals:
	{
		title: "Model",
	  device_details: [
			{
				components: [
					{ name: "Home-Built PC"	}
				]
			},
			{
				components: [
					{ name: "Apple MacBook", supplemental: [ "12″ Notebook", "2016" ], purchased: "2016-04-26" }
				]
			}
		]
	}
%>

<%= render partial: "computers_table_row", locals:
	{
		title: "Photo",
	  device_details: [
			{
				photos: [
					{ display: "computers/Pancake 2016-08-20 - Thumbnail.jpg", link: "computers/Pancake 2016-08-20.jpg" }
				]
			},
			{
				photos: [
					{ display: "computers/Quesadilla 2016-05-05 - Thumbnail.jpg", link: "computers/Quesadilla 2016-05-05.jpg" }
				]
			}
		]
	}
%>

<%= render partial: "computers_table_row", locals:
	{
		title: "Description",
	  device_details: [
			{	description: [ "Pancake is my home PC, built to be able to handle games. I also use it for doing image editing for my maps, terminal silhouettes, and other projects." ]	},
			{	description: [ "Quesadilla is my laptop for travel, so I traded off raw computing power to get minimum weight, minimum size, and USB-C charging. (Thus, it can charge off my multi-USB charger, saving me the weight of its own power cord and allowing me to charge all my devices from a single hotel outlet.)", "Quesadilla also functions as the development environment for my web projects." ] }
		]
	}
%>

<%= render partial: "computers_table_row", locals:
	{
		title: "Operating System",
	  device_details: [
			{
				components: [
					{ name: "Microsoft Windows 10 Pro 64-bit" }
				]
			},
			{
				components: [
					{ name: "MacOS Mojave",	supplemental: [ "10.14" ] }
				]
			}
		]
	}
%>

<%= render partial: "computers_table_row", locals:
	{
		title: "Processor",
	  device_details: [
			{
				components: [
					{ name: "Intel Core i5-6600K", supplemental: [ "Skylake", "3.5 GHz" ], purchased: "2016-08-20" }
				]
			},
			{
				components: [
					{ name: "Intel Core m5",	supplemental: [ "Skylake", "1.2/2.7 GHz"], purchased: "2016-04-26" }
				]
			}
		]
	}
%>

<%= render partial: "computers_table_row", locals:
	{
		title: "Motherboard",
	  device_details: [
			{
				components: [
					{ name: "ASRock Z170M PRO4S", supplemental: [ "MicroATX" ], purchased: "2016-08-20" }
				]
			},
			{ }
		]
	}
%>

<%= render partial: "computers_table_row", locals:
	{
		title: "Graphics Card",
	  device_details: [
			{
				components: [
					{ name: "Asus GeForce GTX 1070", supplemental: [ "8 GB GDDR5" ], purchased: "2016-08-20" }
				]
			},
			{ 
				components: [
					{ name: "Intel HD Graphics 515", purchased: "2016-04-26" }
				]
			}
		]
	}
%>

<%= render partial: "computers_table_row", locals:
	{
		title: "Memory",
	  device_details: [
			{
				components: [
					{ name: "16 GB Crucial DDR4-2400", purchased: "2016-08-20" }
				]
			},
			{
				components: [
					{ name: "8 GB LPDDR3-1866", purchased: "2016-04-26" }
				]
			}
		]
	}
%>

<%= render partial: "computers_table_row", locals:
	{
		title: "Storage",
	  device_details: [
			{
				components: [
					{ name: "1 TB Samsung 840 EVO", supplemental: ["SSD", "SATA"],	purchased: "2014-07-22" },
					{	name: "3 TB Western Digital Blue",	supplemental: ["HDD", "5400 RPM", "SATA"], purchased: "2016-08-18" }
				]
			},
			{
				components: [
					{ name: "512 GB internal storage",	supplemental: ["SSD", "PCIe"], purchased: "2016-04-26"	},
					{ name: "2 TB Western Digital My Passport", supplemental: ["External HDD", "USB 3.0"], purchased: "2012-12-25" }
				]
			}
		]
	}
%>

<%= render partial: "computers_table_row", locals:
	{
		title: "Optical Disc",
	  device_details: [
			{
				components: [
					{ name: "Samsung 20× DVD±R", purchased: "2008-05-02" }
				]
			},
			{ }
		]
	}
%>

<%= render partial: "computers_table_row", locals:
	{
		title: "Wireless",
	  device_details: [
			{
				components: [
					{	name: "TP-LINK AC600 802.11ac Wi-Fi",	supplemental: ["USB Wi-Fi adapter"], purchased: "2016-07-06" }
				]
			},
			{
				components: [
					{ name: "802.11ac Wi-Fi",	purchased: "2016-04-26"	},
					{ name: "Bluetooth 4.0", purchased: "2016-04-26" }
				]
			}
		]
	}
%>

<%= render partial: "computers_table_row", locals:
	{	
		title: "Power Supply",
	  device_details: [
			{ 
				components: [
					{ name: "Corsair RM550x", supplemental: [ "550 W", "Modular" ], purchased: "2016-08-20" }
				]
			},
			{ }
		]
	}
%>

<%= render partial: "computers_table_row", locals:
	{	
		title: "Case",
	  device_details: [
			{ 
				components: [
					{ name: "Silverstone TJ08B-E", supplemental: [ "Black", "MicroATX mini tower" ], purchased: "2014-07-22" }
				] 
			},
			{ }
		]
	}
%>

<%= render partial: "computers_table_row", locals:
	{
		title: "CPU Cooler",
	  device_details: [
			{
				components: [
					{ name: "Cooler Master Hyper 212 EVO", supplemental: [ "120 mm", "9&ndash;36 dBA" ], purchased: "2014-07-22" }
				]
			},
			{ }
		]
	}
%>

<%= render partial: "computers_table_row", locals:
	{	title: "Displays",
	  device_details: [
			{
				photos: [
					{ display: "computers/Monitor Layout.png", alt: "A diagram showing two monitors connected to Pancake and one to Quesadilla, and a diagram showing three monitors connected to Pancake, with Quesadilla using its own built in screen." }
				],
				components: [
					{ name: "24″ Dell UltraSharp U2415", supplemental: [ "1920×1200", "16:10", "IPS", "LED backlight" ],	purchased: "2016-06-01" },
					{ name: "24″ Dell UltraSharp U2415", supplemental: [ "1920×1200", "16:10", "IPS", "LED backlight" ],	purchased: "2016-06-01" },
					{ name: "24″ Dell UltraSharp U2415", supplemental: [ "1920×1200", "16:10", "IPS", "LED backlight" ],	purchased: "2016-05-09" },
					{ name: "12″ laptop screen", supplemental: [ "2304×1440", "16:10", "IPS", "LED backlight" ],	purchased: "2016-04-26" }
				]
			}
		]
	}
%>

<%= render partial: "computers_table_row", locals:
	{
		title: "Keyboard",
	  device_details: [
			{
				components: [
					{ name: "CoolerMaster Storm QuickFire XT Mechanical", supplemental: [ "Full-size", "CHERRY MX Brown Switches", ActiveSupport::SafeBuffer.new + "Shared via " + link_to("Synergy", "https://symless.com/synergy", target: :_blank) ], purchased: "2014-03-05" }
				]
			}
		]
	}
%>

<%= render partial: "computers_table_row", locals:
	{
		title: "Mouse",
	  device_details: [
			{
				components: [
					{ name: "Logitech G203 Prodigy", supplemental: [ "6-button mouse", content_tag(:span, "Not Pictured", class: "unpictured"), ActiveSupport::SafeBuffer.new + "Shared via " + link_to("Synergy", "https://symless.com/synergy", target: :_blank) ], purchased: "2017-03-05" }
				]
			}
		]
	}
%>

<%= render partial: "computers_table_row", locals:
	{	
		title: "Game Controllers",
	  device_details: [
			{ 
				components: [
					{ name: "Microsoft Xbox 360 Wired Controller", purchased: "2011-11-24" },
					{ name: "Saitek AV8R Flight Stick", purchased: "2009-02-20" }
				] 
			},
			{ }
		]
	}
%>

<%= render partial: "computers_table_row", locals:
	{
		title: "Sound",
	  device_details: [
			{
				components: [
					{ name: "GemSound DMX-2071 Stereo Preamp Mixer", purchased: "2007-11-27" },
					{ name: "Philips FW-C35 Mini-HiFi System", purchased: "2001-07-08" }
				]
			}
		]
	}
%>

<%= render partial: "computers_table_row", locals:
	{
		title: "Headset",
	  device_details: [
			{
				components: [
					{ name: "Sennheiser PC 8 Headset", supplemental: [ "Stereo", "Wired", "USB" ], purchased: "2014-10-18" }
				]
			},
			{
				components: [
					{ name: "Apple AirPods", supplemental: [ "Stereo", "Wireless", "Bluetooth" ], purchased: "2018-03-06" }
				]
			}
		]
	}
%>

<%= render partial: "computers_table_row", locals:
	{
		title: "Webcam",
	  device_details: [
			{
				components: [
					{ name: "Logitech C260 Webcam", supplemental: [ "1280×760" ], purchased: "2012-03-12" }
				]
			},
			{
				components: [
					{ name: "FaceTime Camera", supplemental: [ "480p" ], purchased: "2016-04-26" }
				]
			}
		]
	}
%>

<%= render partial: "computers_table_row", locals:
	{
		title: "Scanner / Printer",
	  device_details: [
			{
				components: [
					{ name: "Brother DCP-L2520DW Multifunction", supplemental: [ "Monochrome duplex laser printer", "Flatbed scanner", "Wi-Fi" ], purchased: "2017-08-04" }
				]
			}
		]
	}
%>

<%= link_header "Network", 2 %>

<%= render partial: "computer_equipment", locals: {computer: {type: "Wireless Router", date_from: "2013-07-14", model: "Linksys E2500", specs: ["802.11n"]}} %>

<%= link_header "Mobile", 2 %>

<%= render partial: "computer_equipment", locals: {computer: {name: "Tator Tot VI", type: "Smartphone", date_from: "2018-01-04", model: "Apple iPhone 8 Plus", specs: ["64 GB", "Space gray"]}} %>
<%= render partial: "computer_equipment", locals: {computer: {name: "Latke", type: "Tablet", date_from: "2013-01-04", model: "Apple iPad (4th Generation)", specs: ["64 GB", "Cellular", "Black"]}} %>
<%= render partial: "computer_equipment", locals: {computer: {name: "Egg", type: "GPS Navigation Unit", date_from: "2016-09-12", model: "Garmin DriveSmart 50 LMT", specs: ["5″ display", "Lifetime maps and traffic"]}} %>

<%= link_header "Game Systems", 2 %>

<%= render partial: "computer_equipment", locals: {computer: {name: "Lemonade", type: "Handheld Console", date_from: "2018-07-07", model: "Nintendo Switch", specs: ["Sandisk Ultra 200GB microSDXC card", "(L/R) Joycons – Gray", "(L/R) Joycons – Yellow", "Pro Controller", "Charging Grip"]}} %>

<%= link_header "Home Entertainment", 2 %>

<%= render partial: "computer_equipment", locals: {computer: {type: "Television", date_from: "2018-04-08", model: "Samsung Smart HDTV", specs: ["49″", "1080p", "LED"]}} %>

<%= link_buttons(LinkButton.new("See Paul’s old computers", nil, old_computers_path)) %>