<% provide(:title, "Computers")%>
<% provide(:meta_description, "Tech specs of Paul Bogard’s computers and other electronics.")%>

<h1>Computers</h1>

<div class="container"><%= link_to(image_tag('computers/Desk 2016-12-20 - 800.jpg', class: 'img-responsive project bordered center'), image_path('computers/Desk 2016-12-20.jpg')) %></div>

<%= link_buttons(LinkButton.new("See Paul’s old computers", nil, old_computers_path)) %>

<h2 id="home-computers">Home Computers</h2>

<table class="table table-striped table-bordered">
	<thead>
		<tr>
			<th style="width: 20%"></th>
			<th style="width: 40%">Pancake</th>
			<th style="width: 40%">Quesadilla</th>
		</tr>
	</thead>
	<tbody>
		
		<tr id="model">
			<th scope="row">Model</th>
			<td>
				<ul class="component">
					<li>
						<p class="component">Home-Built PC</p>
					</li>
				</ul>
			</td>
			<td>
				<ul class="component">
					<li>
						<p class="component">Apple MacBook</p>
						<p class="supplemental">12″ Notebook &middot; 2016</p>
						<%= render :partial => "computers_purchased", :locals => {:purchase_date => "2016-04-26"} %>
					</li>
				</ul>
			</td>
		</tr>
		
		<tr id="photo">
			<th scope="row">Photo</th>
			<td>
				<%= link_to(image_tag('computers/Pancake 2016-08-20 - Thumbnail.jpg', class: 'img-responsive project bordered'), image_path('computers/Pancake 2016-08-20.jpg')) %>
			</td>
			<td>
				<%= link_to(image_tag('computers/Quesadilla 2016-05-05 - Thumbnail.jpg', class: 'img-responsive project bordered'), image_path('computers/Quesadilla 2016-05-05.jpg')) %>
			</td>
		</tr>
		
		<tr id="operating-system">
			<th scope="row">Operating System</th>
			<td>
				<ul class="component">
					<li>
						<p class="component">Microsoft Windows 10 Pro 64-bit</p>
						<p class="supplemental">10.0</p>
						<%= render :partial => "computers_purchased", :locals => {:purchase_date => "2015-08-16"} %>
					</li>
				</ul>
			</td>
			<td>
				<ul class="component">
					<li>
						<p class="component">Mac OS X Sierra</p>
						<p class="supplemental">10.12</p>
						<%= render :partial => "computers_purchased", :locals => {:purchase_date => "2016-04-26"} %>
					</li>
				</ul>
			</td>
		</tr>
		
		<tr id="processor">
			<th scope="row">Processor</th>
			<td>
				<ul class="component">
					<ul class="component">
						<li>
							<p class="component">Intel Core i5-6600K</p>
							<p class="supplemental">Skylake &middot; 3.5 GHz</p>
							<%= render :partial => "computers_purchased", :locals => {:purchase_date => "2016-08-20"} %>
						</li>
					</ul>
			</td>
			<td>
				<ul class="component">
					<li>
						<p class="component">Intel Core m5</p>
						<p class="supplemental">Skylake &middot; 1.2/2.7 GHz</p>
						<%= render :partial => "computers_purchased", :locals => {:purchase_date => "2016-04-26"} %>
					</li>
				</ul>
			</td>
		</tr>
		
		<tr id="motherboard">
			<th scope="row">Motherboard</th>
			<td>
				<ul class="component">
					<li>
						<p class="component">ASRock Z170M PRO4S</p>
						<p class="supplemental">MicroATX</p>
						<%= render :partial => "computers_purchased", :locals => {:purchase_date => "2016-08-20"} %>
					</li>
				</ul>
			</td>
			<td></td>
		</tr>
		
		<tr id="graphics-card">
			<th scope="row">Graphics Card</th>
			<td>
				<ul class="component">
					<li>
						<p class="component">Asus GeForce GTX 1070</p>
						<p class="supplemental">8 GB GDDR5</p>
						<%= render :partial => "computers_purchased", :locals => {:purchase_date => "2016-08-20"} %>
					</li>
				</ul>
			</td>
			<td>
				<ul class="component">
					<li>
						<p class="component">Intel HD Graphics 515</p>
						<%= render :partial => "computers_purchased", :locals => {:purchase_date => "2016-04-26"} %>
					</li>
				</ul>
			</td>
		</tr>
		
		<tr id="memory">
			<th scope="row">Memory</th>
			<td>
				<ul class="component">
					<li>
						<p class="component">16 GB Crucial DDR4-2400</p>
						<%= render :partial => "computers_purchased", :locals => {:purchase_date => "2016-08-20"} %>
					</li>
				</ul>
			</td>
			<td>
				<ul class="component">
					<li>
						<p class="component">8 GB LPDDR3-1866</p>
						<%= render :partial => "computers_purchased", :locals => {:purchase_date => "2016-04-26"} %>
					</li>
				</ul>
			</td>
		</tr>
		
		<tr id="storage">
			<th scope="row">Storage</th>
			<td>
        <ul class="component">
          <li>
            <p class="component">1 TB Samsung 840 EVO</p>
            <p class="supplemental">SSD &middot; SATA</p>
            <%= render :partial => "computers_purchased", :locals => {:purchase_date => "2014-07-22"} %>
          </li>
        </ul>
        <ul class="component">
          <li>
            <p class="component">3 TB Western Digital Blue</p>
            <p class="supplemental">HDD &middot; 5400 RPM &middot; SATA</p>
            <%= render :partial => "computers_purchased", :locals => {:purchase_date => "2016-08-18"} %>
          </li>
        </ul>
			</td>
			<td>
				<ul class="component">
					<li>
						<p class="component">512 GB</p>
						<p class="supplemental">SSD &middot; PCIe</p>
						<%= render :partial => "computers_purchased", :locals => {:purchase_date => "2016-04-26"} %>
					</li>
					<li>
						<p class="component">2 TB Western Digital My Passport</p>
						<p class="supplemental">External HDD &middot; USB 3.0</p>
						<%= render :partial => "computers_purchased", :locals => {:purchase_date => "2012-12-25"} %>
					</li>
				</ul>
			</td>
		</tr>
		
		<tr id="optical-disc">
			<th scope="row">Optical Disc</th>
			<td>
				<ul class="component">
					<li>
						<p class="component">Samsung 20× DVD±R</p>
						<%= render :partial => "computers_purchased", :locals => {:purchase_date => "2008-05-02"} %>
					</li>
				</ul>
			</td>
			<td>
			</td>
		</tr>
		
		<tr id="wireless">
			<th scope="row">Wireless</th>
			<td>
				<ul class="component">
					<li>
						<p class="component">TP-LINK AC600 802.11ac Wi-Fi</p>
						<p class="supplemental">USB Wi-Fi adapter</p>
						<%= render :partial => "computers_purchased", :locals => {:purchase_date => "2016-07-06"} %>
					</li>
				</ul>
			</td>
			<td>
				<ul class="component">
					<li>
						<p class="component">802.11ac Wi-Fi</p>
						<%= render :partial => "computers_purchased", :locals => {:purchase_date => "2016-04-26"} %>
					</li>
					<li>
						<p class="component">Bluetooth 4.0</p>
						<%= render :partial => "computers_purchased", :locals => {:purchase_date => "2016-04-26"} %>
					</li>
				</ul>
			</td>
		</tr>
				
		<tr id="power-supply">
			<th scope="row">Power Supply</th>
			<td>
				<ul class="component">
					<li>
						<p class="component">Corsair RM550x</p>
						<p class="supplemental">550 W &middot; Modular</p>
						<%= render :partial => "computers_purchased", :locals => {:purchase_date => "2016-08-20"} %>
					</li>
				</ul>
			</td>
			<td>
				
			</td>
		</tr>
		
    <tr id="case">
      <th scope="row">Case</th>
      <td>
        <ul class="component">
          <li>
            <p class="component">Silverstone TJ08B-E</p>
            <p class="supplemental">Black &middot; MicroATX mini tower</p>
            <%= render :partial => "computers_purchased", :locals => {:purchase_date => "2014-07-22"} %>
          </li>
        </ul>
      </td>
      <td>
        
      </td>
    </tr>
		    
		<tr id="cpu-cooler">
			<th scope="row">CPU Cooler</th>
			<td>
				<ul class="component">
					<li>
						<p class="component">Cooler Master Hyper 212 EVO</p>
						<p class="supplemental">120 mm &middot; 9&ndash;36 dBA</p>
						<%= render :partial => "computers_purchased", :locals => {:purchase_date => "2016-08-20"} %>
					</li>
				</ul>
			</td>
			<td>
				
			</td>
		</tr>
		
		<tr id="displays">
			<th scope="row">Displays</th>
			<td colspan="2">
				<p><%= image_tag('computers/Monitor Layout.png', class: 'img-responsive project bordered', alt: "A diagram showing two monitors connected to Pancake and one to Quesadilla, and a diagram showing three monitors connected to Pancake, with Quesadilla using its own built in screen.") %></p>
				<ul class="component">
					<li>
						<p class="component">24″ Dell UltraSharp U2415</p>
						<p class="supplemental">1920×1200 &middot; IPS &middot; LED backlight</p>
						<%= render :partial => "computers_purchased", :locals => {:purchase_date => "2016-06-01"} %>
					</li>
					<li>
						<p class="component">24″ Dell UltraSharp U2415</p>
						<p class="supplemental">1920×1200 &middot; IPS &middot; LED backlight</p>
						<%= render :partial => "computers_purchased", :locals => {:purchase_date => "2016-06-01"} %>
					</li>
					<li>
						<p class="component">24″ Dell UltraSharp U2415</p>
						<p class="supplemental">1920×1200 &middot; IPS &middot; LED backlight</p>
						<%= render :partial => "computers_purchased", :locals => {:purchase_date => "2016-05-09"} %>
					</li>
					<li>
						<p class="component">12″ laptop screen</p>
						<p class="supplemental">2304×1440 &middot; IPS &middot; LED backlight</p>
						<%= render :partial => "computers_purchased", :locals => {:purchase_date => "2016-04-26"} %>
					</li>
				</ul>
			</td>
		</tr>
		
		<tr id="keyboard">
			<th scope="row">Keyboard</th>
			<td colspan="2">
				<ul class="component">
						<li>
							<p class="component">CoolerMaster Storm QuickFire XT Mechanical</p>
							<p class="supplemental">Full size &middot; CHERRY MX Brown switches &middot; Shared via <%= link_to("Synergy", "http://synergy-project.org/") %></p><%= render :partial => "computers_purchased", :locals => {:purchase_date => "2014-03-05"} %>
						</li>
					</ul>
			</td>
		</tr>
		
		<tr id="mouse">
			<th scope="row">Mouse</th>
			<td colspan="2">
				<ul class="component">
					<li>
						<p class="component">Logitech G203 Prodigy</p>
						<p class="supplemental">6-button mouse &middot; <span class="unpictured">Not Pictured</span> &middot; Shared via <%= link_to("Synergy", "http://synergy-project.org/") %></p>
						<%= render :partial => "computers_purchased", :locals => {:purchase_date => "2017-03-05"} %>
					</li>
				</ul>
			</td>
		</tr>
		
		<tr id="game-controllers">
			<th scope="row">Game Controllers</th>
			<td>
				<ul class="component">
					<li>
						<p class="component">Microsoft Xbox 360 Controller</p>
						<%= render :partial => "computers_purchased", :locals => {:purchase_date => "2011-11-24"} %>
					</li>
					<li>
						<p class="component">Saitek AV8R Flight Stick</p>
						<%= render :partial => "computers_purchased", :locals => {:purchase_date => "2009-02-20"} %>
					</li>
				</ul>
			</td>
			<td>
				
			</td>
		</tr>
		
		<tr id="speakers">
			<th scope="row">Speakers</th>
			<td colspan="2">
				<ul class="component">
					<li>
						<p class="component">Philips FW-C35 Mini-HiFi System</p>
						<p class="supplemental">Shared via mixer</p>
						<%= render :partial => "computers_purchased", :locals => {:purchase_date => "2001-07-08"} %>
					</li>					
				</ul>
			</td>
		</tr>
		
		<tr id="mixer">
			<th scope="row">Mixer</th>
			<td colspan="2">
				<ul class="component">
					<li>
						<p class="component">GemSound DMX-2071 Stereo Preamp Mixer</p>
						<%= render :partial => "computers_purchased", :locals => {:purchase_date => "2007-11-27"} %>
					</li>
				</ul>
			</td>
		</tr>
		
		<tr id="headset">
			<th scope="row">Headset</th>
			<td colspan="2">
				<ul class="component">
					<li>
						<p class="component">Sennheiser PC 8 USB</p>
						<p class="supplemental">Stereo USB headset</p>
						<%= render :partial => "computers_purchased", :locals => {:purchase_date => "2014-10-18"} %>
					</li>
				</ul>
			</td>
		</tr>
		
		<tr id="webcam">
			<th scope="row">Webcam</th>
			<td>
				<ul class="component">
					<li>
						<p class="component">Logitech C260 Webcam</p>
						<p class="supplemental">1280×760</p>
						<%= render :partial => "computers_purchased", :locals => {:purchase_date => "2012-03-12"} %>
					</li>
				</ul>
			</td>
			<td>
				<ul class="component">
					<li>
						<p class="component">FaceTime Camera</p>
						<p class="supplemental">480p</p>
						<%= render :partial => "computers_purchased", :locals => {:purchase_date => "2016-04-26"} %>
					</li>
				</ul>
			</td>
		</tr>
		
		<tr id="scanner">
			<th scope="row">Scanner</th>
			<td>
				<ul class="component">
					<li>
						<p class="component">Epson Perfection V200 Photo</p>
						<p class="supplemental">Flatbed &middot; USB</p>
						<%= render :partial => "computers_purchased", :locals => {:purchase_date => "2008-01-07"} %>
					</li>
				</ul>
			</td>
			<td>
			</td>
		</tr>
		
		<tr id="printer">
			<th scope="row">Printer</th>
			<td colspan="2">
				<ul class="component">
					<li>
						<p class="component">Brother HL-2170 Laser</p>
						<p class="supplemental">Shared via home network</p>
						<%= render :partial => "computers_purchased", :locals => {:purchase_date => "2008-05-02"} %>
					</li>
				</ul>
			</td>
		</tr>
		
	</tbody>
</table>

<h2 id="network">Network</h2>

<table class="table table-striped table-bordered">
	<tbody>
		<tr id="router">
			<th scope="row" style="width: 20%">Router</th>
			<td>
				<ul class="component">
					<li>
						<p class="component">Linksys E2500 802.11n Wireless Router</p>
						<%= render :partial => "computers_purchased", :locals => {:purchase_date => "2013-07-14"} %>
					</li>
				</ul>
			</td>
		</tr>
	</tbody>
</table>

<h2 id="mobile">Mobile</h2>

<table class="table table-striped table-bordered">
	<tbody>
		<tr id="smartphone">
			<th scope="row" style="width: 20%">Smartphone</th>
			<td>
				<ul class="component">
					<li>
						<p class="component">Apple iPhone 6s &middot; <span class="device_name">“Tator Tot V”</span></p>
						<p class="supplemental">64 GB &middot; Gray</p><%= render :partial => "computers_purchased", :locals => {:purchase_date => "2015-11-10"} %>
					</li>
				</ul>
			</td>
		</tr>
		<tr>
			<th scope="row">Tablet</th>
			<td>
				<ul class="component">
					<li>
						<p class="component">Apple iPad (4th Generation) &middot; <span class="device_name">“Latke”</span></p>
						<p class="supplemental">64 GB &middot; Cellular &middot; Black</p><%= render :partial => "computers_purchased", :locals => {:purchase_date => "2013-01-04"} %>
					</li>
				</ul>
			</td>
		</tr>
		<tr>
			<th scope="row">Navigation</th>
			<td>
				<ul class="component">
					<li>
						<p class="component">Garmin DriveSmart 50 LMT</p>
						<p class="supplemental">5″ GPS</p><%= render :partial => "computers_purchased", :locals => {:purchase_date => "2016-09-12"} %>
					</li>
				</ul>
			</td>
		</tr>
	</tbody>
</table>

<h2 id="gaming-systems">Gaming Systems</h2>

<table class="table table-striped table-bordered">
	<tbody>
		
		<tr id="handhelds">
		      <th scope="row" style="width: 20%">Handhelds</th>
		      <td>
		        <ul class="component">
		          <li>
		            <p class="component">New Nintendo 3DS XL</p>
		            <%= render :partial => "computers_purchased", :locals => {:purchase_date => "2017-01-07"} %>
		          </li>
		        </ul>
		      </td>
		    </tr>
        <tr id="consoles">
		      <th scope="row" style="width: 20%">Consoles</th>
		      <td>
		        <ul class="component">
		          <li>
		            <p class="component">Microsoft Xbox 360</p>
		            <%= render :partial => "computers_purchased", :locals => {:purchase_date => "2010-01-08"} %>
		          </li>
		          <li>
		            <p class="component">Nintendo Wii</p>
		            <%= render :partial => "computers_purchased", :locals => {:purchase_date => "2007-09-07"} %>
		          </li>
		        </ul>
		      </td>
		    </tr>
  </tbody>
</table>

<h2 id="home-entertainment">Home Entertainment</h2>

<table class="table table-striped table-bordered">
  <tbody>
		
		<tr id="television">
			<th scope="row">Television</th>
			<td>
				<ul class="component">
					<li>
						<p class="component">47″ Visio VT470M</p>
						<p class="supplemental">1080p &middot; 120 Hz</p>
						<%= render :partial => "computers_purchased", :locals => {:purchase_date => "2009-12-30"} %>
					</li>
				</ul>
			</td>
		</tr>
		
		<tr id="sound">
			<th scope="row">Sound</th>
			<td>
				<ul class="component">
					<li>
						<p class="component">Onkyo HT-S6200 7.1-channel Home Theater</p>
						<%= render :partial => "computers_purchased", :locals => {:purchase_date => "2009-12-30"} %>
					</li>
				</ul>
			</td>
		</tr>
		
	</tbody>
</table>


<%= link_buttons(LinkButton.new("See Paul’s old computers", nil, old_computers_path)) %>