<% provide(:title, "Flight Directed Graphs") %>
<% provide(:meta_description, "Paul Bogard’s directed graphs of flight data.") %>

<h1>Flight Directed Graphs</h1>

<p>While making one of my <%= link_to("year in travel", "https://onehundredairports.com/category/travel-2/year-in-travel/", target: :_blank) %> posts, I created a <%= link_to("directed graph", "https://en.wikipedia.org/wiki/Directed_graph", target: :_blank) %> of that year’s flight data, with airports as nodes and flights as edges. I’ve since gone back and created a graph for every full year in my <%= link_to("flight log", "https://www.flighthistorian.com/", target: :_blank) %>.</p>

<%= link_header("Tools", 2) %>

<table class="table tools-list">
	<tbody>
    <th scope="row">Graph Format</th>
			<td><ul>
        <li><%= link_to("GraphML", "http://graphml.graphdrawing.org/", target: :_blank) %></li>
      </ul></td>
		</tr>
		<tr>
			<th scope="row">Data Source</th>
			<td><ul>
        <li><%= link_to("Flight Historian", flight_historian_path) %> (exported via <%= link_to("GraphML module", "https://github.com/bogardpd/flight_log/blob/master/app/modules/graph_ml.rb", target: :_blank) %>)</li>
      </ul></td>
		</tr>
    <th scope="row">Graph Editor</th>
			<td><ul>
        <li><%= link_to("yEd Graph Editor", "https://www.yworks.com/products/yed", target: :_blank) %></li>
      </ul></td>
		</tr>
	</tbody>
</table>

<%= link_header("Gallery", 2) %>

<% [*(2001..2003), *(2007..2019)].reverse.each do |year| %>
  <%= link_header("Flights During #{year}", 3) %>
  <%= link_buttons(LinkButton.new("Flights during <strong>#{year}</strong> on Flight Historian", "flight-historian", "https://www.flighthistorian.com/flights/year/#{year}", target: :_blank)) %>
  <%= project_image("projects/flight-directed-graphs/years/#{year}.png", alt: "Directed graph for #{year} flights", type: :large) %>
<% end %>