<% provide(:title, "Fred and Harry")%>
<% provide(:meta_description, "A calculus problem from Paul’s Fast Track Calculus course") %>

<h1>Fred and Harry</h1>

<p><strong>Fred and Harry</strong> was Problem 15 of Assignment 18 of <%= link_to "Fast Track Calculus", fast_track_calculus_path %>, and was widely regarded as a notoriously difficult problem. Our counselors who’d taken FTC in prior years warned us about it, and despite the instruction in the problem, few people got much sleep that evening.</p>

<h2>Problem</h2>

<blockquote>
  <p>15. (Write up formally) A skydiving stunt calls for one skydiver (Fred) to step from a balloon at an altitude of 850 feet, free fall for eight seconds, and deploy his chute. A second skydiver (Harry) will step from the balloon <i>t</i><sub>1</sub> seconds after the first skydiver. After free falling for <i>t</i><sub>2</sub> additional seconds he will deploy his chute. After <i>t</i><sub>3</sub> additional seconds Fred reaches a height of 104 feet from the ground, Harry is to be 6 feet below Fred. Both skydivers need to have matching velocities. At this point Fred’s chute “mysteriously fails” and Harry catches his stunt partner. Assume air resistance is proportional to velocity. The necessary information is included below:</p>
  <p>Fred weighs 100 pounds and has constant of proportionality 1.5 when the chute is closed. However, when his chute is open, his constant of proportionality goes up to 15.</p>
  <p>Harry weighs 200 pounds and, when in free fall, has a constant of proportionality 1.2. When falling with an open chute, he had a constant of proportionality of 32.</p>
  <p>Find <i>t</i><sub>1</sub>, <i>t</i><sub>2</sub>, and <i>t</i><sub>3</sub> so that the stunt can be accomplished.</p>
  <p>This is a “no help from the counselors” problem. Do not stay up all night because of this problem.</p>
</blockquote>

<h2>Solution</h2>

<%= project_image('rhit/18-15-03.png', alt: "Scan of the first page of my solution to Fred and Harry") %>
<%= project_image('rhit/18-15-04.jpg', alt: "Scan of the second page of my solution to Fred and Harry") %>
<%= project_image('rhit/18-15-05.jpg', alt: "Scan of the third page of my solution to Fred and Harry") %>
<%= project_image('rhit/18-15-06.jpg', alt: "Scan of the fourth page of my solution to Fred and Harry") %>

<p>We used the math software Maple for our homework assignments. I did not end up finding the correct answer to this problem.</p>