<% provide(:title, "GPS Logging")%>
<% provide(:meta_description, "Paul Bogard’s maps of driving, cycling, and walking routes.")%>

<h1>GPS Logging</h1>

<%= render partial: "project_tags", locals: {project: :"gps-logging"} %>

<p><%= link_to("Flights", flight_historian_path) %> aren’t the only things I like to map. I also often record GPS data while driving, bicycling, or walking, and create maps of the routes.</p>

<%= link_buttons(LinkButton.new("Visit my <strong>GPS Mapping Tutorials</strong>", "one-hundred-airports", "https://onehundredairports.com/gps-mapping-tutorials/", target: :_blank)) %>

<%= link_header("Driving", 2) %>

<p>From July 2010 to December 2011, I recorded a log of everywhere I drove, and imported it into <%= link_to("Google Earth", "http://www.google.com/earth/index.html", target: :_blank) %>.</p>

<%= project_image("projects/gps-logging/US-Driving.png", alt: "Google Earth map of driving tracks") %>

<p>I performed the logging with a Garmin nüvi 1390T automotive GPS. However, I’ve been able to extract the log from other Garmin nüvi models as well.</p>

<p>The GPS log gives a good overview of everywhere I drove in the country for that year and a half &mdash; when I traveled and rented a car, I brought along my GPS to record those routes as well.  For example, the Dallas/Fort Worth metroplex in Texas:</p>

<%= project_image("projects/gps-logging/DFW-Driving.png", alt: "Google Earth map of driving tracks") %>

<p>Even at closer zoom levels, the detail is decent:</p>

<%= project_image("projects/gps-logging/30-Driving.png", alt: "Google Earth map of driving tracks") %>

<%= link_header("Walking and Biking", 2) %>

<p>If I want to create a map while I’m not driving, I use my iPhone to record the location data.</p>

<p>As an example, there are a lot of old rail lines in my area that have been converted to bicycle trails. I took a log of my bike riding over one summer and created the following map:</p>

<%= project_image("projects/gps-logging/Bicycling.png", alt: "OpenStreetMap of bicycling tracks") %>

<p>In this case, I used <%= link_to "uMap", "https://umap.openstreetmap.fr/en", target: :_blank %> with <%= link_to "OpenStreetMap", "https://www.openstreetmap.org/", target: :_blank %> data. However, it would have been trivial to use the bicycling data in Google Earth instead.

<%= link_header("Ingress Mapping", 2) %>

<p>I occasionally play a geocaching game called <%= link_to("Ingress", "https://www.ingress.com/", target: :_blank) %>, which encourages walking around between different waypoints on a map. Sometimes these waypoints are arranged into “missions” which require visiting waypoints in a certain order, and reward a digital “badge” with a picture related to the mission.</p>

<p>Sometimes, there are groups of missions with badge pictures that form a larger mosaic. I particularly like completing these (I enjoy walking and exploring), and I’ve started recording location data while I play to make maps.</p>

<%= link_to(project_image("ingress-mosaics/Tulsa Skyline.png", alt: "Map of Tulsa Skyline Ingress Missions"), ingress_mosaics_path) %>

<p>See more of my <%= link_to("Ingress mosaic maps", ingress_mosaics_path) %>.</p>