<% provide(:title, "Garmin and OpenStreetMap GPS Logging Tutorial")%>
<% provide(:meta_description, "Paul Bogard’s tutorial for creating route maps with Garmin devices and OpenStreetMap.")%>

<h1>Garmin &amp; OpenStreetMap GPS Logging Tutorial</h1>

<div class="byline">Part of the <%= link_to "GPS logging", gps_logging_path %> project</div>

<p>While automotive GPS devices are useful for giving turn-by-turn directions, it’s not their only trick.  It’s easy to use the device to show other people where you’ve been using <%= link_to("uMap", 'http://umap.openstreetmap.fr/en/') %> with OpenStreetMap layers.</p>

<h2>Overview</h2>

<p>The general process of creating a GPS map is as follows:</p>

<ul>
	<li><%= link_to "Record GPS routes with your Garmin", '#record' %></li>
	<li><%= link_to "Trim extra data", '#trim' %></li>
	<li><%= link_to "Import the location data into uMap", '#import' %></li>
</ul>

<%= render 'static_pages/gps_logging_tutorials/garmin_to_gpx', other_gps_path: 'gps_logging_ios_osm_path' %>

<%= render 'static_pages/gps_logging_tutorials/gpx_to_osm', other_map_path: 'gps_logging_garmin_google_earth_path' %>

<%= link_to("Return to GPS Logging".html_safe, gps_logging_path, class: "btn btn-default btn-block icon-button", role: "button") %>