<% provide(:title, "GPS Logging")%>

<h1>GPS Logging</h1>

<p><%= link_to("Flights", flight_historian_path) %> aren’t the only things I like to map. I also often record GPS data while driving, bicycling, or walking, and create maps of the routes.</p>

___TUTORIALS HERE____

<h2>Driving</h2>

<p>From July 2010 to December 2011, I recorded a log of everywhere I drove, and imported it into <%= link_to("Google Earth", 'http://www.google.com/earth/index.html') %>.</p>

<%= project_image("projects/gps-logging/US-Driving.png", "Google Earth map of driving tracks") %>

<p>I performed the logging with a <%= link_to("Garmin nüvi 1390T", 'https://buy.garmin.com/shop/shop.do?pID=32700&ra=true')%> automotive GPS. However, I've been able to extract the log from other Garmin nüvi models as well.</p>

<p>The GPS log gives a good overview of everywhere I drove in the country for that year and a half &mdash; when I traveled and rented a car, I brought along my GPS to record those routes as well.  For example, the Dallas/Fort Worth metroplex in Texas:</p>

<%= project_image("projects/gps-logging/DFW-Driving.png", "Google Earth map of driving tracks") %>

<p>Even at closer zoom levels, the detail is decent:</p>

<%= project_image("projects/gps-logging/30-Driving.png", "Google Earth map of driving tracks") %>

<ul><li>Tutorial: <%= link_to "Garmin GPS Logging", gps_logging_garmin_path %></li></ul>

<!--
<h2>Walking and Biking</h2>

<ul><li>Tutorial: <%= link_to "iPhone GPS Logging", gps_logging_ios_path %></li></ul>
-->

<h2>Ingress Mapping</h2>

<p>I occasionally play a geocaching game called <%= link_to("Ingress", 'https://www.ingress.com/') %>, which encourages walking around between different waypoints on a map. Sometimes these waypoints are arranged into “missions” which require visiting waypoints in a certain order, and reward a digital “badge” with a picture related to the mission.</p>

<p>Sometimes, there are groups of missions with badge pictures that form a larger mural. I particularly like completing these (I enjoy walking and exploring), and I’ve started recording location data while I play to make maps.</p>

<%= link_to(project_image("ingress-murals/Tulsa Skyline.png", "Map of Tulsa Skyline Ingress Missions"), ingress_murals_path) %>

<p class="center"><%= link_to("See more of my Ingress mural maps", ingress_murals_path) %></p>