<% provide(:title, "GPS Logging")%>
<% provide(:meta_description, "Paul Bogard’s maps of driving, cycling, and walking routes.")%>

<h1>GPS Logging</h1>

<p><%= link_to("Flights", flight_historian_path) %> aren’t the only things I like to map. I also often record GPS data while driving, bicycling, or walking, and create maps of the routes.</p>

<div class="row button-row">
	<div class="col-md-6">
		<%= link_to("How to create route maps with<br/><strong>Garmin</strong> and <strong>Google Earth</strong>".html_safe, gps_logging_garmin_google_earth_path, class: "btn btn-default btn-block icon-button", role: "button") %>
	</div>
	<div class="col-md-6">
		<%= link_to("How to create route maps with<br/><strong>iOS</strong> and <strong>Google Earth</strong>".html_safe, gps_logging_ios_google_earth_path, class: "btn btn-default btn-block icon-button", role: "button") %>
	</div>
	<div class="col-md-6">
		<%= link_to("How to create route maps with<br/><strong>Garmin</strong> and <strong>OpenStreetMap</strong>".html_safe, gps_logging_garmin_osm_path, class: "btn btn-default btn-block icon-button", role: "button") %>
	</div>
	<div class="col-md-6">
		<%= link_to("How to create route maps with<br/><strong>iOS</strong> and <strong>OpenStreetMap</strong>".html_safe, gps_logging_ios_osm_path, class: "btn btn-default btn-block icon-button", role: "button") %>
	</div>
</div>



<h2>Driving</h2>

<p>From July 2010 to December 2011, I recorded a log of everywhere I drove, and imported it into <%= link_to("Google Earth", 'http://www.google.com/earth/index.html') %>.</p>

<%= project_image("projects/gps-logging/US-Driving.png", "Google Earth map of driving tracks") %>

<p>I performed the logging with a <%= link_to("Garmin nüvi 1390T", 'https://buy.garmin.com/shop/shop.do?pID=32700&ra=true')%> automotive GPS. However, I've been able to extract the log from other Garmin nüvi models as well.</p>

<p>The GPS log gives a good overview of everywhere I drove in the country for that year and a half &mdash; when I traveled and rented a car, I brought along my GPS to record those routes as well.  For example, the Dallas/Fort Worth metroplex in Texas:</p>

<%= project_image("projects/gps-logging/DFW-Driving.png", "Google Earth map of driving tracks") %>

<p>Even at closer zoom levels, the detail is decent:</p>

<%= project_image("projects/gps-logging/30-Driving.png", "Google Earth map of driving tracks") %>

<p>Learn how to create Google Earth route maps with a Garmin GPS in my <%= link_to "Garmin/Google Earth GPS Logging tutorial", gps_logging_garmin_google_earth_path %>.</p>



<h2>Walking and Biking</h2>

<p>If I want to create a map while I’m not driving, I use my iPhone to record the location data.</p>

<p>As an example, there are a lot of old rail lines in my area that have been converted to bicycle trails. I took a log of my bike riding over one summer and created the following map:</p>

<%= project_image("projects/gps-logging/Bicycling.png", "OpenStreetMap of bicycling tracks") %>

<p>In this case, I used <%= link_to "uMap", 'https://umap.openstreetmap.fr/en' %> with <%= link_to "OpenStreetMap", 'https://www.openstreetmap.org/' %> data. However, it would have been trivial to use the bicycling data in Google Earth instead.

<p>Learn how to create route maps with an iOS device in my <%= link_to "iOS GPS Logging tutorial", gps_logging_ios_osm_path %>.</p>

<h2>Ingress Mapping</h2>

<p>I occasionally play a geocaching game called <%= link_to("Ingress", 'https://www.ingress.com/') %>, which encourages walking around between different waypoints on a map. Sometimes these waypoints are arranged into “missions” which require visiting waypoints in a certain order, and reward a digital “badge” with a picture related to the mission.</p>

<p>Sometimes, there are groups of missions with badge pictures that form a larger mural. I particularly like completing these (I enjoy walking and exploring), and I’ve started recording location data while I play to make maps.</p>

<%= link_to(project_image("ingress-murals/Tulsa Skyline.png", "Map of Tulsa Skyline Ingress Missions"), ingress_murals_path) %>

<p>See more of my <%= link_to("Ingress mural maps", ingress_murals_path) %>.</p>