<% provide(:title, "Website History")%>
<% provide(:meta_description, "A history of Paul Bogard’s personal websites.")%>

<h1>Website History</h1>

<p>My first website started with some teach yourself <acronym title="Hypertext Markup Language">HTML</acronym> book back in my sophomore year of high school, in late 1999. It consisted entirely of the tutorial pages from that book, and was hosted out of the My Documents folder on my 200 MHz Pentium with 80 MB of RAM, a 4 GB hard drive, and no internet access whatsoever. True, it was pretty pointless to have a website that nobody else could see, but I was still excited.</p>

<h2 id="my-annoying-website-phase">My Annoying Website Phase</h2>

<p>Still glowing with excitement from my newfound skill, I spent many free periods in my high school’s computer lab and cobbled together a green-on-black monstrosity of a website that used the marquee tag for the title and some random JavaScript script that I’d downloaded to make some text follow the cursor. It was a hideous website. Luckily for me, it was only seen by people I showed it to; I still had nowhere to host it, so it ended up being hosted on a 3½″ floppy disk so I could work on it both at school and home.</p>

<p>Using someone else’s JavaScript code on my site just wouldn’t do, though. I taught myself JavaScript from a web tutorial and began working on the second version of my site, which I questionably named <span class="website-name">Paul Bogard’s Non-Amygdalaceous Website</span>.</p>

<p>Of course, using my own JavaScript didn’t make the site any better. I had such “cool” features as a JavaScript prompt that popped up when you loaded the page, which accepted the visitor’s name and then proceeded to scroll a welcome message to them in the status bar of the browser. At least the dark red and tan color scheme I had was slightly better than my previous version, but it was still a pretty bad site.</p>

<p>I finally realized the error of my ways and dropped the annoying JavaScript features for the next version of my site. This one simply used an included JavaScript file to create the menu common to each page so I would only have to update the menu once whenever I added a new page. Soon, I added a few JavaScript-run mad libs as well. The site was still hosted exclusively on either a floppy disk or whatever computer I happened to be working on at the time; eventually, I put it in a shared folder on one of the lab computers so I’d only need to use a floppy disk if I wanted to work on the site at home.</p>

<p>In the spring of 2000, I was given a copy of <em>Active Server Pages for Dummies</em>, and taught myself to use <acronym title="Active Server Pages">ASP</acronym>. I set up <acronym title="Personal Web Server">PWS</acronym> on my home computer and one of the lab computers. ASP was great; I could do proper include files and I didn’t have to bother with JavaScript. I could even do some simple database stuff by having ASP interact with a Microsoft Access database.</p>

<p>I began my Junior year of high school with a functional ASP/Access-based website. I had a simple guestbook that I’d written, I’d converted the Mad Libs to ASP, and all was good. In honor of the switch to ASP, I renamed my site to <span class="website-name">Paul Bogard’s Non-Ichthyophagous Website</span>.</p>

<%= project_image('history/ichthyophagous.png', type: :screenshot, alt: 'Paul Bogard’s Non-Ichthyophagous Website', caption: 'Paul Bogard’s Non-Ichthyophagous Website') %>

<p>I was still clearly in my “being <em>so random</em> is hilarious” phase, both with the title of the site (which I couldn’t consistently spell) and with a good portion of the content.</p>

<p>The only sticking point was that my site still wasn’t available publicly anywhere. Sure, I had PWS on both home and school computers, but my home computer didn’t even have a modem, and I couldn’t see my website from outside of the school’s network.</p>

<h2 id="real-websites">Real Websites</h2>

<p>So on 10 October 2000, I signed up for free hosting on Brinkster. It worked well for my site; I had a few megabytes of space with no ads, and I could use ASP and Access. Soon, I found a free domain name redirect, and <span class="website-name">PaulBogard.com</span> was born.</p>

<p>By the end of my senior year, <span class="website-name">PaulBogard.com</span> had added an interactive choice-based story and some silly relationship rater. It had a bunch of odd links. I had learned just enough Flash to be dangerous, and for a few months it had a Flash splash screen until I regained some sense.</p>

<%= project_image('history/paulbogard-com.png', type: :screenshot, alt: 'PaulBogard.com', caption: 'PaulBogard.com') %>

<p>I graduated high school in 2002 and went on to college at <%= link_to "Rose-Hulman Institute of Technology", 'http://rose-hulman.edu'%>.</p>

<p>Freshman year brought a great deal of CounterStrike and Warcraft III, which and I started using the nickname “Fishsticks” as my online presence. I discovered video game emulators and started playing the Super Nintendo game EarthBound again, which led me to become an active member on the EarthBound fansite <%= link_to "Starmen.Net", 'http://starmen.net' %>.</p>

<p>The site got a reasonable number of updates during that year, although most of them were school-related. I added a page dedicated to screenshots of Maple, the mathematics software that we all loved to hate, behaving weirdly. I put up a page quotes by me and my friends. We established a CounterStrike server, and I created a few pages for that. Any time I created a website for a class project, it got dumped onto <span class="website-name">PaulBogard.com</span>.</p>

<p>My friend Brian was into flight simulation, so he and I worked together on an ASP/Access website for <span class="website-name">America Airways</span>, a virtual airline community he was a part of. Among other features, the site allowed the virtual pilots to log their simulated flights.</p>

<%= project_image('history/america-airways.png', type: :screenshot, alt: 'America Airways', caption: 'America Airways')%>

<p>In the summer of 2003, a teacher from my former high school commissioned Brian and me to create a website to display her artwork for sale. We spent the summer and put together an ASP/Access-based catalog site. This project started to teach me that I needed to get away from Access; it had enough power for what we were expecting it to do, but even with the relatively small site we needed to come up with several awkward workarounds to get it to work properly.</p>

<h2 id="learning-php-and-mysql">Learning PHP and MySQL</h2>

<p>Early in my sophomore year of college, I decided to teach myself PHP. I’d heard some people saying they preferred it over ASP, and I could host it on my school-provided web space, so it seemed like it would be good to learn.</p>

<p>I made the choice at just the right time. In October, Brinkster announced that they would begin placing ads on their free sites. This was not totally unexpected; I had considered myself lucky to have a free site without ads. Nonetheless, I didn’t really want ads on my site, so I began to convert some of my ASP code into PHP.</p>

<p>I ran into a wall fairly quickly. I didn’t want to use Access databases anymore, but several parts of my site required a database. I checked with RHIT, but the student webhosting didn’t have a database available.</p>

<p>Considering my options, I realized that Rose-Hulman had a specific naming scheme for computers on its network, based on username and the order the computer registered. Thus, I effectively had a static rose-hulman.edu subdomain. So when I came back to school from winter break, I brought with me my old 200 MHz Pentium. I installed Windows 2000 on it and set up IIS, PHP and MySQL, and I had a server with a database. It wasn’t an ideal machine by any means, but it was more than sufficient for the tiny number of hits my website was getting. A side advantage of this setup was that ASP would work as well, so I was able to move my existing site off of Brinkster and onto my server immediately, rather than waiting until the PHP version was done. Brian and I also moved <span class="website-name">America Airways</span>, which had been hosted on Brinkster, to this server.</p>

<p>By March of 2004, I had <span class="website-name">PaulBogard.com</span> converted to PHP, complete with a new design and a new name: <span class="website-name">Paul Bogard’s Fishstick Heaven</span>.</p>

<%= project_image('history/fishstick-heaven.png', type: :screenshot, alt: 'Fishstick Heaven', caption: 'Fishstick Heaven') %>

<p>The databases were working well for the simple stuff that I’d previously done with Access, but I wanted a new project to develop my database skills.</p>

<p>The idea for my next project came to me while I was playing EarthBound. One of my sophomore year roommates had a Super Nintendo, so earlier in the school year I had gotten away from emulation by buying a used copy of the game. I decided a good database project would be a catalog of the game’s items and enemies because <%= link_to "Starmen.Net", 'http://starmen.net/' %>, the largest EarthBound fansite by that time, didn’t have such a catalog.</p>

<p>Summer break came around, and I couldn’t keep my server at RHIT over the summer, so we put it in a closet at Brian’s house over the summer. I set up my RHIT-hosted site to point to the temporary summer address, and Brian did the same with his Brinkster address.</p>

<p>Development on my EarthBound catalog project, which I dubbed the EarthBound Database, or <span class="website-name">EBDB</span>, was progressing well. By the summer I was feeling pretty comfortable with PHP and MySQL, so Brian and I decided to convert his aging site to use those technologies.</p>

<p>We weren’t done with the conversion by the end of summer break, but we did decide that we might want to do more websites on commission, so we agreed to split the cost of a hosting package at Fuitadnet, named ourselves Cycloid Studios, and registered cycloidstudios.net. I moved <span class="website-name">Fishstick Heaven</span> and <span class="website-name">EBDB</span> to cycloidstudios.net immediately. <span class="website-name">America Airways</span> couldn’t be moved until we’d finished converting it to PHP, so I brought the server back to RHIT.</p>

<p>The first week of my junior year, I had EBDB pretty much working. It now featured items, enemies, PSI powers, and shops. I previewed it to a few Starmen.Net people, and then formally announced it on the Starmen.Net forums on 5 September 2004. The reception to this project was incredible. I expected a few people to say it was cool; instead, I got featured as their monthly Site Spotlight, and I was invited to help Starmen.Net with their (almost-complete) site redesign.</p>

<%= project_image('history/ebdb.png', type: :screenshot, alt: 'EBDB: The EarthBound Database', caption: 'EBDB: The EarthBound Database') %>

<p>In the meantime, I noticed that Fuitadnet’s monthly bill was missing from my credit card. Apparently they forgot to bill me after the initial payment, so I was once again getting a site and domain for no monthly fee.</p>

<p>Development on Fishstick Heaven went on hold for a while. I was excited to be helping out with Starmen.Net, and in addition, Brian and I were finishing up <span class="website-name">America Airways</span>’ conversion and move to Cycloid Studios. In October, I built myself a new computer, and in November, I began playing Half-Life 2 and World of Warcraft (WoW).</p>

<p>Throughout 2005, WoW started taking up more of my free time. By my senior year at RHIT I was working two part time jobs, still playing WoW, and balancing a reasonable school course load. I didn’t have a whole lot of free time to work on <span class="website-name">Fishstick Heaven</span>. What little website work I did do was for my WoW guild’s website, and Cycloid Studios essentially became a place for me to dump WoW screenshots and videos.</p>

<h2 id="fobby-net">Fobby.net</h2>

<p>I graduated from RHIT in 2006. Though I started full-time work that summer, I was also playing much less World of Warcraft, and my evenings and weekends were relatively free.</p>

<p>At the end of August, two years after I’d originally signed up on Fuitadnet, I tried to access Cycloid Studios and found it was gone. Apparently Fuitadnet had finally figured out that they hadn’t been billing me. It didn’t disappoint me too much at the time, as I hadn’t been updating my sites anyway; my biggest regret was that I’d lost a lot of random files I’d been hosting there that I’d neglected to back up.</p>

<p>That October, I started work on rehosting <span class="website-name">Fishstick Heaven</span> on Fobby.Net&mdash;server space that <%= link_to "Starmen.Net", 'http://starmen.net/' %> had set aside for their volunteer staff. My website reopened as <span class="website-name">fishsticks.fobby.net</span> on 15 January, 2007.</p>

<%= project_image('history/fishsticks-fobby-net.png', type: :screenshot, alt: 'fishsticks.fobby.net', caption: 'fishsticks.fobby.net') %>

<p>Once again, my personal website still had no real focus; it simply became a repository for anything I wanted to share with anybody.</p>

<h2 id="portfolio-flight-log">A Portfolio and a Flight Log</h2>

<p>Though I’d done a lot of good work with PHP, I decided it was time for me to learn some new skills, and got myself a book on Ruby on Rails.</p>

<p>After working through the tutorial, I continued my tradition of redesigning my personal website using my newfound language skills. But this time, I recognized that my site needed a primary purpose&mdash;and that I needed a portfolio for projects that I’d worked on. Eureka! I put together <span class="website-name">Paul Bogard’s Portfolio</span> and hosted it on <%= link_to "Site5", 'https://www.site5.com/' %>.</p>

<%= project_image('history/portfolio-2012.png', type: :screenshot, alt: 'Paul Bogard’s Portfolio (2012 version)', caption: 'Paul Bogard’s Portfolio (2012 version)') %>

<p>As I’d done with <span class="website-name">EBDB</span> in the past, I again wanted a more complex database project to work on. By this time, I was traveling frequently for work, and so a <%= link_to "flight log", flight_historian_path(anchor: "history") %> seemed like it would be a great project. Although <span class="website-name">Paul Bogard’s Flight Log</span> had a different layout from my Portfolio, it was still technically part of the same Ruby application so that I could use it on a single hosting account.</p>

<h2 id="2016-portfolio-revision">2016 Portfolio Revision</h2>

<p>When I’d initially bought hosting on with Site5 in 2012, they were still running Ruby version 1.8.7, which was several years old at that point, but I’d been optimistic based on reading their support pages that a version upgrade would be coming soon. By 2015, they were still running terribly outdated versions of Ruby, so I was looking to move away from Site5 and rehost my site on <%= link_to "Heroku", "https://www.heroku.com/" %> instead.</p>

<p>Besides allowing me to run current versions of Ruby, Heroku also had the benefit of being integrated with the version control software <%= link_to "Git", "https://git-scm.com/" %>. This would allow me to deploy updates to my website with a single console command rather than having to use FTP like Site5 required.</p>

<p>Additionally, it was not cost prohibitive to host multiple Ruby applications on Heroku. My flight log was getting complex enough that it didn’t make sense to keep it as part of <span class="website-name">Paul Bogard’s Portfolio</span>, and I wanted to split it off as its own site.</p>

<p>Over December 2015 and January 2016, I separated my flight log from my portfolio, added some functionality, and <%= link_to "launched", "https://onehundredairports.com/2016/01/31/flight-log-version-2-0-flight-historian/ "%> it on Heroku as <span class="website-name">Flight Historian</span>.</p>

<p>I then spent the next few months revising my portfolio. I’d realized that while the primary purpose of my portfolio was to show off my projects, the front page didn’t actually show any projects&mdash;just links to the Projects page. I fixed that by placing tiles for all of my projects on the front page, so that any visitors to the site could see my projects immediately. Additionally, I revised the layout and made it responsive using <%= link_to "Bootstrap", "https://onehundredairports.com/2016/01/31/flight-log-version-2-0-flight-historian/" %>. I launched the new version of <span class="website-name">Paul Bogard’s Portfolio</span> in April of 2016.</p>

<%= project_image('history/portfolio-2016.png', type: :screenshot, alt: 'Paul Bogard’s Portfolio (2016 version)', caption: 'Paul Bogard’s Portfolio (2016 version)') %>

<p>That summer, I started playing around with using Ruby to generate vector graphics, and created my <%= link_to "Shared Itinerary", shared_itinerary_path %> site.</p>

<h2 id="timeline">Personal Website Timeline</h2>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Dates</th>
      <th>Personal Website Name</th>
      <th>Technology</th>
      <th>Host</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1999</td>
      <td>(unnamed)</td>
      <td rowspan="2">Static HTML</td>
      <td rowspan="3">Floppy Disk</td>
    </tr>
    <tr>
      <td>1999&ndash;2000</td>
      <td>Paul Bogard’s Non-Amygdalaceous Website</td>
    </tr>
    <tr>
      <td>2000</td>
      <td rowspan="2">Paul Bogard’s Non-Ichthyophagous Website</td>
      <td rowspan="4">ASP<br/>Microsoft Access</td>
    </tr>
    <tr>
      <td>2000&ndash;2001</td>
      <td rowspan="2">Brinkster</td>
    </tr>
    <tr>
      <td>2001&ndash;2004</td>
      <td rowspan="2">PaulBogard.com</td>
    </tr>
    <tr>
      <td rowspan="2">2004</td>
      <td rowspan="2">Windows 2000 PC</td>
    </tr>
    <tr>
      <td rowspan="2">Fishstick Heaven</td>
      <td rowspan="3">PHP<br/>MySQL</td>
    </tr>
    <tr>
      <td>2004&ndash;2006</td>
      <td>Fuitadnet</td>
    <tr>
      <td>2007&ndash;2012</td>
      <td>fishsticks.fobby.net</td>
      <td>Fobby.Net on <%= link_to "Starmen.Net", 'http://starmen.net/' %></td>
    </tr>
    <tr>
      <td>2012&ndash;2016</td>
      <td>Paul Bogard’s Portfolio</td>
      <td rowspan="2">Ruby on Rails<br/>PostgreSQL</td>
      <td><%= link_to "Site5", 'https://www.site5.com/' %></td>
    </tr>
    <tr>
      <td>2016&ndash;Present</td>
      <td><%= link_to "Paul Bogard’s Portfolio", root_path %> (2016 redesign)</td>
      <td><%= link_to "Heroku", 'https://www.heroku.com/' %></td>
    </tr>
  </tbody>
</table>