<div class="row project-row">
	
	<div class="col-lg-4 col-sm-6 project">
		<%= link_to(("<h2>Flight Historian</h2>"	+
		image_tag("projects/covers/flight-historian.png", class: "project-icon", alt: "Flight Historian") +
		"<p>A flight history tracking application</p>").html_safe,
		flight_historian_path,
		class: "btn btn-link btn-block" )
		%>
	</div>
	
	<div class="col-lg-4 col-sm-6 project">
		<%= link_to(("<h2>GPS Logging</h2>"	+
		image_tag("projects/covers/gps-logging.png", class: "project-icon", alt: "GPS Logging") +
		"<p>Maps of travel paths</p>").html_safe,
		gps_logging_path,
		class: "btn btn-link btn-block" )
		%>
	</div>
	
	<div class="col-lg-4 col-sm-6 project">
		<%= link_to(("<h2>CAD Models</h2>"	+
		image_tag("projects/covers/cad-3d-models.png", class: "project-icon", alt: "CAD 3D Models") +
		"<p>3D sketches</p>").html_safe,
		cad_models_path,
		class: "btn btn-link btn-block" )
		%>
	</div>
	
	<div class="col-lg-4 col-sm-6 project">
		<%= link_to(("<h2>Turn Signal Counter</h2>"	+
		image_tag("projects/covers/turn-signal-counter.jpg", class: "project-icon", alt: "Turn Signal Counter") +
		"<p>Counter integrated circuits on a truck</p>").html_safe,
		turn_signal_counter_path,
		class: "btn btn-link btn-block" )
		%>
	</div>
	
	<div class="col-lg-4 col-sm-6 project">
		<%= link_to(("<h2>Terminal Silhouettes</h2>"	+
		image_tag("projects/covers/terminal-silhouettes.png", class: "project-icon", alt: "Terminal Silhouettes") +
		"<p>Airport art</p>").html_safe,
		terminal_silhouettes_path,
		class: "btn btn-link btn-block" )
		%>
	</div>
	
	<div class="col-lg-4 col-sm-6 project">
		<%= link_to(("<h2>EarthBound Database</h2>"	+
		image_tag("projects/covers/earthbound-database.png", class: "project-icon", alt: "EarthBound Database") +
		"<p>A game information repository</p>").html_safe,
		earthbound_database_path,
		class: "btn btn-link btn-block" )
		%>
	</div>
	
	<div class="col-lg-4 col-sm-6 project">
		<%= link_to(("<h2>Visor Cam</h2>"	+
		image_tag("projects/covers/visor-cam.jpg", class: "project-icon", alt: "Visor Cam") +
		"<p>Road trip time lapse videos</p>").html_safe,
		visor_cam_path,
		class: "btn btn-link btn-block" )
		%>
	</div>
	
	<div class="col-lg-4 col-sm-6 project">
		<%= link_to(("<h2>Hotel Internet Quality</h2>"	+
		image_tag("projects/covers/hotel-internet-quality.png", class: "project-icon", alt: "Hotel Internet Quality") +
		"<p>Plots of hotel bandwidth by time of day</p>").html_safe,
		hotel_internet_quality_path,
		class: "btn btn-link btn-block" )
		%>
	</div>

</div>


<div class="text-center"><%= link_to(image_tag("projects/icons/GitHub-Mark-64px.png", class: "icon-button") + "See Paulʼs programming projects on GitHub", "https://github.com/bogardpd", class: "btn btn-default btn-block icon-button", role: "button") %></div>