

<div class="row project-row">
	
	<div class="col-lg-4 col-sm-6 project">
		<%= link_to(("<h2>Flight Historian</h2>"	+
		image_tag("project-icons/flight-historian.png", class: "project-icon", alt: "Flight Historian") +
		"<p>A flight history tracking application</p>").html_safe,
		"#",
		class: "btn btn-link btn-block" )
		%>
	</div>
	
	<div class="col-lg-4 col-sm-6 project">
		<%= link_to(("<h2>GPS Logging</h2>"	+
		image_tag("project-icons/gps-logging.png", class: "project-icon", alt: "GPS Logging") +
		"<p>Description</p>").html_safe,
		"#",
		class: "btn btn-link btn-block" )
		%>
	</div>
	
	<div class="col-lg-4 col-sm-6 project">
		<%= link_to(("<h2>CAD 3D Models</h2>"	+
		image_tag("project-icons/cad-3d-models.png", class: "project-icon", alt: "CAD 3D Models") +
		"<p>Description</p>").html_safe,
		"#",
		class: "btn btn-link btn-block" )
		%>
	</div>
	
	<div class="col-lg-4 col-sm-6 project">
		<%= link_to(("<h2>Turn Signal Counter</h2>"	+
		image_tag("project-icons/turn-signal-counter.png", class: "project-icon", alt: "Turn Signal Counter") +
		"<p>Description</p>").html_safe,
		"#",
		class: "btn btn-link btn-block" )
		%>
	</div>
	
	<div class="col-lg-4 col-sm-6 project">
		<%= link_to(("<h2>EarthBound Database</h2>"	+
		image_tag("project-icons/earthbound-database.png", class: "project-icon", alt: "EarthBound Database") +
		"<p>Description</p>").html_safe,
		"#",
		class: "btn btn-link btn-block" )
		%>
	</div>
	
	<div class="col-lg-4 col-sm-6 project">
		<%= link_to(("<h2>Visor Cam</h2>"	+
		image_tag("project-icons/visor-cam.png", class: "project-icon", alt: "Visor Cam") +
		"<p>Description</p>").html_safe,
		"#",
		class: "btn btn-link btn-block" )
		%>
	</div>
	
	<div class="col-lg-4 col-sm-6 project">
		<%= link_to(("<h2>Hotel Internet Quality</h2>"	+
		image_tag("project-icons/hotel-internet-quality.png", class: "project-icon", alt: "Hotel Internet Quality") +
		"<p>Description</p>").html_safe,
		"#",
		class: "btn btn-link btn-block" )
		%>
	</div>
	
</div>


<div class="text-center"><%= link_to(image_tag("GitHub-Mark-64px.png", class: "github-button") + "Paulʼs Programming Projects on GitHub", "https://github.com/bogardpd", class: "btn btn-default btn-block", role: "button") %></div>