<% provide(:title, "Hotel Internet Quality")%>
<% provide(:meta_description, "Paul Bogard’s analysis of hotel bandwidth data.")%>

<h1>Hotel Internet Quality</h1>

<%= render partial: "project_tags", locals: {project: :"hotel-internet-quality"} %>

<p>Anybody who’s stayed at more than a few hotels in the United States has likely noticed that the provided internet access is often poor.  Remote desktop software is difficult to use, video streaming sites can be effectively worthless, and even browsing relatively simple websites is often an exercise in frustration.</p>
  
<p>Things are getting better, but when <%= link_to("I started traveling for work", "https://www.flighthistorian.com", target: :_blank)%> back in 2009, it was hard to find a hotel with a quality connection. After staying at a hotel with a particularly poor connection in 2010, I kept a log of bandwidth and latency at hotels I visited over the course of 2010–2012. I gathered the data using <%= link_to("Speedtest.net", "http://speedtest.net/", target: :_blank) %>.</p>

<h2>Bandwidth and Time of Day</h2>

<p>Understanding that the root cause of the problem was likely an inadequate connection for the number of concurrent users the hotel was expecting, I theorized that the local time of day would affect the available bandwidth – peak times of day (evenings) would perform worse than off-peak times.</p>

<%= project_image("projects/hotel-internet-quality/Bandwidth-By-Local-Time-Of-Day-Hotels.png", alt: "Scatter plot with local time of day on the x-axis and bandwidth on the y-axis") %>

<p>Looking at the data (again, this data was all collected between 2010 and 2012), it appears this theory was not quite correct – most hotels never seemed to get a downstream bandwidth much above 1.0 Mbps regardless of the time of day, indicating some sort of throttling was likely at play.  However, the absolute worst data points (less than 0.1 Mbps) did tend to occur after about 17:00 (5:00 PM) daily. Even with the throttling, the hotels were still clearly overloaded at peak hours.</p>

<h2>Bandwidth and Internet Fees</h2>

<p>If that’s the case, a hotel with fewer users ought to perform better, right?</p>

<p>Some hotels still felt the the need to charge separately for internet access. (Again, fortunately, this is a trend that appears to be slowly going away.) Those hotels would presumably have had fewer internet users, as some people that may have used free internet access may not have been willing to pay.  Thus, there should have been fewer people competing for bandwidth, and the hotel should have been able to set its throttle higher.</p>

<p>The data didn’t support that theory, though:</p>

<%= project_image("projects/hotel-internet-quality/Average-Bandwidth-By-Internet-Access-Cost-Hotels.png", alt: "Column plot with internet access cost per night on the x-axis and bandwidth on the y-axis") %>

<p>While hotels charging for internet access tended to have marginally better upstream bandwidth, they actually performed <em>worse</em> than hotels with free access for downstream bandwidth.</p>