<% provide(:title, "The Hotel Pillow Fort")%>
<% provide(:meta_description, "Photos of Paul Bogard’s hotel pillow fort.")%>

<h1>The Hotel Pillow Fort</h1>

<p>On one trip back in 2011, the hotel I had reserved was out of single occupancy rooms, and gave me a two-bedroom suite. I had three beds, sixteen pillows, and three sofa cushions, so I did what any reasonable person would do in that situation &ndash; build a pillow fort.</p>

<%= project_image("hotel-pillow-fort/1.jpg", alt: "Photo of a pillow fort")%>
<%= project_image("hotel-pillow-fort/2.jpg", alt: "Photo of a pillow fort")%>
<%= project_image("hotel-pillow-fort/3.jpg", alt: "Photo of a pillow fort")%>
<%= project_image("hotel-pillow-fort/4.jpg", alt: "Photo of a pillow fort")%>
<%= project_image("hotel-pillow-fort/5.jpg", alt: "Photo of a pillow fort")%>