<% provide(:title, "Ingress Mosaics")%>
<% provide(:meta_description, "Maps of the routes for Ingress mosaic missions Paul Bogard has completed.")%>

<h1>Ingress Maps</h1>

<h2>Mosaics</h2>

<p>I play the geocaching game <%= link_to("Ingress", 'https://www.ingress.com/') %>. The game has some missions available which involve walking around to collect pieces of an image to form a mosaic. For some of these, I’ve plotted my location data on a map to show the route I walked to complete the missions.</p>

<h3>Bakersfield – All American City</h3>
<p>Bakersfield, California</p>
<%= project_image("ingress-mosaics/Bakersfield - All American City.png", alt: "Bakersfield – All American City") %>

<h3>Charleston Tour</h3>
<p>Charleston, South Carolina</p>
<%= project_image("ingress-mosaics/Charleston Tour.png", alt: "Charleston Tour") %>

<h3>Cincy</h3>
<p>Cincinnati, Ohio</p>
<%= project_image("ingress-mosaics/Cincy.png", alt: "Cincy") %>

<h3>Dayton</h3>
<p>Dayton, Ohio</p>
<%= project_image("ingress-mosaics/Dayton.png", alt: "Dayton") %>

<h3>Portsmouth Tour</h3>
<p>Portsmouth, New Hampshire</p>
<%= project_image("ingress-mosaics/Portsmouth Tour.png", alt: "Portsmouth Tour") %>

<h3>Orlando Eye</h3>
<p>Orlando, Florida</p>
<%= project_image("ingress-mosaics/Orlando Eye.png", alt: "Orlando Eye") %>

<h3>Tour of Tacoma</h3>
<p>Tacoma, Washington</p>
<%= project_image("ingress-mosaics/Tour of Tacoma.png", alt: "Tour of Tacoma") %>

<h3>Tulsa Skyline</h3>
<p>Tulsa, Oklahoma</p>
<%= project_image("ingress-mosaics/Tulsa Skyline.png", alt: "Tulsa Skyline") %>

<h3>UW Cherry Blossoms</h3>
<p>Seattle, Washington</p>
<%= project_image("ingress-mosaics/UW Cherry Blossoms.png", alt: "UW Cherry Blossoms") %>

<h2>Other Maps</h2>
<h3>Ohio County Courthouses</h3>
<p>I completed a mission requiring me to <%= link_to "visit every county courthouse in Ohio", 'https://onehundredairports.com/2016/07/04/ohio-county-courthouses/' %>.</p>
<%= project_image("ingress-mosaics/Ohio County Courthouses.png", alt: "Ohio County Courthouses") %>


