<% provide(:title, "Ingress Mosaics")%>
<% provide(:meta_description, "Maps of the routes for Ingress mosaic missions Paul Bogard has completed.")%>

<h1>Ingress Mosaics</h1>

<p>I play the geocaching game <%= link_to("Ingress", 'https://www.ingress.com/') %>. The game has some missions available which involve walking around to collect pieces of an image to form a mosaic. For some of these, I’ve plotted my location data on a map to show the route I walked to complete the missions.</p>

<h2>Cincy</h2>
<p>Cincinnati, Ohio</p>
<%= project_image("ingress-mosaics/Cincy.png", "Tulsa Skyline") %>

<h2>Dayton</h2>
<p>Dayton, Ohio</p>
<%= project_image("ingress-mosaics/Dayton.png", "Dayton") %>

<h2>Portsmouth Tour</h2>
<p>Portsmouth, New Hampshire</p>
<%= project_image("ingress-mosaics/Portsmouth Tour.png", "Portsmouth Tour") %>

<h2>Tour of Tacoma</h2>
<p>Tacoma, Washington</p>
<%= project_image("ingress-mosaics/Tour of Tacoma.png", "Tour of Tacoma") %>

<h2>Tulsa Skyline</h2>
<p>Tulsa, Oklahoma</p>
<%= project_image("ingress-mosaics/Tulsa Skyline.png", "Tulsa Skyline") %>

<h2>UW Cherry Blossoms</h2>
<p>Seattle, Washington</p>
<%= project_image("ingress-mosaics/UW Cherry Blossoms.png", "UW Cherry Blossoms") %>

