<% provide(:title, "Ingress Mosaic Maps")%>
<% provide(:meta_description, "Maps of the routes for Ingress mosaic missions Paul Bogard has completed.")%>

<h1>Ingress Mosaic Maps</h1>

<%= link_header("Mosaics", 2) %>

<p>I play the geocaching game <%= link_to "Ingress", "https://www.ingress.com/", target: :_blank %>. The game has some missions available which involve walking around to collect pieces of an image to form a mosaic. For some of these, I’ve plotted my location data on a map to show the route I walked to complete the missions.</p>

<%= link_header("Bakersfield – All American City", 3) %>
<p>Bakersfield, California</p>
<%= project_image("ingress-mosaics/Bakersfield - All American City.png", alt: "Bakersfield – All American City") %>

<%= link_header("Charleston Tour", 3) %>
<p>Charleston, South Carolina</p>
<%= project_image("ingress-mosaics/Charleston Tour.png", alt: "Charleston Tour") %>

<%= link_header("Cincy", 3) %>
<p>Cincinnati, Ohio</p>
<%= project_image("ingress-mosaics/Cincy.png", alt: "Cincy") %>

<%= link_header("Dayton", 3) %>
<p>Dayton, Ohio</p>
<%= project_image("ingress-mosaics/Dayton.png", alt: "Dayton") %>

<%= link_header("Kings Park War Memorial", 3) %>
<p>Perth, WA, Australia</p>
<%= project_image("ingress-mosaics/Kings Park War Memorial.png", alt: "Kings Park War Memorial") %>

<%= link_header("Orlando Eye", 3) %>
<p>Orlando, Florida</p>
<%= project_image("ingress-mosaics/Orlando Eye.png", alt: "Orlando Eye") %>


<%= link_header("Portsmouth Tour", 3) %>
<p>Portsmouth, New Hampshire</p>
<%= project_image("ingress-mosaics/Portsmouth Tour.png", alt: "Portsmouth Tour") %>

<%= link_header("Tour of Tacoma", 3) %>
<p>Tacoma, Washington</p>
<%= project_image("ingress-mosaics/Tour of Tacoma.png", alt: "Tour of Tacoma") %>

<%= link_header("Tulsa Skyline", 3) %>
<p>Tulsa, Oklahoma</p>
<%= project_image("ingress-mosaics/Tulsa Skyline.png", alt: "Tulsa Skyline") %>

<%= link_header("UW Cherry Blossoms", 3) %>
<p>Seattle, Washington</p>
<%= project_image("ingress-mosaics/UW Cherry Blossoms.png", alt: "UW Cherry Blossoms") %>

<%= link_header("Other Maps", 2) %>
<%= link_header("Ohio County Courthouses", 3) %>
<p>I completed a mission requiring me to <%= link_to "visit every county courthouse in Ohio", "https://onehundredairports.com/2016/07/04/ohio-county-courthouses/", target: :_blank %>.</p>
<%= project_image("ingress-mosaics/Ohio County Courthouses.png", alt: "Ohio County Courthouses") %>


