<% provide(:title, "Nights Away and Home")%>
<% provide(:meta_description, "Paul Bogard’s chart of trip durations.")%>

<h1>Nights Away and Home</h1>

<%= render partial: "project_tags", locals: {project: :"nights-away-and-home"} %>

<p>The COVID-19 stay-at-home has been the longest period I’ve been home since I started traveling for work in 2009. To illustrate this, I created a chart to compare the durations of my various trips and home stays.</p>

<%= project_image("projects/nights-away-and-home/Nights Away and Home 2020-07-04.png", alt: "Chart comparing Paul’s nights spent traveling to nights spent at home, from 2009 to 2020. The 2020 COVID-19 stay-at-home is the longest stay-at-home.") %>

<%= link_header("Tools and Data Sources", 2) %>

<table class="table tools-list">
	<tbody>
    <tr>
      <th scope="row">Data Source</th>
      <td>
        <ul>
          <li>An Excel spreadsheet of my hotel stays (<%= link_to("sample", "https://s3.us-east-2.amazonaws.com/pbogardcom-files/projects/nights-away-and-home/sample-data.xlsx", target: :_blank) %>)</li>
        </ul>
      </td>
    </tr>
    <tr>
      <th scope="row">Chart Generation</th>
      <td>
        <ul>
          <li><%= link_to("Nights Away and Home", "https://github.com/bogardpd/hotel-data-utils#nights-away-and-home", target: :_blank) %> script in my <%= link_to("hotel-data-utils", "https://github.com/bogardpd/hotel-data-utils", target: :_blank) %> Python package</li>
        </ul>
      </td>
    </tr>
	</tbody>
</table>