<% provide(:title, "Old Computers")%>
<% provide(:meta_description, "Paul Bogard’s old computers.")%>

<h1>Paul’s Old Computers</h1>

<%= link_buttons(LinkButton.new("See Paul’s current computers", nil, computers_path)) %>

<!-- Talk about how Pancake has generationally upgraded. Put Pancake timeline here. -->
<!-- Get old computer data (peanutbutter!) from images -->
<!-- Update mobile operating systems -->

<h2 id="laptops">Laptops</h2>

<%= render partial: "computer_summary", collection: @computers["laptops"], as: :computer %>

<div class="container">
  <p class="alert alert-info">Current laptop: <%= link_to "Quesadilla", computers_path(anchor: "home-computers") %></p>
</div>

<h2 id="mobile">Mobile Devices</h2>

<%= render partial: "computer_summary", collection: @computers["mobile"], as: :computer %>

<div class="container">
  <p class="alert alert-info">Current smartphone: <%= link_to "Tator Tot V", computers_path(anchor: "mobile") %></p>
  <p class="alert alert-info">Current tablet: <%= link_to "Latke", computers_path(anchor: "mobile") %></p>
</div>