<% provide(:title, "The 28-Stuf Oreo")%>
<% provide(:meta_description, "Paul Bogard’s bad idea.")%>

<h1>The 28-Stuf Oreo</h1>

<p>At one point on a vacation with some friends, I opened a pack of Double Stuf Oreos, and absentmindedly began removing cookies and sticking the creme together.</p>

<%= project_image("oreo/oreo-1.jpg", caption: "Constructing the Oreo tower")%>
<%= project_image("oreo/oreo-2.jpg", caption: "The completed cookie, made out of 14 Double Stuf Oreos worth of filling&mdash;or a 28-Stuf Oreo")%>
<%= project_image("oreo/oreo-3.jpg", caption: "Looking at this cookie, I realized that eating it was probably a bad idea")%>
<%= project_image("oreo/oreo-4.jpg", caption: "But I ate it anyway")%>
<%= project_image("oreo/oreo-5.jpg", caption: "Yes, it was a bad idea")%>
<%= project_image("oreo/oreo-6.jpg", caption: "I couldn’t finish it in one bite, so I ended up compressing the two halves together to form a smaller cookie")%>

<p>I did eventually finish the cookie, though. Lesson learned: it is possible to have too much sugar at once. It took me about a year before I was able to eat another Oreo.</p>