<% provide(:title, "The 28-Stuf Oreo")%>
<% provide(:meta_description, "Paul Bogard’s bad idea.")%>

<h1>The 28-Stuf Oreo</h1>

<p>At one point on a vacation with some friends, I opened a pack of Double Stuf Oreos, and absentmindedly began removing cookies and sticking the creme together:</p>

<%= project_image("oreo/oreo0.jpg", alt: "Paul building an Oreo")%>

<p>The completed cookie, made out of 14 Double Stuf Oreos worth of filling&mdash;or a 28-Stuf Oreo:</p>

<%= project_image("oreo/oreo1.jpg", alt: "Paul holding an Oreo")%>

<p>Looking at this cookie, I realized that eating it was probably a bad idea:</p>

<%= project_image("oreo/oreo2.jpg", alt: "Paul looking at an Oreo")%>

<p>But I ate it anyway:</p>

<%= project_image("oreo/oreo3.jpg", alt: "Paul eating an Oreo")%>

<p>Yes, it was a bad idea:</p>

<%= project_image("oreo/oreo4.jpg", alt: "Paul regretting eating an Oreo")%>

<p>I couldn’t finish it in one bite, so I ended up compressing the two halves together to form a smaller cookie:</p>

<%= project_image("oreo/oreo5.jpg", alt: "Paul eating an Oreo")%>

<p>I did eventually finish the cookie, though. Lesson learned: it is possible to have too much sugar at once. It took me about a year before I was able to eat another Oreo.</p>