<% provide(:meta_description, "Paul Bogard’s portfolio of programming, engineering, mapping, and other projects.")%>

<%= link_buttons(
  LinkButton.new("Paul’s <strong>Résumé</strong>", "resume", resume_path),
  LinkButton.new("Paul’s <strong>GitHub</strong> repositories", "github", "https://github.com/bogardpd/", target: :_blank)
  ) %>

<% @tags.each do |tag, values| %>
  <% if params[:tag] == tag.to_s || params[:tag] == tag %>
    <span class="badge badge-pill badge-active"><%= values[:name] %></span>
  <% else %>
    <%= link_to(values[:name], projects_path(tag: tag), title: values[:description], class: "badge badge-pill") %>
  <% end %>
<% end %>

<% if @projects.any? %>
  <div class="row cover-row">
    <%= render partial: "project_tile", collection: @projects, as: :project %>
  </div>
<% elsif params[:tag] %>
  <p>No projects have the tag <code><%= params[:tag] %></code>!</p>
  <p><%= link_to("All projects", projects_path) %></p>
<% else %>
  <p>Could not load projects!</p>
<% end %>