<% provide(:meta_description, "Paul Bogard’s portfolio of programming, engineering, mapping, and other projects.")%>

<%= link_buttons(
  LinkButton.new("Paul’s <strong>Résumé</strong>", "resume", resume_path),
  LinkButton.new("Paul’s <strong>GitHub</strong> repositories", "github", "https://github.com/bogardpd/", target: :_blank)
  ) %>

<h1>Projects</h1>

<div class="project-tags">
  <%= project_tag_badges(@tags) %>
</div>

<% if @projects.any? %>
  <div class="row cover-row">
    <%= render partial: "project_tile", collection: @projects, as: :project %>
  </div>
<% elsif params[:tag] %>
  <p>No projects have the tag <code><%= params[:tag] %></code>!</p>
  <p><%= link_to("All projects", projects_path) %></p>
<% else %>
  <p>Could not load projects!</p>
<% end %>