<% provide(:title, "Reading List")%>
<% provide(:meta_description, "Books that Paul Bogard is reading or has completed reading.")%>

<h1>Reading List</h1>

<h2 id="current">Currently Reading</h2>

<table class="table table-striped">
	<thead>
		<tr>
			<th class="reading-title">Title</th>
			<th class="reading-author">Author</th>
		</tr>
	</thead>
	<tbody>
		
		<%= render 'reading_list_book', title: "Flow", subtitle: "The Psychology of Optimal Experience", author: "Mihaly Csikszentmihalyi", amazon: "B000W94FE6" %>
		
	</tbody>
</table>

<h2 id="2016">Completed in 2016</h2>

<table class="table table-striped">
	<thead>
		<tr>
			<th class="reading-title">Title</th>
			<th class="reading-author">Author</th>
		</tr>
	</thead>
	<tbody>
		
		<%= render 'reading_list_book', title: "Disrupted", subtitle: "My Misadventure in the Start-Up Bubble", author: "Dan Lyons", amazon: "B013CATZIC" %>
		
		<%= render 'reading_list_book', title: "Bait and Switch", subtitle: "The (Futile) Pursuit of the American Dream", author: "Barbara Ehrenreich", amazon: "B003G83UL4" %>
		
		<%= render 'reading_list_book', title: "Misbehaving", subtitle: "The Making of Behavioral Economics", author: "Richard H. Thaler", amazon: "B00NUB4GFQ" %>
		
		<%= render 'reading_list_book', title: "Don’t Get Too Comfortable", subtitle: "The Indignities of Coach Class, The Torments of Low Thread Count, The Never-Ending Quest for Artisanal Olive Oil, and Other First World Problems", author: "David Rakoff", amazon: "B000FCKD0U" %>
		
		<%= render 'reading_list_book', title: "Nickel and Dimed", subtitle: "On (Not) Getting By in America", author: "Barbara Ehrenreich", amazon: "B001BAJ25W" %>
		
		<%= render 'reading_list_book', title: "Antifragile", subtitle: "Things That Gain from Disorder", author: "Nassim Nicholas Taleb", amazon: "B0083DJWGO" %>
		
	</tbody>
</table>

<h2 id="2015">Completed in 2015</h2>

<table class="table table-striped">
	<thead>
		<tr>
			<th class="reading-title">Title</th>
			<th class="reading-author">Author</th>
		</tr>
	</thead>
	<tbody>
		
		<%= render 'reading_list_book', title: "The Geography of Nowhere", subtitle: "The Rise and Decline of America’s Man-made Landscape", author: "James Howard Kunstler", amazon: "B00F7OM1HE" %>
		
		<%= render 'reading_list_book', title: "First, Break All the Rules", subtitle: "What the World’s Greatest Managers Do Differently", author: "Marcus Buckingham<br/>Curt Coffman", amazon: "B00HL2S4LW" %>
		
		<%= render 'reading_list_book', title: "Walkable City", subtitle: "How Downtown Can Save America, One Step at a Time", author: "Jeff Speck", amazon: "B008423170" %>
		
		<%= render 'reading_list_book', title: "Mostly Harmless", author: "Douglas Adams" %>
		
		<%= render 'reading_list_book', title: "So Long, and Thanks for All the Fish", author: "Douglas Adams" %>
		
		<%= render 'reading_list_book', title: "Life, the Universe and Everything", author: "Douglas Adams" %>
		
		<%= render 'reading_list_book', title: "The Restaurant at the End of the Universe", author: "Douglas Adams" %>
		
		<%= render 'reading_list_book', title: "The Hitchhiker’s Guide to the Galaxy", author: "Douglas Adams" %>
		
		<%= render 'reading_list_book', title: "Stuffocation", subtitle: "Why We’ve Had Enough of Stuff and Need Experience More Than Ever", author: "James Wallman", amazon: "B00N6PEP7A" %>
		
		<%= render 'reading_list_book', title: "The Martian", author: "Andy Weir", amazon: "B00EMXBDMA" %>
		
		<%= render 'reading_list_book', title: "The Black Swan", subtitle: "The Impact of the Highly Improbable Fragility", author: "Nassim Nicholas Taleb", amazon: "B00139XTG4" %>
		
		<%= render 'reading_list_book', title: "Straight to Hell", subtitle: "True Tales of Deviance, Debauchery, and Billion-Dollar Deals", author: "John LeFevre", amazon: "B00JLQ4QH2" %>
		
		<%= render 'reading_list_book', title: "War Dogs", subtitle: "Tales of Canine Heroism, History, and Love", author: "Rebecca Frankel", amazon: "B00KK4FL3C" %>
		
		<%= render 'reading_list_book', title: "Generation on a Tightrope", subtitle: "A Portrait of Today’s College Student", author: "Arthur Levine<br/>Diane R. Dean", amazon: "B008NPSNHQ" %>
		
		<%= render 'reading_list_book', title: "Cyber War", subtitle: "The Next Threat to National Security and What to Do About It", author: "Richard A. Clarke<br/>Robert Knake", amazon: "B003F1WMAM" %>
		
		<%= render 'reading_list_book', title: "The Peter Principle", subtitle: "Why Things Always Go Wrong", author: "Laurence J. Peter<br/>Raymond Hull", amazon: "B00IRCZHXI" %>
		
		<%= render 'reading_list_book', title: "State of Fear", author: "Michael Crichton", amazon: "B000FC2NQW" %>
		
		<%= render 'reading_list_book', title: "Never Saw It Coming", subtitle: "Cultural Challenges to Envisioning the Worst", author: "Karen A. Cerulo", amazon: "B001UQ6WWI" %>
		
	</tbody>
</table>

<h2 id="2014">Completed in 2014</h2>

<table class="table table-striped">
	<thead>
		<tr>
			<th class="reading-title">Title</th>
			<th class="reading-author">Author</th>
		</tr>
	</thead>
	<tbody>
		
		<%= render 'reading_list_book', title: "Hollowing Out the Middle", subtitle: "The Rural Brain Drain and What It Means for America", author: "Patrick J. Carr<br/>Maria J. Kefalas", amazon: "B006074GRK" %>
		
		<%= render 'reading_list_book', title: "The Bedwetter", subtitle: "Stories of Courage, Redemption, and Pee", author: "Sarah Silverman", amazon: "B003F1WMAW" %>
		
		<%= render 'reading_list_book', title: "Turn the Ship Around!", subtitle: "A True Story of Turning Followers into Leaders", author: "L. David Marquet", amazon: "B00AFPVP0Y" %>
		
		<%= render 'reading_list_book', title: "Don Quixote", author: "Miguel de Cervantes", amazon: "B00JEIFS9W" %>
		
		<%= render 'reading_list_book', title: "My Loser Phase", subtitle: "Tales of Video Game Retail 1992-1997", author: "Hugues Johnson", amazon: "B0093ELH5G" %>
		
		<%= render 'reading_list_book', title: "Console Wars", subtitle: "Sega, Nintendo, and the Battle that Defined a Generation", author: "Blake J. Harris", amazon: "B00FJ379XE" %>
		
		<%= render 'reading_list_book', title: "Crabgrass Frontier", subtitle: "The Suburbanization of the United States", author: "Kenneth T. Jackson", amazon: "B004VV9LFO" %>
		
		<%= render 'reading_list_book', title: "Capital in the Twenty-First Century", author: "Thomas Piketty", amazon: "B00I2WNYJW" %>
		
		<%= render 'reading_list_book', title: "Fight Club", author: "Chuck Palahniuk", amazon: "B000U0O9FM" %>
		
		<%= render 'reading_list_book', title: "The Big Roads", subtitle: "The Untold Story of the Engineers, Visionaries, and Trailblazers Who Created the American Superhighways", author: "Earl Swift", amazon: "B004X7TM14" %>
		
		<%= render 'reading_list_book', title: "Scarcity", subtitle: "Why Having Too Little Means So Much", author: "Sendhil Mullainathan<br/>Eldar Shafir", amazon: "B00BMKOO6S" %>
		
		<%= render 'reading_list_book', title: "Duty", subtitle: "Memoirs of a Secretary at War", author: "Robert M. Gates", amazon: "B00F8F3J2S" %>
		
		<%= render 'reading_list_book', title: "The Box", subtitle: "How the Shipping Container Made the World Smaller and the World Economy Bigger", author: "Marc Levinson", amazon: "B003U2TR5O" %>
		
	</tbody>
</table>

<h2 id="2014">Completed in 2013</h2>

<table class="table table-striped">
	<thead>
		<tr>
			<th class="reading-title">Title</th>
			<th class="reading-author">Author</th>
		</tr>
	</thead>
	<tbody>
		
		
		
	</tbody>
</table>