<% provide(:title, "Reading List")%>
<% provide(:meta_description, "Books that Paul Bogard is reading or has completed reading.")%>

<h2>Currently Reading</h2>

<table class="table table-striped">
	<thead>
		<tr>
			<th class="reading-title">Title</th>
			<th class="reading-author">Author</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="reading-title"><%= link_to "Flow", 'http://www.amazon.com/Flow-Harper-Perennial-Modern-Classics-ebook/dp/B000W94FE6' %></td>
			<td class="reading-author">Mihaly Csikszentmihalyi</td>
		</tr>
	</tbody>
</table>

<h2>Completed in 2016</h2>

<table class="table table-striped">
	<thead>
		<tr>
			<th class="reading-title">Title</th>
			<th class="reading-author">Author</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="reading-title"><%= link_to "Disrupted: My Misadventure in the Start-Up Bubble", 'http://www.amazon.com/Disrupted-My-Misadventure-Start-Up-Bubble-ebook/dp/B013CATZIC' %></td>
			<td class="reading-author">Dan Lyons</td>
		</tr>
		<tr>
			<td class="reading-title"><%= link_to "Bait and Switch: The (Futile) Pursuit of the American Dream", 'http://www.amazon.com/Bait-Switch-Futile-Pursuit-American-ebook/dp/B003G83UL4' %></td>
			<td class="reading-author">Barbara Ehrenreich</td>
		</tr>
		<tr>
			<td class="reading-title"><%= link_to "Misbehaving: The Making of Behavioral Economics", 'http://www.amazon.com/Misbehaving-Behavioral-Economics-Richard-Thaler-ebook/dp/B00NUB4GFQ' %></td>
			<td class="reading-author">Richard H. Thaler</td>
		</tr>
		<tr>
			<td class="reading-title"><%= link_to "Donʼt Get Too Comfortable: The Indignities of Coach Class, The Torments of Low Thread Count, The Never-Ending Quest for Artisanal Olive Oil, and Other First World Problems", 'http://www.amazon.com/Dont-Get-Too-Comfortable-Indignities-ebook/dp/B000FCKD0U' %></td>
			<td class="reading-author">David Rakoff</td>
		</tr>
		<tr>
			<td class="reading-title"><%= link_to "Nickel and Dimed: On (Not) Getting By in America", 'http://www.amazon.com/Nickel-Dimed-Not-Getting-America-ebook/dp/B001BAJ25W' %></td>
			<td class="reading-author">Barbara Ehrenreich</td>
		</tr>
	</tbody>
</table>

<h2>Completed in 2015</h2>

<table class="table table-striped">
	<thead>
		<tr>
			<th class="reading-title">Title</th>
			<th class="reading-author">Author</th>
		</tr>
	</thead>
	<tbody>
		
	</tbody>
</table>