<% provide(:title, "Reading List")%>
<% provide(:meta_description, "Books that Paul Bogard is reading or has completed reading.")%>

<h2>Currently Reading</h2>

<table class="table table-striped">
	<thead>
		<tr>
			<th class="reading-title">Title</th>
			<th class="reading-author">Author</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="reading-title"><%= link_to "Flow", 'http://www.amazon.com/Flow-Harper-Perennial-Modern-Classics-ebook/dp/B000W94FE6' %><br/><span>The Psychology of Optimal Experience</span></td>
			<td class="reading-author">Mihaly Csikszentmihalyi</td>
		</tr>
	</tbody>
</table>

<h2>Completed in 2016</h2>

<table class="table table-striped">
	<thead>
		<tr>
			<th class="reading-title">Title</th>
			<th class="reading-author">Author</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="reading-title"><%= link_to "Disrupted", 'http://www.amazon.com/Disrupted-My-Misadventure-Start-Up-Bubble-ebook/dp/B013CATZIC' %><br/><span>My Misadventure in the Start-Up Bubble</span></td>
			<td class="reading-author">Dan Lyons</td>
		</tr>
		<tr>
			<td class="reading-title"><%= link_to "Bait and Switch", 'http://www.amazon.com/Bait-Switch-Futile-Pursuit-American-ebook/dp/B003G83UL4' %><br/><span>The (Futile) Pursuit of the American Dream</span></td>
			<td class="reading-author">Barbara Ehrenreich</td>
		</tr>
		<tr>
			<td class="reading-title"><%= link_to "Misbehaving", 'http://www.amazon.com/Misbehaving-Behavioral-Economics-Richard-Thaler-ebook/dp/B00NUB4GFQ' %><br/><span>The Making of Behavioral Economics</span></td>
			<td class="reading-author">Richard H. Thaler</td>
		</tr>
		<tr>
			<td class="reading-title"><%= link_to "Donʼt Get Too Comfortable", 'http://www.amazon.com/Dont-Get-Too-Comfortable-Indignities-ebook/dp/B000FCKD0U' %><br/><span>The Indignities of Coach Class, The Torments of Low Thread Count, The Never-Ending Quest for Artisanal Olive Oil, and Other First World Problems</span></td>
			<td class="reading-author">David Rakoff</td>
		</tr>
		<tr>
			<td class="reading-title"><%= link_to "Nickel and Dimed", 'http://www.amazon.com/Nickel-Dimed-Not-Getting-America-ebook/dp/B001BAJ25W' %><br/><span>On (Not) Getting By in America</span></td>
			<td class="reading-author">Barbara Ehrenreich</td>
		</tr>
	</tbody>
</table>

<h2>Completed in 2015</h2>

<table class="table table-striped">
	<thead>
		<tr>
			<th class="reading-title">Title</th>
			<th class="reading-author">Author</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="reading-title"><%= link_to "Antifragile", 'http://www.amazon.com/Antifragile-Things-That-Disorder-Incerto-ebook/dp/B0083DJWGO' %><br/><span>Things That Gain from Disorder</span></td>
			<td class="reading-author">Nassim Nicholas Taleb</td>
		</tr>
		<tr>
			<td class="reading-title"><%= link_to "The Geography of Nowhere", 'http://www.amazon.com/Antifragile-Things-That-Disorder-Incerto-ebook/dp/B0083DJWGO' %><br/><span>The Rise and Decline of Americaʼs Man-made Landscape</span></td>
			<td class="reading-author">James Howard Kunstler</td>
		</tr>
		<tr>
			<td class="reading-title"><%= link_to "First, Break All the Rules", 'http://www.amazon.com/First-Break-All-Rules-Differently-ebook/dp/B00HL2S4LW' %><br/><span>What the Worldʼs Greatest Managers Do Differently</span></td>
			<td class="reading-author">Marcus Buckingham<br/>Curt Coffman</td>
		</tr>
		<tr>
			<td class="reading-title"><%= link_to "Walkable City", 'http://www.amazon.com/Walkable-City-Downtown-Save-America-ebook/dp/B008423170' %><br/><span>How Downtown Can Save America, One Step at a Time</span></td>
			<td class="reading-author">Jeff Speck</td>
		</tr>
		
	</tbody>
</table>