<% provide(:title, "Starmen.Net and Fangamer Conventions")%>
<% provide(:meta_description, "Conventions with the EarthBound community")%>

<h1>Starmen.Net and Fangamer Conventions</h1>

<%= link_header "Starmen Cons", 2 %>

<p>Since the early 2000s, staff, moderators, and senior members of the <cite>EarthBound</cite> fansite <%= link_to "Starmen.Net", "http://starmen.net" %> have taken a group vacation together nearly every year. Generally, these involve splitting the costs of a large rental home among a few dozen people. I have attended a number of these conventions.</p>

<div class="row cover-row">
  <%= render partial: "static_pages/galleries/cover_tile", locals: {gallery: :starmen_con_gallery, name: "Washingcon", location: "Marysville, Washington", dates: "15–23 July 2007"} %>
  <%= render partial: "static_pages/galleries/cover_tile", locals: {gallery: :starmen_con_gallery, name: "Chicagocon", location: "Michigan City, Indiana", dates: "12–19 July 2008"} %>
  <%= render partial: "static_pages/galleries/cover_tile", locals: {gallery: :starmen_con_gallery, name: "Yes We Con", location: "Lake George, New York", dates: "7–14 June 2009"} %>
  <%= render partial: "static_pages/galleries/cover_tile", locals: {gallery: :starmen_con_gallery, name: "Gatlincon", location: "Gatlinburg, Tennessee", dates: "25–31 July 2010"} %>
  <%= render partial: "static_pages/galleries/cover_tile", locals: {gallery: :starmen_con_gallery, name: "Utacon", location: "Herriman, Utah", dates: "24–31 July 2011"} %>
  <%= render partial: "static_pages/galleries/cover_tile", locals: {gallery: :starmen_con_gallery, name: "Flagstaff Con", location: "Flagstaff, Arizona", dates: "22–29 June 2014"} %>
</div>

<%= link_header "Mini Cons", 2 %>

<p>There have been several other smaller, shorter meetups of Starmen Con people that I’ve attended.</p>

<div class="row cover-row">
  <%= render partial: "static_pages/galleries/cover_tile", locals: {gallery: :starmen_con_gallery, name: "Indiana Minicon", location: "Lafayette &amp; Kokomo, Indiana", dates: "19–20 August 2006"} %>
  <%= render partial: "static_pages/galleries/cover_tile", locals: {gallery: :starmen_con_gallery, name: "Applecon", location: "Appleton, Wisconsin", dates: "2–4 January 2009"} %>
</div>

<%= link_header "Camp Fangamer", 2 %>

<p><%= link_to "Fangamer", "https://www.fangamer.com/" %> was founded by a number of senior members from Starmen.Net. They hosted <cite>EarthBound</cite>- and <cite>Mother 3</cite>-themed conventions in 2015 and 2016.</p>

<div class="row cover-row">
  <%= render partial: "static_pages/galleries/cover_tile", locals: {gallery: :starmen_con_gallery, name: "Camp Fangamer 2015", location: "Tucson, Arizona", dates: "18–19 July 2015"} %>
  <%= render partial: "static_pages/galleries/cover_tile", locals: {gallery: :starmen_con_gallery, name: "Camp Videogamely 2016", location: "Tucson, Arizona", dates: "29–31 July 2016"} %>
</div>

<%= link_header "PAX", 2 %>

<p>Fangamer is also a frequent exhibitor at <%= link_to "Penny Arcade Expo", "http://www.paxsite.com/", target: :_blank %>. <%= link_to "I’ve attended PAX a few times.", pax_path %></p>

