<% provide(:title, "StephenVlog Appearances")%>
<% provide(:meta_description, "Paul’s appearances on StephenVlog") %>
<% provide(:theme, "stephenvlog") %>

<h1>StephenVlog Appearances</h1>
<p>I’ve known Stephen Georg on <%= link_to("Starmen.Net", "http://starmen.net") %> for years (and first met him in person in 2007). Over the years, I ended up getting featured a few times on <%= link_to("StephenVlog", "http://www.youtube.com/user/stephenvlog") %>.</p>

<%= link_header "Gatlinburg", 2 %>

<p>My first appearances on the Vlog were during the 2010 Starmen.Net convention in Gatlinburg, Tennessee. As there were 50 people at that convention, I was only on in the background of a few of the videos.</p>

<%
@vlogs.clear
@vlogs.push ["I Can’t Break My Fast", "F1JP-CSq30Y", "2010-07-27", "Day 245"]
@vlogs.push ["Screw Pancakes, I’m Getting Biscuits", "wX3JjvXZbd0", "2010-07-28", "Day 246"]
@vlogs.push ["Drugs Are Also Like Babies, Chalk, Screwdrivers, and Lipitor", "662ZZaYX208", "2010-07-29", "Day 247"]
@vlogs.push ["Con’s Over", "PkSIR2DDfXQ", "2010-07-31", "Day 249"]
%>

<%= render :partial => "vlog_tiles" %>
	
<%= link_header "South Carolina", 2 %>
	
<p>Starting in 2012, I began having frequent business trips to Charleston, South Carolina, and managed to meet up with Stephen and Mal a few times.</p>

<%
@vlogs.clear
@vlogs.push ["I Feel Very Overdressed", "WYtoyGu2DcM", "2012-02-21", "Day 819"]
@vlogs.push ["Cadillacs & Dinosaurs", "uqpVvrdTExE", "2012-03-14", "Day 841"]
@vlogs.push ["25 Wings", "vEHcjByTJUg", "2012-05-03", "Day 891"]
@vlogs.push ["Hog Heaven", "6-lg2kFTLw8", "2012-07-26", "Day 975"]
@vlogs.push ["Duck", "1jhCuxHdh7w", "2012-12-04", "Day 1106"]
@vlogs.push ["This is the Future of Gaming", "U1JVbCe2CfU", "2013-05-23", "Day 1276"]
%>

<%= render :partial => "vlog_tiles" %>

<%= link_header "PAX", 2 %>

<%= link_header "PAX Prime 2012", 3 %>

<p>Stephen, Mal, and I shared a hotel suite in Seattle for <%= link_to "PAX Prime 2012", pax_gallery_path(gallery: "pax-prime-2012") %>, and spent time at the convention and around Seattle together.</p>

<%
@vlogs.clear
@vlogs.push ["Quadruple and a Half Bus Madness", "oi-R-N6yZKQ", "2012-08-30", "Day 1010"]
@vlogs.push ["Do You Want A Hug?", "erRWjYPWSH4", "2012-08-31", "Day 1011"]
@vlogs.push ["My Mom Makes The Best Rice Krispy Treats, Don’tcha Think?", "N10Gjl0yzYs", "2012-09-01", "Day 1012"]
@vlogs.push ["ICREMTUNA!", "tah0uL3Yw40", "2012-09-02", "Day 1013"]
@vlogs.push ["Every Stump", "0jub9Zbcjb0", "2012-09-03", "Day 1014"]
%>

<%= render :partial => "vlog_tiles" %>

<%= link_header "PAX East 2013", 3 %>

<p>During <%= link_to "PAX East 2013", pax_gallery_path(gallery: "pax-east-2013") %>, I met up with Stephen for dinner.</p>

<%
@vlogs.clear
@vlogs.push ["LadyGaga.com/balls", "9seKoZZpQHE", "2013-03-23", "Day 1215"]
%>

<%= render :partial => "vlog_tiles" %>

<%= link_header "PAX East 2014", 3 %>

<p>During <%= link_to "PAX East 2014", pax_gallery_path(gallery: "pax-east-2014") %>, I attended a panel with Stephen.</p>

<%
@vlogs.clear
@vlogs.push ["Give Me The Crown!", "Fh1xxgwhWvg", "2014-04-12", "Day 1600"]
%>

<%= render :partial => "vlog_tiles" %>

<%= link_header "Stephen &amp; Friends", 2 %>

<p>I’ve played online games as part of the <%= link_to "StephenPlays", "https://www.youtube.com/user/stephenplays" %> <em>Stephen &amp; Friends</em> series.</p>

<%
@vlogs.clear
@vlogs.push ["Anarchy!", "lmrcgmTDxQM", "2017-06-17", "1kBWC #3"]
@vlogs.push ["13 Player Rocket Cars!", "sItscyZSlNI", "2017-07-01", "GTA Online #37"]
@vlogs.push ["In Bed!", "6cvKDbF-hT0", "2017-07-08", "1kBWC #4"]
%>

<%= render :partial => "vlog_tiles" %>

<%= link_header "Other", 2 %>

<%
@vlogs.clear
@vlogs.push ["I Officially Like Curry", "YHXNQa_sQl4",  "2012-06-21", "Day 940"]
@vlogs.push ["Secret of Mana", "MK8bxRdkNKU", "2012-07-09", "Day 958"]
@vlogs.push ["Olympic Gold Medalist in Space Discus", "5USOBbWnyN0", "2014-08-03", "Day 1713"]
%>

<%= render :partial => "vlog_tiles" %>