<% provide(:title, "Terminal Silhouettes")%>
<% provide(:meta_description, "Paul Bogard’s vector illustrations of airport terminals.")%>

<h1>Terminal Silhouettes</h1>

<%= link_buttons(
  LinkButton.new("Read my silhouette <strong>blog posts</strong>", 'one-hundred-airports', 'https://onehundredairports.com/category/projects/terminal-silhouettes/'),
  LinkButton.new("<strong>GitHub</strong> repository", 'github', 'https://github.com/bogardpd/terminal_silhouettes')
  ) %>

<p>I wanted to teach myself how to create Scalable Vector Graphics (SVG) drawings, so I started drawing silhouettes of airport terminals and concourses that <%= link_to "I’ve visited", 'http://www.flighthistorian.com/airports' %>.</p>

<h2>Tools</h2>

<table class="table table-striped">
	<tbody>
		<tr>
			<th scope="row">Vector Graphics Editor</th>
			<td><%= link_to("Inkscape", 'https://inkscape.org') %></td>
		</tr>
		<tr>
			<th scope="row">Version Control</th>
			<td><%= link_to("Git", 'https://git-scm.com') %></td>
		</tr>
		<tr>
			<th scope="row">Project Management</th>
			<td><%= link_to("Trello", 'https://trello.com/') %></td>
		</tr>
	</tbody>
</table>

<h2>Gallery</h2>

<div class="row">
<% @terminals.each do |iata, name| %>
	<div class="col-lg-6 terminal-silhouette-container">
		<h3><%= name %>&emsp;<%= iata %></h3>
		<div class="terminal-silhouette-preview"><%= link_to(image_tag("projects/terminal-silhouettes/#{iata}.png", alt: iata, class: "img-responsive terminal-silhouette-preview"), "files/terminal-silhouettes/png/#{iata}.png") %></div>
		<div class="terminal-silhouette-links"><%= link_to "png", "/files/terminal-silhouettes/png/#{iata}.png" %> &middot; <%= link_to "svg", "/files/terminal-silhouettes/svg/#{iata}.svg" %></div>
	</div>
<% end %>
</div>