<h2>The House</h2>

<p>As usual for these sorts of events, we rented a large house from VRBO and split the costs among everybody.</p>

<%= project_image("photos/washingcon/house-front-1.jpg", caption: "Front of the house") %>
<%= project_image("photos/washingcon/house-front-2.jpg", caption: "Front of the house") %>
<%= project_image("photos/washingcon/house-side-1.jpg", caption: "The right side of the house") %>
<%= project_image("photos/washingcon/house-lake-view-1.jpg", caption: "View from the deck") %>
<%= project_image("photos/washingcon/house-lake-view-2.jpg", caption: "View from the deck") %>
<%= project_image("photos/washingcon/house-balcony-view-1.jpg", caption: "View from the balcony") %>
<%= project_image("photos/washingcon/house-entry-1.jpg", caption: "Entry room") %>
<%= project_image("photos/washingcon/house-living-room-1.jpg", caption: "Living room") %>
<%= project_image("photos/washingcon/house-living-room-2.jpg", caption: "Living room") %>
<%= project_image("photos/washingcon/house-living-room-3.jpg", caption: "Living room") %>
<%= project_image("photos/washingcon/house-kitchen-1.jpg", caption: "Kitchen") %>
<%= project_image("photos/washingcon/house-master-bedroom-1.jpg", caption: "Master bedroom") %>
<%= project_image("photos/washingcon/house-master-bathroom-1.jpg", caption: "Master bathroom") %>
<%= project_image("photos/washingcon/house-master-closet-1.jpg", caption: "Master bedroom closet") %>
<%= project_image("photos/washingcon/house-1st-bedroom-1.jpg", caption: "First bedroom") %>
<%= project_image("photos/washingcon/house-2nd-bedroom-1.jpg", caption: "Second bedroom") %>
<%= project_image("photos/washingcon/house-3rd-bedroom-1.jpg", caption: "Third bedroom") %>
<%= project_image("photos/washingcon/house-downstairs-bedroom-1.jpg", caption: "Downstairs bedroom") %>
<%= project_image("photos/washingcon/house-game-room-1.jpg", caption: "Game room") %>
<%= project_image("photos/washingcon/house-beach-1.jpg", caption: "Beach") %>
<%= project_image("photos/washingcon/house-sunset-1.jpg", caption: "View from the beach") %>