<h2>Sunday, July 22</h2>

<%= link_header("Final Full Day of Washingcon", 3) %>

<p>There wasn’t a whole lot to do as people prepared to leave, so those of us remaining did random things around the house.</p>

<%= project_image("photos/washingcon/guitar-hero-3.jpg", caption: %Q(<acronym title="GimeC">Will</acronym> and <acronym title="reidman">Reid</acronym> play <cite>Guitar Hero II</cite>)) %>
<%= project_image("photos/washingcon/guitar-hero-4.jpg", caption: %Q(<acronym title="reidman">Reid</acronym> and <acronym title="Meeellla">Camille</acronym>)) %>
<%= project_image("photos/washingcon/signatures.jpg", caption: %Q(We all signed this yellow piece of cardboard. The board was originally intended to be a “HINT” sign, but we never ended up making it.)) %>
<%= project_image("photos/washingcon/cards-15.jpg", caption: %Q(Another spontaneous game of 1000 Blank White Cards broke out.)) %>

<%= link_header("Return of the Stormtrooper", 3) %>

<p>At one point during the day, the Stormtrooper paid us another visit.</p>

<%= project_image("photos/washingcon/stormtrooper-1.jpg") %>
<%= project_image("photos/washingcon/stormtrooper-2.jpg") %>
<%= project_image("photos/washingcon/stormtrooper-3.jpg") %>
<%= project_image("photos/washingcon/stormtrooper-4.jpg") %>
<%= link_header("EarthBound", 3) %>

<p>Of course, we had to finish up our game of <i>EarthBound</i> before the con was over.

<%= project_image("photos/washingcon/earthbound-8.jpg", caption: %Q(<acronym title="SimonBob">Kevin</acronym> farms for the #{link_to("Sword of Kings", "http://starmen.net/mother2/ebdb/items.php?item=35")})) %>
<%= project_image("photos/washingcon/earthbound-9.jpg", caption: %Q(Success!)) %>
<%= project_image("photos/washingcon/earthbound-10.jpg", caption: %Q(Lost Underworld)) %>
<%= project_image("photos/washingcon/earthbound-11.jpg", caption: %Q(Using the #{link_to("For Sale Sign", "http://starmen.net/mother2/ebdb/items.php?item=163")} during Onett’s invasion. During this play-through, we tried to use the sign in many unusual locations.)) %>
<%= project_image("photos/washingcon/earthbound-12.jpg", caption: %Q(Cave of the Past)) %>
<%= project_image("photos/washingcon/earthbound-13.jpg", caption: %Q(About to start the final battle)) %>
<%= project_image("photos/washingcon/earthbound-14.jpg", caption: %Q(PSI BARF &Omega;)) %>
<%= project_image("photos/washingcon/earthbound-15.jpg", caption: %Q(The end…?)) %>