<h2>Monday, July 23</h2>

<%= link_header("Going Home", 3) %>

<p>The Indiana/Ohio crew got to the Seattle Airport at about 10, only to find that our <%= link_to "flight", "https://www.flighthistorian.com/flights/2" %> had been delayed a few hours.  To add insult to injury, the Northwest check-in staff took an quite a while to serve <acronym title="ßlackLeader">Chaz</acronym>.</p>

<%= project_image("photos/washingcon/seattle-airport-1.jpg", caption: %Q(<acronym title="JamesPicard_007">Joe</acronym> waits for <acronym title="ßlackLeader">Chaz</acronym>)) %>
<%= project_image("photos/washingcon/seattle-airport-2.jpg", caption: %Q(<acronym title="Windy Rat">Danielle</acronym> waits for <acronym title="ßlackLeader">Chaz</acronym>)) %>
<%= project_image("photos/washingcon/seattle-airport-3.jpg", caption: %Q(<acronym title="Fishsticks">Paul</acronym> waits for <acronym title="ßlackLeader">Chaz</acronym>)) %>

<p>Our flight back to Indianapolis was supposed to leave at 12:30 PM, but got delayed until nearly 6:30 PM.  At least we got vouchers for free food at airport restaurants.</p>

<%= project_image("photos/washingcon/seattle-airport-4.jpg", caption: %Q(Free food)) %>
<%= project_image("photos/washingcon/seattle-airport-5.jpg", caption: %Q(<acronym title="ßlackLeader">Chaz</acronym> wears a chicken nugget crown)) %>
<%= project_image("photos/washingcon/seattle-airport-6.jpg", caption: %Q(<acronym title="JamesPicard_007">Joe</acronym> eats a Quad Stacker)) %>
<%= project_image("photos/washingcon/seattle-airport-7.jpg", caption: %Q(That’s a lot of meat!)) %>

<%= project_image("photos/washingcon/fish-on-a-plane.jpg", caption: %Q(<cite>Fish on a Plane</cite>, starring Salmon L. Jackson), attribution: %Q(<acronym title="DarthAndonuts">Brice</acronym>)) %>
	
<p>Since we were at the airport for much longer than we’d originally planned, we met up with <acronym title="Gonmon">Logan</acronym>, who arrived later than us for a flight that left earlier than ours.</p>

<%= project_image("photos/washingcon/seattle-airport-8.jpg", caption: %Q(<acronym title="JamesPicard_007">Joe</acronym> sees <acronym title="Gonmon">Logan</acronym> off)) %>
<%= project_image("photos/washingcon/seattle-airport-9.jpg", caption: %Q(Our plane <em>finally</em> arrives at the gate)) %>

<p>We boarded the plane and had a fairly uneventful flight home.  However, the delay meant that what was supposed to be a 7:30 PM (local) arrival in Indianapolis ended up being a 1:30 AM arrival.</p>

<%= project_image("photos/washingcon/ind-1.jpg", caption: %Q(<acronym title="ßlackLeader">Chaz</acronym> at IND)) %>
<%= project_image("photos/washingcon/ind-2.jpg", caption: %Q(<acronym title="Windy Rat">Danielle</acronym> and <acronym title="JamesPicard_007">Joe</acronym> at IND)) %>

<p>Our bodies were still on Pacific time, so stopped at a Steak ’n Shake outside of Indianapolis for a late dinner.  We continued on and drove straight through to take <acronym title="Windy Rat">Danielle</acronym> and <acronym title="JamesPicard_007">Joe</acronym> home to Columbus, Ohio, arriving around 6:15 local time. With the help of a lot of caffeine, <acronym title="Fishsticks">Paul</acronym> turned back west and made it home to Dayton.</acronym>

<%= project_image("photos/washingcon/758.jpg", caption: %Q(The car clock read 7:58 AM when <acronym title="Fishsticks">Paul</acronym> arrived home)) %>

<p><acronym title="Fishsticks">Paul</acronym> promptly dropped into bed upon entering his apartment. Washingcon, the 2007 <%= link_to "Starmen.Net", "http://starmen.net/" %> Convention, was over.</p>