<h2>Sunday, July 15</h2>

<%= link_header("An Early Start", 3) %>
<p>The <%= link_to "Indianapolis", "https://www.flighthistorian.com/airports/IND", target: :_blank %> airport is slightly more than a two-hour drive from <abbr title="Fishsticks">Paul</abbr>’s home, so <abbr title="Fishsticks">Paul</abbr>, <abbr title="JamesPicard_007">Joe</abbr>, and <abbr title="Windy Rat">Danielle</abbr> woke up around five in the morning in order to have plenty of time to catch our 10 AM flight.</p>

<%= project_image("photos/washingcon/early-start.jpg", caption: "Joe and Danielle at 5:30 AM") %>

<p>With a quick stop at McDonald’s for breakfast, we arrived at the airport at almost exactly 8 AM.  After going through security, we met up with Chaz (ßlackLeader) at our gate.</p>

<p>The flight was scheduled to leave at 10:00 local, but due to some unforeseen maintenance, we didn't end up taking off until nearly 11:30.</p>

<%= link_header("Seattle Airport", 3) %>

<p>We arrived at <%= link_to "Seattle/Tacoma", "https://www.flighthistorian.com/airports/SEA", target: :_blank %> at about 12:40 PDT.  Because of our flight’s delay, a number of conventioneers were already at the baggage claim waiting for us when we arrived:</p>

<ul>
	<li>Brice (DarthAndonuts)</li>
	<li>Brian (ShadowX)</li>
	<li>Kevin (SimonBob)</li>
	<li>Matt (Skulryk)</li>
	<li>Stephen (xfisjmg1)</li>
	<li>Trip (Mr. Accident)</li>
	<li>Will (GimeC)</li>
</ul>

<%= project_image("photos/washingcon/seattle-airport-group.jpg") %>

<p>Jon (Jonk) and his fiancée Sabrina had already arrived as well, but they’d left to pick up a rental car.</p>

<p>We hung around for a little while as we were waiting for Sarsie’s flight to arrive.</p>

<%= project_image("photos/washingcon/seattle-airport-heavy.jpg") %>
<%= project_image("photos/washingcon/seattle-airport-hat.jpg") %>

<p>Sarsie’s flight arrived at about the same time as <abbr title="Jonk">Jon</abbr> arrived with his rental van, so we split into three groups: <abbr title="Jonk">Jon</abbr>’s van, <abbr title="Mr. Accident">Trip</abbr>’s car, and <abbr title="ShadowX">Brian</abbr>’s car.  <abbr title="Jonk">Jon</abbr>’s van was the first loaded, so we drove on ahead in search of a restaurant at which we could eat lunch, promising to call the others when we found one.</p>

<%= link_header("Lunch", 3) %>

<p>A little bit north of Seattle, we found a Red Robin and decided to stop there.  However, we had to wait on the other cars to arrive, so we decided to visit the Toys “R” Us next door in the meantime.</p>

<p><abbr title="Mr. Accident">Trip</abbr>’s car arrived soon afterwards, and they joined us in Toys “R” Us as well.  We bought about six or seven balls and a frisbee.  To make <strike>splitting the cost easier</strike> a spectacle of ourselves, we all lined up at the checkout, and had a separate person buy each ball.<p>

<p>By the time we were done checking out, we received word that <abbr title="Skulryk">Matt</abbr>'s car had nearly arrived, so we went over to Red Robin to request a table big enough for all of us.  The remainder of our group soon arrived, and we were seated.</p>

<%= project_image("photos/washingcon/red-robin-1.jpg") %>
<%= project_image("photos/washingcon/red-robin-2.jpg", caption: "Fun with straws") %>
<%= project_image("photos/washingcon/red-robin-3.jpg", caption: "Logan refuses to be outdone as Jon salutes") %>

<p>We finished lunch and headed on toward the convention house.</p>

<%= project_image("photos/washingcon/mountain.jpg", caption: "A view from I-5") %>

<p>We got off the interstate at Marysville and began to drive along several miles of back roads to find the house where we were staying.</p>

<p>Unfortunately, that was easier said than done.  We’d driven so far by then without seeing the sign for the road we were supposed to turn on that eventually we decided we must have missed the turn.  <abbr title="Jonk">Jon</abbr> told us that the next intersection we came to, we’d turn around.</p>

<p>The next intersection was the road we were looking for.  We mumbled amongst ourselves and made the turn.</p>

<p>Even once we’d found the street it was on, though, finding our house was still difficult.  The road wasn’t really wide enough for two cars to pass going opposite directions, there were dense trees on both sides, and the road was very steep.  Most of the houses were set far enough back from the road that they weren’t even visible to us, and few of the houses had easy to read addresses on the mailboxes.</p>

<p>Eventually, though, we found where we were we were supposed to be staying, and managed to park our three vehicles on the tight, steep driveway.

<%= link_header("Evening Airport Trip", 3) %>

Later in the evening, <abbr title="Jonk">Jon</abbr>, <abbr title="xfisjmg1">Stephen</abbr>, and <abbr title="Fishsticks">Paul</abbr> took another trip to the airport to pick up <abbr title="Meeellla">Camille</abbr>, <abbr title="reidman">Reid</abbr>, <abbr title="Ploqazxswm">Steve</abbr>, and <abbr title="Squirl">Ken</abbr>.

<%= project_image("photos/washingcon/seattle-airport-night-group.jpg") %>

<%= link_header("Trip’s Stormtrooper Antics", 3) %>

<p>We arrived home from the airport to find a Stormtrooper standing in our driveway, waiting to ask for our identification.  After we satisfied him with a “these are not the droids you are looking for” response, he went inside to perform some “normal” activities.</p>


<%= project_image("photos/washingcon/stormtrooper-air-hockey.jpg") %>
<%= project_image("photos/washingcon/stormtrooper-piano.jpg") %>

<%= link_header("Late-Night Wal-Mart Run", 3) %>

<p>At about two in the morning, we discovered that we were short a bed, so <abbr title="reidman">Reid</abbr>, <abbr title="Ploquazxswm">Steve</abbr>, <abbr title="Jonk">Jon</abbr>, <abbr title="Mr. Accident">Trip</abbr>, and <abbr title="Fishsticks">Paul</abbr> headed to the nearby Wal-Mart.
  
<%= project_image("photos/washingcon/walmart-face-towel.jpg", caption: "Jon demonstrates the proper use of labelled towels") %>

<p>By the time we managed to get checked out, it was nearly three in the morning. We made it back to the house and went to sleep.</p>
