<h2>Monday, July 16</h2>

<%= link_header("Lazy Monday", 3) %>

<p>People slowly woke up and proceeded to do little of importance for most of the morning.</p>

<%= project_image("photos/washingcon/gaming-1.jpg", caption: "Playing <em>Donkey Kong Country Competition</em>") %>
<%= project_image("photos/washingcon/gaming-2.jpg") %>

<p><abbr title="reidman">Reid</abbr> and <abbr title="Meeellla">Camille</abbr>, however, spent most of the morning making omelettes (and a few quesadillas) for everybody.

<%= project_image("photos/washingcon/reid-omelette.jpg") %>

<%= link_header("Trip into Marysville", 3) %>

<p><abbr title="reidman">Reid</abbr> had planned on having some <%= link_to "EB Siege", "https://starmen.net/ebsiege/", target: :_blank %> materials shipped to our convention house so we could all help out with them.  However, once we finally managed to get an internet connection, we checked the appropriate shipment tracking website and discovered that they had our package listed as undeliverable.  This prompted a trip to the Marysville Post Office to find out where our package was, and since we were in town anyway, we decided we'd go buy some supplies as well. We made a brief (two-hour) trip to Wal-Mart and headed home.</p>

<%= link_header("Dinner", 3) %>

<p>The majority of us went right back to screwing around.</p>

<%= project_image("photos/washingcon/gaming-3.jpg") %>
<%= project_image("photos/washingcon/air-hockey.jpg") %>
<%= project_image("photos/washingcon/gaming-4.jpg", caption: "Kevin playing <em>Guitar Hero</em>") %>
<%= project_image("photos/washingcon/joe-guitar.jpg", caption: %Q(<abbr title="Tansunn">Joe</abbr> playing a real guitar)) %>

<p>No broadband was available at the house, so we were forced to hook up <abbr title="Fishsticks">Paul</abbr>’s <%= link_to "laptop", electronics_computer_path(:reuben) %> to the phone line using someone’s AOL account. Even for dial-up, our connection was slow.</p>

<%= project_image("photos/washingcon/reid-internet.jpg", caption: %Q(<abbr title="reidman">Reid</abbr> “enjoys” our new-found internet connection.)) %>

<p>The computer rapidly became our public internet terminal, and it was promptly labeled as such.</p>

<%= project_image("photos/washingcon/the-internets.jpg", caption: %Q(On the sign: 
<em><strong>THE INTERNETS</strong><br/>
“BLAZING FAST” DIAL-UP!</em>)) %>

<p>Martin (matilda_caboose) showed up that evening.</p>

<%= project_image("photos/washingcon/martin-balcony.jpg", caption: %Q(<abbr title="reidman">Reid</abbr>, <abbr title="matilda_caboose">Martin</abbr>, and <abbr title="Ploquazxswm">Steve</abbr> on the balcony)) %>

<p><abbr title="JamesPicard_007">Joe</abbr> and <abbr title="Meeellla">Camille</abbr> made us some lasagna for dinner, and Conan made some ice cream.</p>

<%= project_image("photos/washingcon/making-lasagna-1.jpg") %>
<%= project_image("photos/washingcon/making-lasagna-2.jpg") %>
<%= project_image("photos/washingcon/making-ice-cream.jpg") %>

<%= link_header("Beach Campfire", 3) %>

<p>After dinner, we set up a campfire on our beach.</p>

<%= project_image("photos/washingcon/campfire-1.jpg") %>

<p><abbr title="Mr. Accident">Trip</abbr> gave us a fireworks show.</p>

<%= project_image("photos/washingcon/fireworks-setup.jpg", caption: %Q(<abbr title="Mr. Accident">Trip</abbr> sets up)) %>
<%= project_image("photos/washingcon/fireworks.jpg") %>

<%= link_header("After the Fireworks", 3) %>

<p><abbr title="Fishsticks">Paul</abbr> decided to claim the closet under the main stairs for his mattress.  When cleaning the closet, he discovered a bag of Easter bunnies.

<%= project_image("photos/washingcon/easter-bunnies.jpg") %>
<%= project_image("photos/washingcon/pauls-closet.jpg", caption: "Paul’s closet under the stairs") %>