<h2>Tuesday, July 17</h2>

<%= link_header("Breakfast", 3) %>

<%= project_image("photos/washingcon/saturn-pancakes.jpg", caption: %Q(<acronym title="EB_Girl">Jahnavi</acronym> made Mr. Saturn pancakes)) %>

<p>The plan for the day was a trip into downtown Seattle.  We'd originally planned to leave at 9:30 AM, but we didn't end up actually heading out until a bit after 11.

<%= project_image("photos/washingcon/driveway.jpg", caption: "Waiting on the driveway for the drivers of our cars") %>

<%= link_header("Seattle", 3) %>

<p>We finally managed to get going and worked our way down I-5 into the city. <acronym title="ShadowX">Brian</acronym> amazed us with his New Jersey driving skills, piloting his rental Forester through Seattle traffic in maneuvers a car its size shouldn't be able to accomplish.</p>

<p>Our first destination was Pike Place Market. We found parking in various garages for the five cars we took, and met up in Steinbrueck Park just outside the market so that we could split into groups.</p>

<%= project_image("photos/washingcon/robo-toilet.jpg", caption: %Q(<acronym title="xfisjmg1">Stephen</acronym> was thwarted by a robotic toilet in the park.  It was unoccupied, but it didn't let him in for nearly five minutes.)) %>

<%= project_image("photos/washingcon/seattle-from-park.jpg", caption: "The view from the park.  Pike Place Market is the yellowish building in the foreground, and the Seattle skyline is visible in the background.") %>

<%= project_image("photos/washingcon/pike-place-1.jpg", caption: "Pike Place Market") %>

<%= project_image("photos/washingcon/pike-place-2.jpg", caption: "Starmen.Net con zombies invade the Pike Place Market") %>

<%= project_image("photos/washingcon/everyone.jpg", caption: %Q(Nearly the entire con at Pike Place Market.  Pictured from left to right: <acronym title="xfisjmg1">Stephen</acronym>, <acronym title="Fishsticks">Paul</acronym>, <acronym title="DarthAndonuts">Brice</acronym>, <acronym title="Jonk">Jon</acronym>, <acronym title="Ploqazxswm">Steve</acronym>, <acronym title="LiarXAgerate">Dan</acronym>, <acronym title="Mr. Accident">Trip</acronym>, <acronym title="Tansunn">Joe</acronym>, <acronym title="matilda_caboose">Martin</acronym>, <acronym title="ctoner">Casey</acronym>, <acronym title="GimeC">Will</acronym>, <acronym title="SimonBob">Kevin</acronym>, <acronym title="Gonmon">Logan</acronym>, <acronym title="Konan">Konan</acronym>, <acronym title="ﬂlackLeader">Chaz</acronym>, <acronym title="JamesPicard_007">Joe</acronym>, <acronym title="Skulryk">Matt</acronym>, <acronym title="Squirl">Ken</acronym>, <acronym title="Chewy">Lindsay</acronym>, <acronym title="Meeellla">Camille</acronym>, <acronym title="ShadowX">Brian</acronym>, <acronym title="Windy Rat">Danielle</acronym>, <acronym title="EB_Girl">Jahnavi</acronym>, and Sabrina.  <acronym title="reidman">Reid</acronym> was taking the picture.)) %>

<p>The group <acronym title="Fishsticks">Paul</acronym> was in split off to visit the first Starbucks location, which was right down the street.</p>

<%= project_image("photos/washingcon/first-starbucks-1.jpg", caption: "Starbucks’s first location") %>
<%= project_image("photos/washingcon/first-starbucks-2.jpg", caption: "Starbucks’s first location") %>
<%= project_image("photos/washingcon/first-starbucks-3.jpg", caption: %Q(<acronym title="Fishsticks">Paul</acronym> at the first Starbucks)) %>

<p>We met back up as a big group, and then split again into two groups: one going to the aquarium, and one going to the Seattle Art Museum.</p>

<%= project_image("photos/washingcon/seattle-art-museum.jpg", caption: "Seattle Art Museum") %>

<p>The two groups then met back up at Pike Place Market.</p>

<%= project_image("photos/washingcon/pike-place-3.jpg", caption: "Fish") %>

<p>We left Seattle at about 5:30 PM.</p>

<%= project_image("photos/washingcon/seattle-traffic.jpg", caption: "Traffic") %>

<%= link_header("Back at the House", 3) %>

<%= project_image("photos/washingcon/siege-books.jpg", caption: "We got home to discover that our #{link_to("EB Siege", "https://starmen.net/ebsiege/")} materials had arrived.  We waited until the next morning to go through them.") %>

<%= project_image("photos/washingcon/gerritt-reid.jpg", caption: %Q(<acronym title="Atticus">Gerritt</acronym> showed up and visited with us for a while)) %>

<%= project_image("photos/washingcon/grill-1.jpg", caption: %Q(<acronym title="ctoner">Casey</acronym> grilling)) %>

<%= project_image("photos/washingcon/deck.jpg", caption: "People on the deck") %>

<%= project_image("photos/washingcon/sunset-from-deck.jpg", caption: "The sunset view from our deck") %>

<%= project_image("photos/washingcon/jon-broccoli.jpg", caption: %Q(<acronym title="Jonk">Jon</acronym> attacks some broccoli)) %>

<%= project_image("photos/washingcon/making-noodles.jpg", caption: %Q(<acronym title="GimeC">Will</acronym> and <acronym title="EB_Girl">Jahnavi</acronym> make noodles.  This is the origin of <acronym title="GimeC">Will</acronym>’s #{link_to("Pasta Helper badge", "http://starmen.net/forum/badges/pasta.png")}.)) %>

<%= project_image("photos/washingcon/joe-pasta.jpg", caption: %Q(<acronym title="JamesPicard_007">Joe</acronym> holds some pasta)) %>

<%= link_header("1000 Blank White Cards", 3) %>

<p>Later that night, we played 1000 Blank White Cards.</p>

<p>For this game, players make a deck of custom cards using 3×5″ index cards. Each card has a title, an illustration, and a description. The description can be a point value, an action, or both.</p>

<p>Each player starts with seven cards, and play goes around in a circle.  On a player’s turn, the player draws a card from the deck, and then plays any card in their hand. The player may choose to play the card on themself (the action or point value applies to themself), any other player, or to the center (the action or point value applies to everybody). When a card is no longer in use, it is discarded.</p>

<p>The initial object of the game is to have the highest sum of point cards when the deck has been depleted. However, since the players can make up any card they choose, the rules of the game can constantly change.</p>

<%= project_image("photos/washingcon/cards-1.jpg", caption: %Q(Setting up for the game)) %>

<%= project_image("photos/washingcon/cards-2.jpg", caption: %Q(<acronym title="Ploqazxswm">Steve</acronym> reacts to the <strong>Mother 3 Spoiler</strong> card we played on him.)) %>

<%= project_image("photos/washingcon/cards-3.jpg", caption: %Q(<acronym title="SimonBob">Kevin</acronym> playing)) %>

<%= project_image("photos/washingcon/cards-4.jpg", caption: %Q(<acronym title="Ploqazxswm">Steve</acronym> pretends to eat the <span clas="card-title">Eat This Card</span> card)) %>

<%= project_image("photos/washingcon/cards-5.jpg", caption: %Q(<acronym title="SimonBob">Kevin</acronym> actually eats the <span class="card-title">Eat This Card</span> card)) %>

<%= project_image("photos/washingcon/cards-6.jpg", caption: %Q(<p>We played this combination of cards on <acronym title="ßlackLeader">Chaz</acronym>, effectively locking him in the bathroom and forcing him to pass all his cards under the door to describe them to us.</p>
<p>
	<span class="card-title">Library Bathroom</span><br/>
	<span class="card-description">Don’t talk to me.  I… I’m thinking…!<br/>
	&minus;300 pts.<br/>
	Affected player has to go lock themselves in the bathroom for their next 2 turns. Cards played on/by this player can be slid under the door.</span>
</p>
<p>
	<span class="card-title">My Pokeymans… Let Me Show You Them!!</span><br/>
	<span class="card-description">Show everyone your hand. Be sure to point out each and [every] card, pointing out each strength and how long you spent EV training them.</span>
</p>)) %>

<%= project_image("photos/washingcon/cards-7.jpg", caption: %Q(<acronym title="SimonBob">Kevin</acronym> watches a card being passed under the bathroom door)) %>

<%= project_image("photos/washingcon/cards-8.jpg", caption: %Q(<acronym title="GimeC">Will</acronym> gets the <span class="card-title">Threed</span> card and has to run around bashing invisible ghosts with a frying pan while shouting “Die, freako Belch minions!” He then has to pick up the phone, scream “Who you gonna call?” and slam it down.)) %>

<p>We stopped playing at about three in the morning.