<h2>Wednesday, July 18</h2>

<%= link_header("Morning", 3) %>

<%= project_image("photos/washingcon/thermogizmo.jpg") %>

<%= project_image("photos/washingcon/custom-badges.jpg", caption: "Creating custom forum badges for certain users") %>

<%= project_image("photos/washingcon/posters.jpg", caption: "A number of posters were made available to convention attendees") %>

<%= link_header("EB Siege", 3) %>

<p>After breakfast, we looked at our <%= link_to "EB Siege", "https://starmen.net/ebsiege/" %> materials.</p>

<%= project_image("photos/washingcon/siege-1.jpg", caption: "The <em>EB Anthology</em> books") %>
<%= project_image("photos/washingcon/siege-2.jpg", caption: "<em>EB Anthology</em>") %>
<%= project_image("photos/washingcon/siege-3.jpg", caption: "Envelope art") %>
<%= project_image("photos/washingcon/siege-4.jpg", caption: "Envelope art") %>
<%= project_image("photos/washingcon/siege-5.jpg", caption: "Envelope art") %>
<%= project_image("photos/washingcon/siege-6.jpg", caption: "Envelope art") %>
<%= project_image("photos/washingcon/siege-7.jpg", caption: "Envelope art") %>
<%= project_image("photos/washingcon/siege-8.jpg", caption: "Envelope art") %>
<%= project_image("photos/washingcon/siege-9.jpg", caption: "Envelope art") %>
<%= project_image("photos/washingcon/siege-10.jpg", caption: %Q(One of <acronym title="Meeellla">Camille</acronym>'s starman figurines)) %>
<%= project_image("photos/washingcon/siege-11.jpg", caption: %Q(One of <acronym title="Meeellla">Camille</acronym>'s starman figurines)) %>
<%= project_image("photos/washingcon/siege-12.jpg", caption: "One of our older EB art books") %>
<%= project_image("photos/washingcon/siege-13.jpg", caption: "A book of envelope art from previous EB Sieges") %>

<%= link_header("Seattle II", 3) %>

<p>The con headed to Seattle for the second day in a row.  This time, we planned to head to the Seattle Center area.</p>


<%= project_image("photos/washingcon/space-needle-1.jpg", caption: "The area around the Space Needle was our destination") %>

<%= project_image("photos/washingcon/space-needle-2.jpg", caption: "Outside the Space Needle") %>

<p>We visited the Experience Music Project and Science Fiction Museum.</p>

<%= project_image("photos/washingcon/museums.jpg", caption: "The Science Fiction Museum and Experience Music Project building") %>

<p>After the museum trip, half of us planned on staying in Seattle to attend a Mariners game while the remainder were going back to Marysville to get dinner and see a movie. Two cars were staying in Seattle, but one of those drivers was <acronym title="Mr. Accident">Trip</acronym>, who’d gone to Bellevue to run an errand.  He ran into heavy traffic coming back, and as a result, four of us had to wait on him to pick us up at the Space Needle's front entry loop and take us to the ball game.</p>

<p>While we were waiting, <acronym title="Fishsticks">Paul</acronym> noticed something that looked electronic:</p>

<%= project_image("photos/washingcon/space-needle-overheight-1.jpg") %>

<p>There were a pair of what appeared to be optical sensors mounted, facing each other, at about nine feet off the ground on either side of the access road to the Space Needle’s front traffic loop.  His engineer’s curiosity piqued, <acronym title="Fishsticks">Paul</acronym> attempted to figure out what the sensor was for.  Looking around, he noticed a light-up sign attached to the roof structure overhanging the loop:</p>

<%= project_image("photos/washingcon/space-needle-overheight-2.jpg") %>

<p>The roof structure’s clearance was similar to the height of the sensor pair. Apparently, this setup was an overheight sensor, which would probably light up the sign if a tall vehicle broke the light beam.</p>

<p>We had to test this theory. The sensor was a bit out of reach, but there were a number of concrete posts nearby placed to prevent traffic from driving on the sidewalk.  One of these posts was nearly directly between the two sensors, so <acronym title="Fishsticks">Paul</acronym> climbed up on the post and waved his arm in front of the sensor, blocking the invisible light beam.</p>

<p>As predicted, the sign did light up with a “STOP OVERHEIGHT” message.  However, we had failed to notice the speaker mounted just above the sign. This speaker proceeded to emit a constant tone, about as loud as an ambulance siren, for the thirty seconds or so that the sign was lit up.</p>

<p><acronym title="Fishsticks">Paul</acronym> quickly jumped down from the concrete post and the entire group tried to act as if nothing had happened.  Luckily, <acronym title="Mr. Accident">Trip</acronym> showed up not too long afterwards.</p>

<%= link_header("Seattle Mariners Game", 3) %>

<p>The baseball game we attended was the Seattle Mariners versus the Baltimore Orioles, scheduled to start at 7:05 PM. Due to our delays in leaving the Space Needle, we arrived about 15 minutes after the start of the game.  It began to rain just as we were leaving the parking garage, so we got to see the stadium's retractable roof closing.  The game was in the bottom of the first inning when we got into the park.</p>

<%= project_image("photos/washingcon/mariners-1.jpg") %>
<%= project_image("photos/washingcon/mariners-2.jpg") %>
<%= project_image("photos/washingcon/mariners-3.jpg") %>

<%= link_header("Evening", 3) %>


<%= project_image("photos/washingcon/cookies-1.jpg", caption: %Q(We returned home to find that <acronym title="EB_Girl">Jahnavi</acronym> and <acronym title="Konan">Konan</acronym> had cleaned the house and made cookies for us)) %>

<%= project_image("photos/washingcon/pie.jpg", caption: "They also made apple pie") %>

<%= project_image("photos/washingcon/moth-attack.jpg", caption: %Q(<acronym title="GimeC">Will</acronym> is attacked by a moth)) %>