<h2>Thursday, July 19</h2>

<%= link_header("Nintendo of America Trip", 3) %>

<p>Because of some connections we had, we managed to get invited for an interview with our several people from <i>Nintendo Power</i> at NoA’s headquarters. Five people were allowed to come, so we sent <abbr title="reidman">Reid</abbr>, <abbr title="Meeellla">Camille</abbr>, <abbr title="Ploqazxswm">Steve</abbr>, <abbr title="Jonk">Jon</abbr>, and <abbr title="ShadowX">Brian</abbr>.

<%= project_image("photos/washingcon/brian-halo.jpg", caption: %Q(<abbr title="ShadowX">Brian</abbr> in the shirt he claimed he was “going to wear” to Nintendo.  He changed before he left.)) %>
<%= project_image("photos/washingcon/leaving-for-noa.jpg", caption: %Q(The gang leaves to visit NoA, a Mr. Saturn plushie adorning the dashboard of the rental minivan.)) %>

<%= link_header("At the House", 3) %>

<p>Those of us not lucky enough to go to Nintendo hung around the house.</p>

<%= project_image("photos/washingcon/pirate-flag.jpg", caption: %Q(Pirate flag)) %>
<%= project_image("photos/washingcon/flag-view.jpg", caption: %Q(The view behind the pirate flag)) %>

<p>We couldn’t get away with not playing <cite>EarthBound</cite> at the convention. <abbr title="Konan">Konan</abbr> hadn’t played before, so we started a new game for him. He started with the controller, but we eventually started trading off between many different convention attendees.</p>

<%= project_image("photos/washingcon/earthbound-1.jpg", caption: %Q(Onett at night)) %>
<%= project_image("photos/washingcon/earthbound-2.jpg", caption: %Q(#{link_to("Attack Slugs", "https://starmen.net/mother2/ebdb/enemies.php?enemy=110", target: :_blank)} at Giant Step. <abbr title="SimonBob">Kevin</abbr> spent most of the time being irritated that we didn’t play the same way he did.)) %>
<%= project_image("photos/washingcon/earthbound-3.jpg", caption: link_to("Mondo Mole", "https://starmen.net/mother2/ebdb/enemies.php?enemy=40", target: :_blank)) %>
<%= project_image("photos/washingcon/earthbound-4.jpg", caption: %Q(Lilliput Steps)) %>
<%= project_image("photos/washingcon/earthbound-5.jpg", caption: %Q(Runaway Five show)) %>
<%= project_image("photos/washingcon/earthbound-6.jpg", caption: link_to("Boogey Tent", "https://starmen.net/mother2/ebdb/enemies.php?enemy=101", target: :_blank)) %>
<%= project_image("photos/washingcon/earthbound-7.jpg", caption: %Q(We discovered that you can have #{link_to("pizza", "https://starmen.net/mother2/ebdb/items.php?item=97", target: :_blank)} delivered while waiting for the waterfall.  Accepting the pizza doesn’t even interrupt the three-minute timer!)) %>
<p><cite>EarthBound</cite> wasn’t the only game we played.

<%= project_image("photos/washingcon/guitar-hero-1.jpg", caption: %Q(<abbr title="DarthAndonuts">Brice</abbr> and <abbr title="GimeC">Will</abbr> playing <i>Free Bird</i> on <i>Guitar Hero II</i>)) %>
<%= project_image("photos/washingcon/ds.jpg", caption: %Q(People playing multiplayer games on the DS)) %>
<p>The Nintendo Siege Force eventually returned to the house, promising to tell us the story of their interview later.</p>

<%= link_header("Dinner", 3) %>

<p>We made enormous quantities of spaghetti that night.</p>

<%= project_image("photos/washingcon/spaghetti-1.jpg", caption: %Q(<abbr title="Jonk">Jon</abbr> has a little bit too much fun playing with meat)) %>
<%= project_image("photos/washingcon/spaghetti-2.jpg", caption: %Q(<abbr title="ctoner">Casey</abbr> and <abbr title="Jonk">Jon</abbr> share a moment)) %>
<%= project_image("photos/washingcon/spaghetti-3.jpg", caption: %Q(<abbr title="JamesPicard_007">Joe</abbr> fiercely guards the spaghetti)) %>
<%= project_image("photos/washingcon/spaghetti-4.jpg", caption: %Q(A little bit of role-playing: <abbr title="Chewy">Lindsay</abbr> as an “angry” cafeteria lady, <abbr title="Ploqazxswm">Steve</abbr> as an eager student, <abbr title="Tansunn">Joe</abbr> as an onlooker)) %>

<%= link_header("Campfire II", 3) %>

<p>We held another campfire, where <abbr title="reidman">Reid</abbr> and his cohorts told us the tale of their adventures at Nintendo.</p>

<%= project_image("photos/washingcon/Campfire07_small.jpg") %>
<%= project_image("photos/washingcon/Campfire08_small.jpg", caption: %Q(<abbr title="SimonBob">Kevin</abbr>'s self-proclaimed best photograph of him)) %>
<%= project_image("photos/washingcon/Campfire14_small.jpg", caption: %Q(<abbr title="Fishsticks">Paul</abbr> roasts a marshmallow on an empty can as <abbr title="ShadowX">Brian</abbr>, <abbr title="Chewy">Lindsay</abbr>, <abbr title="LiarXAgerate">Dan</abbr>, and <abbr title="Squirl">Ken</abbr> watch)) %>
<%= project_image("photos/washingcon/Campfire15_small.jpg", caption: %Q(<abbr title="Meeellla">Camille</abbr> and <abbr title="reidman">Reid</abbr> watch <abbr title="SimonBob">Kevin</abbr> eat a stack of marshmallows)) %>

<%= link_header("1000 Blank White Cards, Yet Again", 3) %>

<p>Some of us came back from the campfire and started another game of <cite>1000 Blank White Cards</cite>.</p>

<%= project_image("photos/washingcon/cards-9.jpg", caption: %Q(1000 Blank White Cards)) %>
<%= project_image("photos/washingcon/cards-10.jpg", caption: %Q(One of the cards played in the center required us to all give a handful of cards to <abbr title="reidman">Reid</abbr>, even though he wasn’t playing the game at the time.  He soon joined us.)) %>
<%= project_image("photos/washingcon/cards-11.jpg", caption: %Q(<abbr title="Konan">Konan</abbr> has to stand with his mouth open)) %>
<%= project_image("photos/washingcon/cards-12.jpg", caption: %Q(<abbr title="SimonBob">Kevin</abbr> has to do the Humpty Dance)) %>
<p>We stayed up relatively late playing cards, so we went to bed once we were done.</p>