<h2>Friday, July 20</h2>

<%= link_header("Morning DDR", 3) %>

<p>A few cars’ worth of people went back to Seattle to go to the International District.  Those of us who stayed behind played <cite>Dance Dance Revolution</cite>.</p>

<%= project_image("photos/washingcon/ddr-1.jpg", caption: %Q(<acronym title="Konan">Konan</acronym> plays DDR)) %>
<%= project_image("photos/washingcon/ddr-2.jpg", caption: %Q(<acronym title="Mr. Accident">Trip</acronym> has his Stormtrooper join in.)) %>

<%= link_header("Secret Radio", 3) %>

<p><acronym title="ßlackLeader">Chaz</acronym> figured out that even with dial-up he could broadcast a low-quality internet radio show, so we hosted an unscheduled episode of <cite><%= link_to("Radio PSI", "http://starmen.net/radio/") %></cite>.</p>

<%= project_image("photos/washingcon/secret-radio-1.jpg", caption: %Q(<acronym title="ßlackLeader">Chaz</acronym> hosts <cite>Radio PSI</cite> as <acronym title="xfisjmg1">Stephen</acronym>, <acronym title="matilda_caboose">Martin</acronym>, and <acronym title="DarthAndonuts">Brice</acronym> watch)) %>
<%= project_image("photos/washingcon/secret-radio-2.jpg", caption: %Q(<acronym title="Tansunn">Joe</acronym> performs for the secret radio episode)) %>
<%= project_image("photos/washingcon/mr-saturn.jpg") %>

<%= link_header("Bowling", 3) %>

<p>Those who went to Seattle’s International District picked up <acronym title="toader">Caitlin</acronym> while they were gone. They called ahead when they were returning home, and those of us who had stayed behind agreed to meet them at a bowling alley in Marysville.</p>

<%= project_image("photos/washingcon/bowling-1.jpg") %>
<%= project_image("photos/washingcon/bowling-2.jpg") %>
<%= project_image("photos/washingcon/bowling-3.jpg", caption: %Q(<acronym title="Ploqazxswm">Steve</acronym>’s strike dance)) %>
<%= project_image("photos/washingcon/bowling-4.jpg") %>
<%= project_image("photos/washingcon/bowling-5.jpg", caption: %Q(<acronym title="reidman">Reid</acronym>’s amazing bowling pose.  He threw the ball slowly enough that it took about twenty seconds for it to roll down the lane, and he held this pose the whole time.)) %>
<%= project_image("photos/washingcon/bowling-6.jpg", caption: %Q(<acronym title="Jonk">Jon</acronym> gets a strike)) %>
<%= project_image("photos/washingcon/bowling-7.jpg", caption: %Q(<acronym title="Fishsticks">Paul</acronym> tries bowling with two balls at once.  The end result is somewhat short of success.)) %>
<%= project_image("photos/washingcon/bowling-8.jpg") %>

<%= link_header("Evening", 3) %>

<p>On the way back from the bowling alley, we yet again stopped at Wal-Mart for supplies.</p>

<%= project_image("photos/washingcon/fishsticks-1.jpg", caption: %Q(<acronym title="Paul">Fishsticks</acronym> and fish sticks)) %>
<%= project_image("photos/washingcon/fishsticks-2.jpg", caption: %Q(<acronym title="Paul">Fishsticks</acronym> and The Ultimate Fish Stick)) %>

<p>When we got back, <acronym title="reidman">Reid</acronym> grilled us some burgers and hot dogs, and <acronym title="Ploqazxswm">Steve</acronym> grilled the other food.</p>

<%= project_image("photos/washingcon/grill-2.jpg", caption: %Q(<acronym title="reidman">Reid</acronym>)) %>

<p>It was pretty late by the time the steak was done, so a few of us did manage to eat some Steak and scoot up to bed.</p>
