<h2>Friday, July 20</h2>

<%= link_header("Morning DDR", 3) %>

<p>A few cars’ worth of people went back to Seattle to go to the International District.  Those of us who stayed behind played <cite>Dance Dance Revolution</cite>.</p>

<%= project_image("photos/washingcon/ddr-1.jpg", caption: %Q(<abbr title="Konan">Konan</abbr> plays DDR)) %>
<%= project_image("photos/washingcon/ddr-2.jpg", caption: %Q(<abbr title="Mr. Accident">Trip</abbr> has his Stormtrooper join in.)) %>

<%= link_header("Secret Radio", 3) %>

<p><abbr title="ßlackLeader">Chaz</abbr> figured out that even with dial-up he could broadcast a low-quality internet radio show, so we hosted an unscheduled episode of <cite><%= link_to("Radio PSI", "https://starmen.net/radio/", target: :_blank) %></cite>.</p>

<%= project_image("photos/washingcon/secret-radio-1.jpg", caption: %Q(<abbr title="ßlackLeader">Chaz</abbr> hosts <cite>Radio PSI</cite> as <abbr title="xfisjmg1">Stephen</abbr>, <abbr title="matilda_caboose">Martin</abbr>, and <abbr title="DarthAndonuts">Brice</abbr> watch)) %>
<%= project_image("photos/washingcon/secret-radio-2.jpg", caption: %Q(<abbr title="Tansunn">Joe</abbr> performs for the secret radio episode)) %>
<%= project_image("photos/washingcon/mr-saturn.jpg") %>

<%= link_header("Bowling", 3) %>

<p>Those who went to Seattle’s International District picked up <abbr title="toader">Caitlin</abbr> while they were gone. They called ahead when they were returning home, and those of us who had stayed behind agreed to meet them at a bowling alley in Marysville.</p>

<%= project_image("photos/washingcon/bowling-1.jpg") %>
<%= project_image("photos/washingcon/bowling-2.jpg") %>
<%= project_image("photos/washingcon/bowling-3.jpg", caption: %Q(<abbr title="Ploqazxswm">Steve</abbr>’s strike dance)) %>
<%= project_image("photos/washingcon/bowling-4.jpg") %>
<%= project_image("photos/washingcon/bowling-5.jpg", caption: %Q(<abbr title="reidman">Reid</abbr>’s amazing bowling pose.  He threw the ball slowly enough that it took about twenty seconds for it to roll down the lane, and he held this pose the whole time.)) %>
<%= project_image("photos/washingcon/bowling-6.jpg", caption: %Q(<abbr title="Jonk">Jon</abbr> gets a strike)) %>
<%= project_image("photos/washingcon/bowling-7.jpg", caption: %Q(<abbr title="Fishsticks">Paul</abbr> tries bowling with two balls at once.  The end result is somewhat short of success.)) %>
<%= project_image("photos/washingcon/bowling-8.jpg") %>

<%= link_header("Evening", 3) %>

<p>On the way back from the bowling alley, we yet again stopped at Wal-Mart for supplies.</p>

<%= project_image("photos/washingcon/fishsticks-1.jpg", caption: %Q(<abbr title="Paul">Fishsticks</abbr> and fish sticks)) %>
<%= project_image("photos/washingcon/fishsticks-2.jpg", caption: %Q(<abbr title="Paul">Fishsticks</abbr> and The Ultimate Fish Stick)) %>

<p>When we got back, <abbr title="reidman">Reid</abbr> grilled us some burgers and hot dogs, and <abbr title="Ploqazxswm">Steve</abbr> grilled the other food.</p>

<%= project_image("photos/washingcon/grill-2.jpg", caption: %Q(<abbr title="reidman">Reid</abbr>)) %>

<p>It was pretty late by the time the steak was done, so a few of us did manage to eat some Steak and scoot up to bed.</p>
