<h2>Saturday, July 21</h2>

<%= link_header("Lazy Saturday", 3) %>

<%= project_image("photos/washingcon/nintendo-pants.jpg", caption: %Q(<abbr title="Jonk">Jon</abbr>’s Nintendo pajamas)) %>
<%= project_image("photos/washingcon/marshmallow-food-1.jpg", caption: %Q(Sometime prior, we'd managed to find some marshmallow food)) %>
<%= project_image("photos/washingcon/marshmallow-food-2.jpg", caption: %Q(<abbr title="DarthAndonuts">Brice</abbr> eats the marshmallow hot dog)) %>
<%= project_image("photos/washingcon/brian-plane.jpg", caption: %Q(<abbr title="Fishsticks">Paul</abbr>’s friend Brian was doing a cross-country flying trip and happened to be in the Seattle area while we were there.  A few of us drove out to pick him up from a local airport.)) %>
<%= project_image("photos/washingcon/multi-potter.jpg", caption: %Q(The seventh <cite>Harry Potter</cite> book came out that day, and several people bought copies.  In some cases, several people read the same copy simultaneously.)) %>
<%= project_image("photos/washingcon/guitar-hero-2.jpg", caption: %Q(<abbr title="Mr. Accident">Trip</abbr> and Brian play <i>Guitar Hero II</i>)) %>

<p>It soon came time for <abbr title="Squirl">Ken</abbr> to leave, so a few of us drove him down to the Seattle airport.</p>

<%= project_image("photos/washingcon/ken-leaving.jpg", caption: %Q(<abbr title="Jonk">Jon</abbr>, <abbr title="Squirl">Ken</abbr>, and Sabrina at the Seattle airport)) %>

<%= link_header("The Oreo, Hot Dogs, and Radio PSI", 3) %>

<p>On the way back from the airport, <abbr title="Jonk">Jon</abbr>, Sabrina, and <abbr title="Fishsticks">Paul</abbr> had to pick up <abbr title="reidman">Reid</abbr>, <abbr title="Meeellla">Camille</abbr>, and <abbr title="Ploqazxswm">Steve</abbr>, who had been spending the day with relatives in the Everett area. The six of us then stopped at Albertson’s to pick up some groceries, and <abbr title="Fishsticks">Paul</abbr> picked up a pack of Double Stuf Oreos.</p>

<p>When we got back, we found that <abbr title="ßlackLeader">Chaz</abbr> was hosting his Saturday night <%= link_to "Radio PSI", "http://starmen.net/radio/" %> show live from the convention.  Due to the dial-up connection, we were unable to broadcast music, but we were perfectly capable of voice quality audio. Thus, by the time we got back, we found a number of people playing a game of <cite>Apples to Apples</cite> on the radio.</p>

<%= project_image("photos/washingcon/ericbound.jpg", caption: %Q(We finished up the Radio PSI broadcast with a little singing, which included <i>Ericbound</i>)) %>

<p><abbr title="Fishsticks">Paul</abbr> didn’t participate in the already-started game, but he sat in the kitchen watching the game as he opened up the pack of Oreos.  It didn’t take long for him to absentmindedly construct an Oreo tower.</p>

<%= project_image("oreo/oreo-1.jpg", caption: "Constructing the Oreo tower")%>
<%= project_image("oreo/oreo-2.jpg", caption: "The completed cookie, made out of 14 Double Stuf Oreos worth of filling&mdash;or a 28-Stuf Oreo")%>
<%= project_image("oreo/oreo-3.jpg", caption: "Looking at this cookie, Paul realized that eating it was probably a bad idea")%>
<%= project_image("oreo/oreo-4.jpg", caption: "But he ate it anyway")%>
<%= project_image("oreo/oreo-5.jpg", caption: "Yes, it was a bad idea")%>
<%= project_image("oreo/oreo-6.jpg", caption: "He couldn’t finish it in one bite, so he ended up compressing the two halves together to form a smaller cookie")%>

<p>In the meantime, some other people decided to have fun with sausages.</p>

<%= project_image("photos/washingcon/sausage-1.jpg", caption: %Q(<abbr title="ctoner">Casey</abbr> and his raw dog)) %>
<%= project_image("photos/washingcon/sausage-2.jpg", caption: %Q(<abbr title="Jonk">Jon</abbr> feeds <abbr title="ctoner">Casey</abbr>)) %>
<%= project_image("photos/washingcon/starman-cookies.jpg", caption: %Q(Random starman cookies)) %>

<%= link_header("Spaghetti Pie and 1000 Blank White Cards, Take Three", 3) %>

<p><abbr title="EB_Girl">Jahnavi</abbr> was trying to come up with something to do with our leftovers, and eventually decided to make a spaghetti pie.  At the same time, a few of us started another game of 1000 Blank White Cards.
  
<%= project_image("photos/washingcon/spaghetti-pie-1.jpg", caption: %Q(<abbr title="EB_Girl">Jahnavi</abbr> creates a spaghetti pie)) %>
<%= project_image("photos/washingcon/spaghetti-pie-2.jpg", caption: %Q(A slice of pie)) %>
<%= project_image("photos/washingcon/cards-13.jpg", caption: %Q(<abbr title="Ploqazxswm">Plo</abbr> is shocked that we're playing 1000 Blank White Cards again)) %>
<%= project_image("photos/washingcon/cards-14.jpg", caption: %Q(<abbr title="ßlackLeader">Chaz</abbr> went to sleep before we were done, so someone played the <span class="card-title">Good Morning Sunshine</span> <span class="card-description">(+1 Tiredness)</span> card on him.)) %>