<% provide(:title, "Camp Fangamer 2018") %>
<% provide(:meta_description, "Photos from Camp Fangamer 2018") %>

<h1>Camp Fangamer 2018</h1>

<p>Camp Fangamer took place in Tucson, Arizona on 20&ndash;21 July, 2018.</p>

<%= project_image("photos/camp-fangamer-2018/2018-07-21 08.10.25.jpg", caption: "Tucson") %>

<hr/>

<p>Fangamer had every attendee draw a small image on a post-it note on the first day of Camp, which they then used to create a shirt for Camp attendees.</p>
<%= project_image("photos/camp-fangamer-2018/2018-07-22 11.03.11.jpg") %>

<hr/>

<%= project_image("photos/camp-fangamer-2018/2018-07-20 15.46.24.jpg", caption: "Playing Suspend") %>
<%= project_image("photos/camp-fangamer-2018/2018-07-22 22.05.15.jpg") %>

<hr/>

<p>Someone brought a 3D-printed Switch controller mount with a cupholder to Camp.</p>
<%= project_image("photos/camp-fangamer-2018/2018-07-21 23.51.06.jpg") %>
<%= project_image("photos/camp-fangamer-2018/2018-07-22 00.09.09.jpg") %>

<hr/>

<%= project_image("photos/camp-fangamer-2018/2018-07-23 07.30.02.jpg", caption: "Fangamer 10th Anniversary Pin") %>