<%= form_for(@vlog_video) do |f| %>
  <%= render 'shared/error_messages', object: @vlog_video %>
  
  <p>
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </p>
  
  <p>
    <%= f.label :youtube_id, "YouTube ID" %>
    <%= f.text_field :youtube_id, class: 'form-control' %>
  </p>

  <p>
    <%= f.label :video_date %>
    <%= f.date_field :video_date, class: 'form-control date-field' %>
  </p>

  <p>
    <%= f.label :vlog_day, "Vlog day (optional)" %>
    <%= f.text_field :vlog_day, class: 'form-control' %>
  </p>
  
  <p>
    <%= f.collection_check_boxes(:vlog_video_tag_ids, VlogVideoTag.order(name: :asc), :id, :name) do |b| %>
    <%= b.check_box %> <%= b.label %><br>
    <% end %>
  </p>

  <p>
    <%= f.submit yield(:button_text), class: 'btn btn-primary' %>
  </p>
  
<% end %>