<% provide(:title, "StephenVlog Appearances") %>
<% provide(:meta_description, "Paul’s appearances on StephenVlog") %>
<% provide(:theme, "stephenvlog") %>

<h1>StephenVlog Appearances</h1>

<p>I’ve known Stephen Georg on <%= link_to("Starmen.Net", "https://starmen.net", target: :_blank) %> for years (and first met him in person in 2007). Over the years, I ended up getting featured a few times on <%= link_to("StephenVlog", "https://www.youtube.com/user/stephenvlog", target: :_blank) %>.</p>

<h2>Tags</h2>

<% if logged_in? %>
  <div class="row">
    <div class="col-md-12">
      <%= link_to("Add new tag".html_safe, new_vlog_video_tag_path, class: "btn btn-primary", role: "button") %>
    </div>
  </div>
<% end %>

<h2>Videos</h2>

<% if logged_in? %>
  <div class="row">
    <div class="col-md-12">
      <%= link_to("Add new video".html_safe, new_vlog_video_path, class: "btn btn-primary", role: "button") %>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-lg-8 offset-lg-2">
    <%= render partial: "video", collection: @vlog_videos %>
  </div>
</div>