<% provide(:title, "StephenVlog Day Calculator") %>
<% provide(:meta_description, "Vlog Day Calculator for StephenVlog") %>
<% provide(:theme, "stephenvlog") %>

<h1>StephenVlog Day Calculator</h1>

<%= render partial: "year_picker", locals: {year_range: (@day_zero.year..@today.year)} %>

<% (@day_zero.year..@today.year).reverse_each do |year| %>
  <h2 id="<%=year%>"><%= year %></h2>
  <% start_date = year == @day_zero.year ? @day_zero : Date.new(year, 1, 1) %>
  <% end_date = year == @today.year ? @today : Date.new(year, 12, 31) %>
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8">
        <table class="table">
          <% (start_date..end_date).reverse_each do |date| %>
            <tr>
              <td>Day <%= (date - @day_zero).to_i %></td>
              <td><%= date.strftime("%-m.%-d.%Y") %></td>
              <td class="text-secondary"><%= date.strftime("%A") %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
  <%= render partial: "year_picker", locals: {year_range: (@day_zero.year..@today.year)} %>
<% end %>