<% provide(:title, "StephenVlog Day Calculator") %>
<% provide(:meta_description, "Vlog Day Calculator for StephenVlog") %>
<% provide(:theme, "stephenvlog") %>

<h1>StephenVlog Day Calculator</h1>

<%= render partial: "year_picker", locals: {year_range: (@day_zero.year..@today.year), current_year: @year} %>

<p class="center">
    <%= safe_join(@month_range.map{|month| link_to Date.new(@year, month, 1).strftime("%b"), params.permit(:anchor, :year).merge(anchor: Date.new(@year, month, 1).strftime("%B").downcase)},sanitize("&ensp;")) %>
  </p>

<% @month_range.reverse_each do |month| %>
  
  <% start_date = (@year == @day_zero.year && month == @day_zero.month) ? @day_zero : Date.new(@year, month, 1) %>
  <% end_date = (@year == @today.year && month == @today.month) ? @today : Date.new(@year, month, -1) %>
  
  <h2 id="<%= start_date.strftime("%B").downcase %>"><%= start_date.strftime("%B %Y") %></h2>
  
  <div class="container">
    <div class="row">
      <div class="col">
        <table class="table table-striped">
          <% (start_date..end_date).reverse_each do |date| %>
            <tr>
              <td class="col-4"><span class="light">Day</span> <%= (date - @day_zero).to_i %></td>
              <td class="col-4"><%= date.strftime("%-m.%-d.%Y") %></td>
              <td class="col-4 text-secondary"><%= date.strftime("%A") %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
  
<% end %>

<%= render partial: "year_picker", locals: {year_range: (@day_zero.year..@today.year), current_year: @year} %>