<h2>Fangamer Booth</h2>

<%= link_header("Booth Setup", 3) %>

<p>I arrived in Seattle a little early, and I ended up helping Fangamer set up their booth the night before the convention.</p>

<%= project_image("photos/pax-prime-2010/272.JPG") %>
<%= project_image("photos/pax-prime-2010/274.JPG") %>
<%= project_image("photos/pax-prime-2010/275.JPG") %>
<%= project_image("photos/pax-prime-2010/280.JPG") %>
<%= project_image("photos/pax-prime-2010/281.JPG") %>
<%= project_image("photos/pax-prime-2010/285.JPG") %>
<%= project_image("photos/pax-prime-2010/291.JPG") %>
<%= project_image("photos/pax-prime-2010/299.JPG") %>
<%= project_image("photos/pax-prime-2010/302.JPG", caption: "Finished!") %>

<%= link_header("Drawings", 3) %>

<p>The booth was made of a dry erase surface, and visitors were encouraged to draw on the booth.</p>

<%= project_image("photos/pax-prime-2010/317.JPG") %>
<%= project_image("photos/pax-prime-2010/344.JPG") %>
<%= project_image("photos/pax-prime-2010/387.JPG") %>
<%= project_image("photos/pax-prime-2010/412.JPG") %>
<%= project_image("photos/pax-prime-2010/456.JPG") %>