<h2>Convention</h2>

<%= link_header("Outside", 3) %>

<%= project_image("photos/pax-prime-2010/307.JPG") %>
<%= project_image("photos/pax-prime-2010/375.JPG") %>

<%= link_header("Expo Hall", 3) %>

<p>The Expo Hall held the vast majority of gaming companies’ booths.</p>

<%= project_image("photos/pax-prime-2010/316.JPG") %>
<%= project_image("photos/pax-prime-2010/318.JPG") %>
<%= project_image("photos/pax-prime-2010/321.JPG") %>
<%= project_image("photos/pax-prime-2010/324.JPG") %>
<%= project_image("photos/pax-prime-2010/326.JPG") %>
<%= project_image("photos/pax-prime-2010/329.JPG") %>
<%= project_image("photos/pax-prime-2010/333.JPG") %>
<%= project_image("photos/pax-prime-2010/336.JPG") %>
<%= project_image("photos/pax-prime-2010/345.JPG") %>
<%= project_image("photos/pax-prime-2010/351.JPG") %>
<%= project_image("photos/pax-prime-2010/359.JPG") %>
<%= project_image("photos/pax-prime-2010/362.JPG") %>
<%= project_image("photos/pax-prime-2010/381.JPG") %>
<%= project_image("photos/pax-prime-2010/382.JPG") %>
<%= project_image("photos/pax-prime-2010/388.JPG") %>
<%= project_image("photos/pax-prime-2010/407.JPG") %>
<%= project_image("photos/pax-prime-2010/408.JPG") %>
<%= project_image("photos/pax-prime-2010/410.JPG") %>
<%= project_image("photos/pax-prime-2010/411.JPG") %>

<%= link_header("Panels", 3) %>

<%= project_image("photos/pax-prime-2010/311.JPG") %>

<%= link_header("Lobby Areas", 3) %>

<%= project_image("photos/pax-prime-2010/364.JPG", caption: "PAX Merchandise Booth") %>
<%= project_image("photos/pax-prime-2010/340.JPG") %>

<p>One of the food courts had a stage set up with <i>Rock Band 3</i>, where people could take turns playing for an audience.</p>

<%= project_image("photos/pax-prime-2010/372.JPG", caption: "<i>Rock Band 3</i> Stage") %>
<%= project_image("photos/pax-prime-2010/384.JPG") %>
<%= project_image("photos/pax-prime-2010/458.JPG") %>
<%= project_image("photos/pax-prime-2010/366.JPG") %>
<%= project_image("photos/pax-prime-2010/385.JPG") %>
<%= project_image("photos/pax-prime-2010/386.JPG") %>
<%= project_image("photos/pax-prime-2010/450.JPG") %>

<%= link_header("Console Freeplay Room", 3) %>

<%= project_image("photos/pax-prime-2010/371.JPG", caption: "Console Freeplay Room") %>
<%= project_image("photos/pax-prime-2010/369.JPG") %>
<%= project_image("photos/pax-prime-2010/370.JPG") %>
<%= project_image("photos/pax-prime-2010/396.JPG") %>

<%= link_header("Tabletop Area", 3) %>

<%= project_image("photos/pax-prime-2010/358.JPG") %>
<%= project_image("photos/pax-prime-2010/356.JPG") %>