<h2>Seattle</h2>

<p>I also spent some time outside of the convention center, exploring Seattle.</p>

<%= project_image("photos/pax-prime-2010/426.JPG") %>
<%= project_image("photos/pax-prime-2010/461.JPG") %>
<%= project_image("photos/pax-prime-2010/462.JPG", caption: "Seattle Public Library (Central)") %>
<%= project_image("photos/pax-prime-2010/468.JPG") %>
<%= project_image("photos/pax-prime-2010/471.JPG") %>
<%= project_image("photos/pax-prime-2010/478.JPG") %>
<%= project_image("photos/pax-prime-2010/472.JPG") %>
<%= project_image("photos/pax-prime-2010/473.JPG") %>
<%= project_image("photos/pax-prime-2010/390.JPG", caption: "Pike Place Market") %>
<%= project_image("photos/pax-prime-2010/486.JPG") %>
<%= project_image("photos/pax-prime-2010/489.JPG") %>
<%= project_image("photos/pax-prime-2010/466.JPG", caption: "Space Needle") %>