<h2>Sunday, June 7</h2>

<%= link_header("Driving to New York", 3) %>

<%= project_image("photos/yes-we-con/7-1.JPG", caption: %Q(Katon and I started out from my apartment at 7:45 Sunday morning.  The Fish Tank is being loaded.)) %>

<%= project_image("photos/yes-we-con/7-2.JPG", caption: %Q(After picking up JP_007, Rat, and Eggstree in the Columbus, OH area, we continued on to Pittsburgh, PA to meet up with Artemis and MistyCat.)) %>

<%= project_image("photos/yes-we-con/7-3.JPG", caption: %Q(We got lunch in Pittsburgh, and then caravaned our two vehicles for the rest of the trip to Lake George.)) %>

<%= project_image("photos/yes-we-con/7-4.JPG", caption: %Q(Artemis’s antics at a rest area somewhere in Pennsylvania.)) %>

<%= project_image("photos/yes-we-con/7-6.JPG", caption: %Q(We arrived at about 00:45 on Monday morning.)) %>

<%= project_image("photos/yes-we-con/7-7.JPG", caption: %Q(Although our accomidations were cabins, the interiors were basically those of an economy hotel.)) %>