<h2>Monday, June 8</h2>

<%= link_header("Morning", 3) %>

<%= project_image("photos/yes-we-con/8-1.JPG", caption: "Katon and Andy having a battle to the death") %>
<%= project_image("photos/yes-we-con/8-2.JPG", caption: "Team indecisive") %>

<p>Some of us went grocery shopping.</p>

<%= project_image("photos/yes-we-con/8-3.JPG", caption: "We dubbed this the “Mario Cart”") %>

<%= link_header("Around the Town", 3) %>

<%= project_image("photos/yes-we-con/8-4.JPG", caption: "After lunch, a group of us went down to see Lake George and walk around the town") %>
<%= project_image("photos/yes-we-con/8-5.JPG", caption: "Us in front of the lake") %>
<%= project_image("photos/yes-we-con/8-6.JPG", caption: "We don’t know why it was so curious") %>
<%= project_image("photos/yes-we-con/8-7.JPG", caption: "Cone in the water") %>
<%= project_image("photos/yes-we-con/8-8.JPG", caption: "Duck") %>
<%= project_image("photos/yes-we-con/8-9.JPG", caption: "Martin was obsessed with stopping in to Price Chopper while we were in town, so we finally acquiesced") %>
<%= project_image("photos/yes-we-con/8-10.JPG", caption: "Eric loves orange soda") %>
<%= project_image("photos/yes-we-con/8-11.JPG", caption: "This arcade couldn’t even afford a real mechanical psychic. They had to go with grandma instead.") %>
<%= project_image("photos/yes-we-con/8-12.JPG", caption: "Apparently we could win souvenirs, prizes, and… e-mail?") %>

<%= link_header("Fire Pit and a Movie", 3) %>

<p>Back at the cabins, we were preparing for our evening activities.</p>

<%= project_image("photos/yes-we-con/8-13.JPG", caption: "We moved the existing fire pit at the Blair House so more people could sit around it.") %>
<%= project_image("photos/yes-we-con/8-14.JPG", caption: "Paul’s engineering degree at work, providing a solution to the “people leaving the door open” problem") %>
<%= project_image("photos/yes-we-con/8-15.JPG", caption: "Jon defends against fire") %>
<%= project_image("photos/yes-we-con/8-16.JPG", caption: "Ken takes aim at something off in the distance when he should be helping set up the projector screen") %>
<%= project_image("photos/yes-we-con/8-17.JPG", caption: "Brian’s precariously-perched projector") %>
<%= project_image("photos/yes-we-con/8-18.JPG", caption: "Sarsie’s firewood") %>
<%= project_image("photos/yes-we-con/8-19.JPG", caption: "How many people does it take to start a fire? Apparently trying to light the grills attracts a good portion of the convention population.") %>
<%= project_image("photos/yes-we-con/8-20.JPG", caption: "Bill grills") %>
<%= project_image("photos/yes-we-con/8-21.JPG", caption: "Dr. Plo, will the patient live?") %>
<%= project_image("photos/yes-we-con/8-22.JPG", caption: "Eyes5’s Mr. Saturn and Starman pudding pies") %>
<%= project_image("photos/yes-we-con/8-23.JPG", caption: "Eyes5’s Metroid Ice") %>
<%= project_image("photos/yes-we-con/8-24.JPG", caption: "The projector system was graced with the greatest masterpiece of filmmaking known to history: the Mario Brothers movie.") %>
<%= project_image("photos/yes-we-con/8-25.JPG", caption: "Watching the movie.") %>
<%= project_image("photos/yes-we-con/8-26.JPG", caption: "Jon and Bill just after doing the Jonk in the Tronk dance") %>
<%= project_image("photos/yes-we-con/8-27.JPG", caption: "Campfire") %>