<h2>Tuesday, June 9</h2>

<%= link_header("Diner", 3) %>

<%= project_image("photos/yes-we-con/9-1.JPG", caption: "Tuesday morning, a large number of us went to a diner in town") %>
<%= project_image("photos/yes-we-con/9-2.JPG", caption: "Making Faces I") %>
<%= project_image("photos/yes-we-con/9-3.JPG", caption: "Making Faces II") %>

<%= link_header("Around the Cabins", 3) %>

<%= project_image("photos/yes-we-con/9-4.JPG", caption: "This cabin was dubbed Canada and hosted most of our Canadian attendees") %>
<%= project_image("photos/yes-we-con/9-5.JPG", caption: "Canada was also ground zero for Rock Band.") %>
<%= project_image("photos/yes-we-con/9-6.JPG", caption: "Multiplayer Tetris") %>
<%= project_image("photos/yes-we-con/9-7.JPG", caption: "Eyes5’s plushie-making tutorial") %>
<%= project_image("photos/yes-we-con/9-8.JPG", caption: "Eyes uses a bedsheet and rope to dress as “Prince Poo,” which was in response to…") %>
<%= project_image("photos/yes-we-con/9-9.JPG", caption: "…ben dressing as “Jeff.” That afternoon, we went back into town to go bowling.") %>

<%= link_header("Bowling", 3) %>

<%= project_image("photos/yes-we-con/9-10.JPG", caption: "The pun was too much for even us") %>
<%= project_image("photos/yes-we-con/9-11.JPG", caption: "Agent Jeff considering helping out the bowling alley") %>
<%= project_image("photos/yes-we-con/9-12.JPG", caption: "Bowling") %>
<%= project_image("photos/yes-we-con/9-13.JPG", caption: "Logan tried a number of unique bowling styles") %>
<%= project_image("photos/yes-we-con/9-14.JPG", caption: "Jack’s two-handed bowling") %>

<%= link_header("Evening", 3) %>

<%= project_image("photos/yes-we-con/9-15.JPG", caption: "Setting up for Magic back at the Blair House") %>
<%= project_image("photos/yes-we-con/9-16.JPG", caption: "Dinner was tacos and fajitas") %>
<%= project_image("photos/yes-we-con/9-17.JPG", caption: "Paul brings his laptop to the campfire") %>
<%= project_image("photos/yes-we-con/9-18.JPG", caption: "That evening, we had cake for those whose birthdays were close to the convention.") %>
<%= project_image("photos/yes-we-con/9-19.JPG", caption: "Charlie dual-wielding Nerf pistols") %>
<%= project_image("photos/yes-we-con/9-20.JPG", caption: "A few of the plushies that were made earlier in the day.") %>