<h2>Wednesday, June 10</h2>

<%= link_header("Pizza Jerks", 3) %>

<%= project_image("photos/yes-we-con/10-1.JPG", caption: "Wednesday afternoon, we went to Pizza Jerks in Lake George to see Bill perform") %>
<%= project_image("photos/yes-we-con/10-2.JPG", caption: "This pizza was entitled “The Carcass,” containing every kind of meat they had.") %>
<%= project_image("photos/yes-we-con/10-3.JPG", caption: "The pizza in front was called “The Heart Stopper.”  Double cheese, double pepperoni, and double sausage.") %>
<%= project_image("photos/yes-we-con/10-4.JPG", caption: "Bill performs") %>
<%= project_image("photos/yes-we-con/10-5.JPG", caption: "Starmen.Net singlehandedly conquers Pizza Jerks") %>
<%= project_image("photos/yes-we-con/10-6.JPG", caption: "Bill performing the blue drank song") %>
<%= project_image("photos/yes-we-con/10-7.JPG", caption: "Somebody forgot to pay the gravity bill") %>

<%= link_header("Lake George", 3) %>

<%= project_image("photos/yes-we-con/10-8.JPG", caption: "After Pizza Jerks, the majority of us wandered around town") %>
<%= project_image("photos/yes-we-con/10-9.JPG", caption: "Epic thumb war") %>
<%= project_image("photos/yes-we-con/10-10.JPG", caption: "Jon gains +1 in a random stat from his rock candy") %>
<%= project_image("photos/yes-we-con/10-11.JPG") %>
<%= project_image("photos/yes-we-con/10-12.JPG") %>
<%= project_image("photos/yes-we-con/10-13.JPG", caption: "Misty is getting absorbed by the lake") %>
<%= project_image("photos/yes-we-con/10-14.JPG", caption: "“Hell yes”") %>
<%= project_image("photos/yes-we-con/10-15.JPG", caption: "Mr. Sandurn") %>

<%= link_header("SMNet Super Squad", 3) %>

<%= project_image("photos/yes-we-con/10-16.JPG", caption: "Meanwhile, back at the Blair House…") %>
<%= project_image("photos/yes-we-con/10-17.JPG", caption: "The Great and Wonderful Oztini") %>
<%= project_image("photos/yes-we-con/10-18.JPG", caption: "The SMNet Super Squad") %>
<%= project_image("photos/yes-we-con/10-19.JPG", caption: "Away!") %>

<%= link_header("Evening Games", 3) %>

<%= project_image("photos/yes-we-con/10-20.JPG", caption: "That night, Derek hosted a game of Vampire: The Masquerade") %>
<%= project_image("photos/yes-we-con/10-21.JPG", caption: "Falcon enjoys his position of power") %>
<%= project_image("photos/yes-we-con/10-22.JPG", caption: "Charlie") %>
<%= project_image("photos/yes-we-con/10-23.JPG", caption: "Playing weird games on the projector") %>