<h2>Thursday, June 11</h2>

<%= link_header("Saratoga Springs", 3) %>

<p>On Thursday, we drove down to Saratoga Springs, NY.</p>

<%= project_image("photos/yes-we-con/11-1.JPG", caption: "First stop: Chipotle.") %>
<%= project_image("photos/yes-we-con/11-2.JPG", caption: "There was a much larger and much less shady Price Chopper here.") %>
<%= project_image("photos/yes-we-con/11-3.JPG", caption: "After lunch, we went to the Wilton Mall.") %>
<%= project_image("photos/yes-we-con/11-4.JPG", caption: "Three copies of E.T.") %>
<%= project_image("photos/yes-we-con/11-5.JPG", caption: "Walking back to the cars") %>
<%= project_image("photos/yes-we-con/11-6.JPG", caption: "We ended up heading to the city center area of Saratoga Springs.") %>
<%= project_image("photos/yes-we-con/11-7.JPG", caption: "Browsing books at a local book shop") %>
<%= project_image("photos/yes-we-con/11-8.JPG", caption: "We stopped at Ben & Jerry’s.") %>
<%= project_image("photos/yes-we-con/11-9.JPG", caption: "SwingCon 2009") %>
<%= project_image("photos/yes-we-con/11-10.JPG", caption: "Steve chases down a duck in the park") %>
<%= project_image("photos/yes-we-con/11-11.JPG") %>
<%= project_image("photos/yes-we-con/11-12.JPG", caption: "The world’s most indecisive duck, who apparently didn’t know what to do when three people tried to offer him food simultaneously.  Eventually another duck wandered over and started stealing the food.") %>
<%= project_image("photos/yes-we-con/11-13.JPG", caption: "Eric finds the Naruto energy drink") %>