<h2>Friday, June 12</h2>

<%= link_header("Five Guys", 3) %>

<p>For lunch, we went to Five Guys, which had just started expanding nationally at the time.</p>

<%= project_image("photos/yes-we-con/12-2.JPG") %>

<p>Five Guys had a bulletin board for leaving colored index cards on, and of course, we contributed.</p>

<%= project_image("photos/yes-we-con/12-3.JPG", caption: "The bulletin board") %>
<%= project_image("photos/yes-we-con/12-4.JPG") %>
<%= project_image("photos/yes-we-con/12-5.JPG") %>
<%= project_image("photos/yes-we-con/12-6.JPG") %>
<%= project_image("photos/yes-we-con/12-7.JPG") %>
<%= project_image("photos/yes-we-con/12-8.JPG") %>
<%= project_image("photos/yes-we-con/12-9.JPG", caption: "We check out our masterpieces") %>

<%= link_header("Conopoly", 3) %>

<%= project_image("photos/yes-we-con/12-11.JPG", caption: "Conopoly was a version of Monopoly modified for Starmen.Net by Brian") %>
<%= project_image("photos/yes-we-con/12-12.JPG", caption: "Some of the New Topic (Community Chest) and Thumbs (Chance) cards") %>
<%= project_image("photos/yes-we-con/12-13.JPG", caption: "Playing Conopoly") %>
<%= project_image("photos/yes-we-con/12-14.JPG", caption: "Radio PSI, live from the convention.") %>
<%= project_image("photos/yes-we-con/12-15.JPG", caption: "Returning with pizza") %>
<%= project_image("photos/yes-we-con/12-16.JPG", caption: "Battle of the hoodies: Metroid versus Ultimate Chimera") %>