<h2>Saturday, June 13</h2>

<%= link_header("Morning Brawl", 3) %>

<%= project_image("photos/yes-we-con/13-1.JPG", caption: "Saturday started with some fighting.") %>
<%= project_image("photos/yes-we-con/13-2.JPG") %>
<%= project_image("photos/yes-we-con/13-3.JPG") %>
<%= project_image("photos/yes-we-con/13-4.JPG") %>

<%= link_header("Lunch", 3) %>

<%= project_image("photos/yes-we-con/13-5.JPG", caption: "A vanload of us went into town to get some subs for lunch.  The service was poor, but they did have Viagra cookies.") %>

<%= link_header("Prospect Mountain", 3) %>

<p>After lunch, we took the van up Prospect Mountain.</p>

<%= project_image("photos/yes-we-con/13-6.JPG") %>
<%= project_image("photos/yes-we-con/13-7.JPG", caption: "From one of the parking areas, there was a hiking trail to a better overlook.") %>
<%= project_image("photos/yes-we-con/13-8.JPG", caption: "Views from the trail overlook") %>
<%= project_image("photos/yes-we-con/13-9.JPG") %>
<%= project_image("photos/yes-we-con/13-10.JPG") %>
<%= project_image("photos/yes-we-con/13-11.JPG", caption: "Views of Lake George from Parking Area 2.") %>
<%= project_image("photos/yes-we-con/13-12.JPG") %>
<%= project_image("photos/yes-we-con/13-13.JPG", caption: "Views from the summit") %>
<%= project_image("photos/yes-we-con/13-14.JPG") %>
<%= project_image("photos/yes-we-con/13-15.JPG") %>
<%= project_image("photos/yes-we-con/13-16.JPG") %>

<%= link_header("Evening", 3) %>

<%= project_image("photos/yes-we-con/13-17.JPG", caption: "After returning to the Blair House, a good number of us went to an Italian restaurant in town.") %>
<%= project_image("photos/yes-we-con/13-18.JPG", caption: "For dessert, we had ice cream cakes back at the Blair House.") %>
<%= project_image("photos/yes-we-con/13-19.JPG") %>
<%= project_image("photos/yes-we-con/13-20.JPG", caption: "Since some people would be leaving rather early, a number of goodbyes were said on Saturday night.") %>