<h2>Sunday, June 14</h2>

<%= link_header("Goodbyes", 3) %>

<%= project_image("photos/yes-we-con/14-1.JPG", caption: "The remaining attendees found some time in the morning to hang out as we loaded the vehicles.") %>
<%= project_image("photos/yes-we-con/14-2.JPG", caption: "Logan") %>
<%= project_image("photos/yes-we-con/14-3.JPG", caption: "Waltzing to Hotel California") %>
<%= project_image("photos/yes-we-con/14-4.JPG", caption: "Charlie made biscuits") %>
<%= project_image("photos/yes-we-con/14-5.JPG") %>
<%= project_image("photos/yes-we-con/14-6.JPG") %>
<%= project_image("photos/yes-we-con/14-7.JPG") %>
<%= project_image("photos/yes-we-con/14-8.JPG", caption: "Making a final picture for the whiteboard") %>
<%= project_image("photos/yes-we-con/14-9.JPG") %>
<%= project_image("photos/yes-we-con/14-10.JPG") %>
<%= project_image("photos/yes-we-con/14-11.JPG", caption: "The condiment brothers") %>
<%= project_image("photos/yes-we-con/14-12.JPG") %>

<%= link_header("Heading Home", 3) %>

<%= project_image("photos/yes-we-con/14-13.JPG", caption: "Seeing off Jon and Steve at the Albany airport") %>
<%= project_image("photos/yes-we-con/14-14.JPG", caption: "And so the drive back to Ohio continued.") %>
<%= project_image("photos/yes-we-con/14-15.JPG", caption: "Not quite sure what we’re supposed to do in response to the “Lane Ends” sign.") %>
<%= project_image("photos/yes-we-con/14-16.JPG", caption: "…and the Fishtank arrives at its final stop Monday morning.") %>