<% provide(:title, "PAX Prime 2012") %>
<% provide(:meta_description, "Photos from PAX Prime 2012") %>

<%= render partial: "static_pages/galleries/pax_gallery_link" %>

<h1>PAX Prime 2012</h1>

<p>PAX Prime 2012 took place in Seattle, Washington on 31 August&ndash;2 September, 2012.</p>

<%= project_image("photos/pax-prime-2012/PAX Prime 2012 Seattle WA 002.JPG") %>
<%= project_image("photos/pax-prime-2012/PAX Prime 2012 Seattle WA 007.JPG") %>
<%= project_image("photos/pax-prime-2012/PAX Prime 2012 Seattle WA 008.JPG", caption: "I had a two room hotel suite, so #{link_to "Stephen", "http://www.stephengeorg.com/", target: :_blank} and #{link_to "Mal", "https://www.youtube.com/MalMakes", target: :_blank} ended up staying in my second room, which soon also became a hub for setting up games.") %>
<%= project_image("photos/pax-prime-2012/PAX Prime 2012 Seattle WA 010.JPG") %>
<%= project_image("photos/pax-prime-2012/PAX Prime 2012 Seattle WA 023.JPG", caption: "Once again, the Paramount Theatre was used as the main panel room for PAX, and the opening keynote was held there.") %>
<%= project_image("photos/pax-prime-2012/PAX Prime 2012 Seattle WA 012.JPG", caption: "Queue") %>
<%= project_image("photos/pax-prime-2012/PAX Prime 2012 Seattle WA 013.JPG", caption: "Queue") %>
<%= project_image("photos/pax-prime-2012/PAX Prime 2012 Seattle WA 014.JPG", caption: "Welcome to PAX") %>
<%= project_image("photos/pax-prime-2012/PAX Prime 2012 Seattle WA 019.JPG", caption: "That year, the North American Regionals for <i>League of Legends</i> were held concurrent with PAX.") %>
<%= project_image("photos/pax-prime-2012/PAX Prime 2012 Seattle WA 020.JPG") %>
<%= project_image("photos/pax-prime-2012/PAX Prime 2012 Seattle WA 030.JPG", caption: "Stephen held a #{link_to "meetup for his vlog", "https://www.youtube.com/watch?v=N10Gjl0yzYs", target: :_blank} in Westlake Park") %>
<%= project_image("photos/pax-prime-2012/PAX Prime 2012 Seattle WA 031.JPG") %>
<%= project_image("photos/pax-prime-2012/PAX Prime 2012 Seattle WA 025.JPG", caption: "Exploring Seattle") %>
<%= project_image("photos/pax-prime-2012/PAX Prime 2012 Seattle WA 036.JPG", caption: "#{link_to "Fangamer", "https://www.fangamer.com/", target: :_blank} and Attract Mode hosted a video game art show on Saturday evening") %>
<%= project_image("photos/pax-prime-2012/PAX Prime 2012 Seattle WA 033.JPG", caption: "Fangamer versus Attract Mode") %>
<%= project_image("photos/pax-prime-2012/PAX Prime 2012 Seattle WA 035.JPG", caption: "Fangamer versus Attract Mode") %>
<%= project_image("photos/pax-prime-2012/PAX Prime 2012 Seattle WA 040.JPG") %>
<%= project_image("photos/pax-prime-2012/PAX Prime 2012 Seattle WA 027.JPG", caption: "PC Freeplay Room") %>
<%= project_image("photos/pax-prime-2012/PAX Prime 2012 Seattle WA 041.JPG", caption: "Console freeplay room") %>
<%= project_image("photos/pax-prime-2012/PAX Prime 2012 Seattle WA 042.JPG", caption: "Console freeplay room") %>
<%= project_image("photos/pax-prime-2012/PAX Prime 2012 Seattle WA 044.JPG", caption: "Console freeplay room") %>
<%= project_image("photos/pax-prime-2012/PAX Prime 2012 Seattle WA 046.JPG") %>
<%= project_image("photos/pax-prime-2012/PAX Prime 2012 Seattle WA 048.JPG") %>
<%= project_image("photos/pax-prime-2012/PAX Prime 2012 Seattle WA 047.JPG", caption: "Dry erase drawings on the Fangamer booth") %>
<%= project_image("photos/pax-prime-2012/PAX Prime 2012 Seattle WA 051.JPG", caption: "Dry erase drawings on the Fangamer booth") %>
<%= project_image("photos/pax-prime-2012/PAX Prime 2012 Seattle WA 032.JPG") %>
<%= project_image("photos/pax-prime-2012/PAX Prime 2012 Seattle WA 050.JPG") %>
<%= project_image("photos/pax-prime-2012/PAX Prime 2012 Seattle WA 052.JPG") %>
<%= project_image("photos/pax-prime-2012/PAX Prime 2012 Seattle WA 053.JPG", caption: "Post-PAX Party at Jillian’s") %>
<%= project_image("photos/pax-prime-2012/PAX Prime 2012 Seattle WA 054.JPG", caption: "Post-PAX Party at Jillian’s") %>
<%= project_image("photos/pax-prime-2012/PAX Prime 2012 Seattle WA 055.JPG", caption: "Post-PAX Party at Jillian’s") %>
