<h2>The House</h2>

<p>Gatlincon was the largest Starmen.Net convention, with over 50 attendees. As such, we had to rent an enormous house.</p>

<%= project_image("photos/gatlincon/26-1.JPG", caption: "Our rental house in Gatlinburg.") %>
<%= project_image("photos/gatlincon/26-2.JPG", caption: "The driveway was a bit crowded.") %>
<%= project_image("photos/gatlincon/26-3.JPG") %>
<%= project_image("photos/gatlincon/26-4.JPG") %>
<%= project_image("photos/gatlincon/26-5.JPG") %>
<%= project_image("photos/gatlincon/26-6.JPG") %>
<%= project_image("photos/gatlincon/26-7.JPG") %>
<%= project_image("photos/gatlincon/26-8.JPG", caption: "The “houses” of our house.") %>
<%= project_image("photos/gatlincon/26-9.JPG") %>
<%= project_image("photos/gatlincon/26-10.JPG") %>
<%= project_image("photos/gatlincon/26-11.JPG") %>
<%= project_image("photos/gatlincon/26-12.JPG") %>
<%= project_image("photos/gatlincon/26-13.JPG", caption: "I ended up being #{link_to "a day late", starmen_con_gallery_path(gallery: :gatlincon, page: 3, anchor: "delayed-by-a-broken-window")} a day late to the convention, so I claimed the playroom as my sleeping quarters.") %>