<h2>Pre-Con</h2>

<p>The weekend before the convention, Dave and Eric met up with me at my home.</p>

<%= project_image("photos/gatlincon/23-1.JPG", caption: "Eric at EO Burger") %>
<%= project_image("photos/gatlincon/23-2.JPG", caption: "Watching the final night of the Chrono Trigger Fanfest on my TV") %>

<%= link_header("Dave and Buster’s", 3) %>

<%= project_image("photos/gatlincon/24-1.JPG", caption: "The three of us went to the Dave &amp; Buster’s north of Cincinnati on Saturday night") %>
<%= project_image("photos/gatlincon/24-2.JPG") %>
<%= project_image("photos/gatlincon/24-3.JPG") %>
<%= project_image("photos/gatlincon/24-4.JPG", caption: "I critique the flight sim games") %>
<%= project_image("photos/gatlincon/24-5.JPG") %>
<%= project_image("photos/gatlincon/24-6.JPG") %>
<%= project_image("photos/gatlincon/24-7.JPG") %>
<%= project_image("photos/gatlincon/24-8.JPG", caption: "Somebody can’t read Roman numerals") %>