<h2>Sunday, July 25</h2>

<%= link_header("Delayed by a Broken Window", 3) %>

<p>I was supposed to pick up Chaz and drive down to the con on Sunday, but when I went outside Sunday morning, I found that my truck had been broken into. Someone had smashed the window and stolen my GPS, though curiously, not my iPod.</p>

<%= project_image("photos/gatlincon/25-1.JPG") %>

<p>Dave and Eric took Dave’s car and left.  I stayed behind trying to figure out how to get my window fixed and how to get Chaz to the con.</p>  
  
<%= project_image("photos/gatlincon/25-2.JPG") %>

<p>Eventually, we were able to get Reid to swing back and pick up Chaz, leaving only me stuck.</p>
  
<%= project_image("photos/gatlincon/25-3.JPG") %>

<p>Unfortunately, very few glass repair shops were open on Sunday, and none of them had available appointments that day, so I had to wait until Monday morning to get my window fixed.</p>

<%= project_image("photos/gatlincon/25-4.JPG") %>

<p>I wasn’t going to drive six hours with a broken window, so I had to miss the first night of the convention.</p>
  
<%= project_image("photos/gatlincon/25-5.JPG") %>

<p>At least the window replacement was relatively cheap &ndash; lower than my insurance deductible.</p>

<%= project_image("photos/gatlincon/25-6.JPG") %>
<%= project_image("photos/gatlincon/25-7.JPG") %>

<p>I got someone to drive me to the store on Sunday so I could buy a replacement GPS.</p>

<%= project_image("photos/gatlincon/25-8.JPG") %>
<%= project_image("photos/gatlincon/25-9.JPG") %>