<h2>Monday, July 26</h2>

<p>I got my window replaced first thing Monday morning, and drove straight to the convention, arriving early afternoon.</p>

<%= project_image("photos/gatlincon/26-14.JPG", caption: "I was pretty glad that I hadn’t tried to come with a broken car window") %>
<%= project_image("photos/gatlincon/26-15.JPG") %>
<%= project_image("photos/gatlincon/26-16.JPG") %>
<%= project_image("photos/gatlincon/26-17.JPG") %>
<%= project_image("photos/gatlincon/26-18.JPG") %>
<%= project_image("photos/gatlincon/26-19.JPG") %>
<%= project_image("photos/gatlincon/26-20.JPG", caption: "Buckeye candies in the shape of Mr. Saturns") %>
<%= project_image("photos/gatlincon/26-21.JPG") %>
<%= project_image("photos/gatlincon/26-22.JPG") %>
<%= project_image("photos/gatlincon/26-23.JPG", caption: "Massage train") %>
<%= project_image("photos/gatlincon/26-24.JPG") %>
<%= project_image("photos/gatlincon/26-25.JPG", caption: "Dinner") %>
<%= project_image("photos/gatlincon/26-26.JPG") %>
