<h2>Tuesday, July 27</h2>

<%= link_header("Morning Gaming", 3) %>

<%= project_image("photos/gatlincon/27-1.JPG", caption: "We played a game of #{link_to "1000 Blank White Cards", starmen_con_gallery_path(gallery: :washingcon, page: 5, anchor: "1000-blank-white-cards")}") %>
<%= project_image("photos/gatlincon/27-2.JPG", caption: "Nepas") %>
<%= project_image("photos/gatlincon/27-3.JPG", caption: "Starcraft II was released during the convention") %>
<%= project_image("photos/gatlincon/27-4.JPG", caption: "We received a poster with the game, and hung it up over some of the house’s art") %>

<%= link_header("Knoxville", 3) %>

<p>A large group of us ended up driving to Knoxville that afternoon.</p>

<%= project_image("photos/gatlincon/27-5.JPG", caption: "Oddly enough, it was Toby’s birthday when we saw this cookie at a Knoxville mall") %>
<%= project_image("photos/gatlincon/27-6.JPG") %>
<%= project_image("photos/gatlincon/27-7.JPG") %>

<%= link_header("Evening", 3) %>

<%= project_image("photos/gatlincon/27-8.JPG", caption: "Dinner") %>
<%= project_image("photos/gatlincon/27-9.JPG") %>