<h2>Wednesday, July 28</h2>

<%= link_header("Around the House", 3) %>

<%= project_image("photos/gatlincon/28-1.JPG") %>
<%= project_image("photos/gatlincon/28-2.JPG") %>

<%= link_header("“Tattoos”", 3) %>

<p>We went to a restaurant for lunch, and ended up using some markers to create temporary tattoos.</p>

<%= project_image("photos/gatlincon/28-3.JPG") %>
<%= project_image("photos/gatlincon/28-4.JPG") %>
<%= project_image("photos/gatlincon/28-5.JPG", caption: %Q(<abbr title="Ryan">Rofish</abbr>’s fish)) %>
<%= project_image("photos/gatlincon/28-6.JPG") %>
<%= project_image("photos/gatlincon/28-7.JPG", caption: %Q(<abbr title="Paul">Fishsticks</abbr>’s “fish tank”)) %>

<%= link_header("Pigeon Forge", 3) %>

<p>While Gatlinburg itself is a touristy area, the next door town of Pigeon Forge manages to go even further.</p>

<%= project_image("photos/gatlincon/28-8.JPG") %>
<%= project_image("photos/gatlincon/28-10.JPG", caption: "Waiting to play laser tag") %>
<%= project_image("photos/gatlincon/28-9.JPG") %>
<%= project_image("photos/gatlincon/28-11.JPG") %>

<%= link_header("Evening Activities", 3) %>

<%= project_image("photos/gatlincon/28-12.JPG") %>
<%= project_image("photos/gatlincon/28-13.JPG", caption: "The required <i>EarthBound</i> playthrough") %>
<%= project_image("photos/gatlincon/28-14.JPG") %>
<%= project_image("photos/gatlincon/28-15.JPG", caption: "Setting up for a group picture") %>
<%= project_image("photos/gatlincon/28-16.JPG", caption: "Blue drank") %>
<%= project_image("photos/gatlincon/28-17.JPG") %>
<%= project_image("photos/gatlincon/28-18.JPG") %>