<h2>Thursday, July 29</h2>

<%= project_image("photos/gatlincon/29-1.JPG", caption: "Bro Ness") %>

<%= link_header("Pigeon Forge II", 3) %>

<%= project_image("photos/gatlincon/29-2.JPG", caption: "Breakfast in town") %>
<%= project_image("photos/gatlincon/29-3.JPG", caption: "Bacon waffle") %>
<%= project_image("photos/gatlincon/29-4.JPG") %>
<%= project_image("photos/gatlincon/29-5.JPG", caption: "Pigeon Forge at its most Pigeon Forge") %>
<%= project_image("photos/gatlincon/29-6.JPG") %>
<%= project_image("photos/gatlincon/29-7.JPG") %>
<%= project_image("photos/gatlincon/29-8.JPG", caption: "What we ended up buying at the As Seen on TV store") %>
<%= project_image("photos/gatlincon/29-9.JPG") %>
<%= project_image("photos/gatlincon/29-10.JPG") %>
<%= project_image("photos/gatlincon/29-11.JPG", caption: "The money we spent certainly wasn’t wasted.") %>
<%= project_image("photos/gatlincon/29-12.JPG", caption: "The shades got quite a bit of use throughout the con.") %>
<%= project_image("photos/gatlincon/29-14.JPG") %>

<%= link_header("Dinner at Mellow Mushroom", 3) %>

<p>A large group of us went out to eat that evening.</p>

<%= project_image("photos/gatlincon/29-15.JPG") %>
<%= project_image("photos/gatlincon/29-16.JPG") %>
<%= project_image("photos/gatlincon/29-17.JPG") %>
<%= project_image("photos/gatlincon/29-18.JPG") %>
<%= project_image("photos/gatlincon/29-19.JPG") %>

<%= link_header("Evening", 3) %>

<%= project_image("photos/gatlincon/29-20.JPG", caption: "Someone set up a projector to give us another screen") %>
<%= project_image("photos/gatlincon/29-21.JPG") %>