<h2>Friday, July 30</h2>

<%= link_header("Podcasting", 3) %>

<p>We got together and recorded a podcast that morning.</p>

<%= project_image("photos/gatlincon/30-1.JPG") %>
<%= project_image("photos/gatlincon/30-2.JPG") %>
<%= project_image("photos/gatlincon/30-3.JPG") %>
<%= project_image("photos/gatlincon/30-4.JPG") %>
<%= project_image("photos/gatlincon/30-5.JPG") %>
<%= project_image("photos/gatlincon/30-6.JPG") %>
<%= project_image("photos/gatlincon/30-7.JPG") %>

<%= link_header("Mini Golf", 3) %>

<p>There was a lot more mini golf competition in Pigeon Forge than in <%= link_to "Michigan City", starmen_con_gallery_path(gallery: :chicagocon, page: 8, anchor: "flip-s-cascade-mountain-adventure-park") %>, so we had some better (but still crazy) courses to choose from.</p>

<%= project_image("photos/gatlincon/30-8.JPG") %>
<%= project_image("photos/gatlincon/30-9.JPG") %>
<%= project_image("photos/gatlincon/30-10.JPG") %>
<%= project_image("photos/gatlincon/30-11.JPG") %>
<%= project_image("photos/gatlincon/30-12.JPG") %>
<%= project_image("photos/gatlincon/30-13.JPG") %>
<%= project_image("photos/gatlincon/30-14.JPG") %>
<%= project_image("photos/gatlincon/30-15.JPG") %>
<%= project_image("photos/gatlincon/30-16.JPG") %>
<%= project_image("photos/gatlincon/30-17.JPG", caption: "It was a rather hot day") %>
<%= project_image("photos/gatlincon/30-18.JPG") %>
<%= project_image("photos/gatlincon/30-19.JPG") %>

<%= link_header("Evening in Gatlinburg", 3) %>

<p>A few of us went to the town center of Gatlinburg for dinner.</p>

<%= project_image("photos/gatlincon/30-20.JPG") %>
<%= project_image("photos/gatlincon/30-21.JPG") %>
<%= project_image("photos/gatlincon/30-22.JPG") %>

<%= link_header("Back at the House", 3) %>

<%= project_image("photos/gatlincon/30-23.JPG") %>
<%= project_image("photos/gatlincon/30-24.JPG") %>
<%= project_image("photos/gatlincon/30-25.JPG", caption: "Radio PSI") %>