<h2>Saturday, July 31</h2>

<%= project_image("photos/gatlincon/31-1.JPG", caption: "The sum total of recyclable items discarded during the con.  50 people use a lot of bottles and cans.") %>

<%= link_header("Goodbye Breakfast", 3) %>

<p>The last morning of the convention, we all met up for one big final breakfast.</p>

<%= project_image("photos/gatlincon/31-2.JPG", caption: "A final breakfast at a local pancake house before everyone departed") %>
<%= project_image("photos/gatlincon/31-3.JPG", caption: "Behind a pancake house, Eggstree reunites with his bretheren.") %>
<%= project_image("photos/gatlincon/31-4.JPG") %>
<%= project_image("photos/gatlincon/31-5.JPG") %>
<%= project_image("photos/gatlincon/31-6.JPG") %>
<%= project_image("photos/gatlincon/31-7.JPG") %>
<%= project_image("photos/gatlincon/31-8.JPG") %>
<%= project_image("photos/gatlincon/31-9.JPG") %>

<%= link_header("Driving Home", 3) %>

<p>And with that, we left. My trip had started with damage to my truck, and a low-hanging shrub decided that my trip should end with damage to my truck.</p>

<%= project_image("photos/gatlincon/31-10.JPG", caption: "My antenna after being attacked by an untrimmed shrub on a narrow detour road.") %>
