<div class="row">
  <div class="col-md-8 offset-md-2">


    <%= form_with(model: @computer) do |f| %>
      <%= render("shared/error_messages", object: @computer) %>
      
      <p>
        <%= f.label(:name) %>
        <%= f.text_field(:name, class: "form-control") %>
      </p>
      
      <p>
        <%= f.label(:model) %>
        <%= f.text_field(:model, class: "form-control") %>
      </p>
      
      <p>
        <%= f.label(:description, "Description (suppors Markdown)") %>
        <%= f.text_area(:description, class: "form-control") %>
      </p>
      
      <p>
        <%= f.label(:form_factor) %>
        <%= f.select(:form_factor, Computer::FORM_FACTORS.invert, {}, {class: "form-control"})%>
      </p>

      <p>
        <%= f.label(:purchase_date) %>
        <%= f.date_field(:purchase_date, class: %w(form-control date-field)) %>
      </p>

      <p>
        <%= f.label(:disposal_date, "Disposal date (leave blank if still owned)") %>
        <%= f.date_field(:disposal_date, class: %w(form-control date-field)) %>
      </p>
      
      <p>
        <%= f.submit(yield(:button_text), class: %w(btn btn-primary)) %>
      </p>

    <% end %>

  </div>
</div>