<% provide(:title, "PAX East 2015") %>
<% provide(:meta_description, "Photos from PAX East 2015") %>
<% provide(:theme, "pax-east") %>

<%= render partial: "static_pages/galleries/pax_gallery_link" %>

<h1>PAX East 2015</h1>

<p>PAX East 2015 took place in Boston, Massachusetts on 6&ndash;8 March, 2015.</p>

<%= project_image "photos/pax-east-2015/East 2015 (7).jpg", caption: "Convention center lobby" %>
<%= project_image "photos/pax-east-2015/East 2015 (3).jpg", caption: "Expo hall" %>
<%= project_image "photos/pax-east-2015/East 2015 (1).jpg", caption: "Goat check" %>
<%= project_image "photos/pax-east-2015/East 2015 (2).jpg", caption: "Expo hall" %>
<%= project_image "photos/pax-east-2015/East 2015 (4).jpg" %>
<%= project_image "photos/pax-east-2015/East 2015 (5).jpg", caption: "Expo hall" %>
<%= project_image "photos/pax-east-2015/East 2015 (8).jpg" %>
<%= project_image "photos/pax-east-2015/East 2015 (6).jpg", caption: "Expo hall" %>
<%= project_image "photos/pax-east-2015/East 2015 (11).jpg" %>
<%= project_image "photos/pax-east-2015/East 2015 (9).jpg" %>
<%= project_image "photos/pax-east-2015/East 2015 (10).jpg", caption: "Main theatre after the final round of the Omegathon" %>
