<% provide(:title, @convention[:name]) %>
<% provide(:meta_description, @meta_description) %>

<h1><%= @convention[:name] %></h1>

<p>Flagstaff Con took place at a rental house in Flagstaff, Arizona on 22&ndash;29 June, 2014.</p>

<%= link_header("Traveling to Tucson", 2) %>

<p>Instead of heading straight to Flagstaff, I <%= link_to "flew to Tucson", "https://www.flighthistorian.com/trips/84" %> a day earlier in order to spend some time with my Fangamer friends, who I would then ride up to Flagstaff with.</p>

<%= project_image("photos/flagstaff-con/21-1.jpg", caption: "Not my plane, but an Arizona Cardinals livery spotted at CMH was a great start to an Arizona vacation.") %>
<%= project_image("photos/flagstaff-con/21-2.jpg", caption: "The boneyard at Davis-Monthan, as seen while circling to land at #{link_to "Tucson", "https://www.flighthistorian.com/airports/TUS", target: :_blank}.") %>
<%= project_image("photos/flagstaff-con/21-3.jpg", caption: "Making cookie s’mores in Tucson.") %>

<%= link_header("Flagstaff", 2) %>

<p>We drove up I-10 to Phoenix and I-19 to Flagstaff. I’d never been to Flagstaff before, and I found I-19 to be one of the most beautiful stretches of interstate I‘d been on. It starts out in Phoenix, and as the elevation increases (to Flagstaff’s 6,900 feet) and the temperature drops, it transitions from desert to pine forests.</p>

<%= project_image("photos/flagstaff-con/22-1.jpg", caption: "Our vacation home rental in Flagstaff.") %>
<%= project_image("photos/flagstaff-con/25-12.jpg", caption: "I’m not quite sure what to make of this business’s name.") %>

<%= link_header("Grand Canyon", 2) %>

<p>Flagstaff is one of the closest cities to the Grand Canyon, so of course, we had to visit.</p>

<%= project_image("photos/flagstaff-con/24-1.jpg", caption: "Grand Canyon National Park") %>
<%= project_image("photos/flagstaff-con/24-2.jpg") %>
<%= project_image("photos/flagstaff-con/24-3.jpg") %>
<%= project_image("photos/flagstaff-con/24-4.jpg", caption: "Tommy") %>
<%= project_image("photos/flagstaff-con/24-5.jpg") %>
<%= project_image("photos/flagstaff-con/24-6.jpg") %>
<%= project_image("photos/flagstaff-con/24-7.jpg") %>
<%= project_image("photos/flagstaff-con/24-8.jpg") %>
<%= project_image("photos/flagstaff-con/24-9.jpg", caption: "Charlie") %>
<%= project_image("photos/flagstaff-con/24-10.jpg") %>

<%= link_header("Sedona", 2) %>

<p>Near Flagstaff is the town of Sedona, Arizona. It’s a bit touristy and very focused on new age concepts like crystals, energy vortexes, and aura cleansing, but it was still a very beautiful area.</p>

<%= project_image("photos/flagstaff-con/25-1.jpg", caption: "Driving to Sedona, AZ along Arizona 89A") %>
<%= project_image("photos/flagstaff-con/25-2.jpg", caption: %Q(<abbr title="rofish">Ryan</abbr> playing the public glockenspiels)) %>
<%= project_image("photos/flagstaff-con/25-3.jpg", caption: "Horse bench") %>
<%= project_image("photos/flagstaff-con/25-4.jpg", caption: "Hawaiian pork") %>
<%= project_image("photos/flagstaff-con/25-5.jpg", caption: "While in Sedona, a few of us climbed the Cathedral Rock trail.") %>
<%= project_image("photos/flagstaff-con/25-6.jpg", caption: "Our hike, visualized by Google Earth") %>
<%= project_image("photos/flagstaff-con/25-7.jpg", caption: "Climbing") %>
<%= project_image("photos/flagstaff-con/25-8.jpg", caption: "There was supposed to be an “energy vortex” at the top, but all we found was a view.") %>
<%= project_image("photos/flagstaff-con/25-9.jpg", caption: "Paul, Kevin, and Ryan") %>
<%= project_image("photos/flagstaff-con/25-10.jpg") %>
<%= project_image("photos/flagstaff-con/25-11.jpg") %>

<%= link_header("Wupatki National Monument", 2) %>

<%= project_image("photos/flagstaff-con/26-1.jpg", caption: "Pueblo ruins at Wupatki National Monument") %>
<%= project_image("photos/flagstaff-con/26-2.jpg", caption: "Paul, Steve, Mark, Eyes, and Steph") %>

<%= link_header("Sunset Crater", 2) %>

<%= project_image("photos/flagstaff-con/26-3.jpg", caption: "Volcanic rocks near Sunset Crater") %>
<%= project_image("photos/flagstaff-con/26-4.jpg") %>
<%= project_image("photos/flagstaff-con/26-5.jpg") %>
<%= project_image("photos/flagstaff-con/26-6.jpg") %>

<%= link_header("Granny’s Closet", 2) %>

<p>On my last evening in Flagstaff, we visited a local bar for karaoke.</p>

<%= project_image("photos/flagstaff-con/27-1.jpg", caption: "Crazy stained glass") %>
<%= project_image("photos/flagstaff-con/27-2.jpg", caption: "Obligatory Route 66 kitsch outside the restaurant") %>
<%= project_image("photos/flagstaff-con/27-3.jpg") %>

<%= link_header("Meteor Crater", 2) %>

<p>An hour east of Flagstaff is the privately-owned Meteor Crater, which is quite a tourist trap (complete with a completely ridiculous FM radio station that you can listen to as you drive there), but was still pretty neat to see.</p>

<%= project_image("photos/flagstaff-con/28-1.jpg", caption: "Meteor Crater. EXPERIENCE THE IMPACT.") %>

<%= link_header("Heading Home", 2) %>

<p>I had to get back to work, so I had a flight out of <%= link_to "Flagstaff", "https://www.flighthistorian.com/airports/FLG", target: :_blank %> that afternoon.</p>

<%= project_image("photos/flagstaff-con/28-2.jpg", caption: "The first bike rack I’ve seen at an airport.") %>
<%= project_image("photos/flagstaff-con/28-3.jpg", caption: "Heading home!") %>
