<% provide(:title, "PAX East 2013") %>
<% provide(:meta_description, "Photos from PAX East 2013") %>

<%= render partial: "static_pages/galleries/starmen_gallery_link" %>

<h1>PAX East 2013</h1>

<p>PAX East 2013 took place in Boston, Massachusetts on 22&ndash;24 March, 2013.</p>

<%= project_image "photos/pax-east-2013/East 2013 (12).jpg", caption: "Welcome to PAAAAAAAAX!" %>
<%= project_image "photos/pax-east-2013/East 2013 (9).jpg", caption: "Boston Convention and Exhibition Center" %>
<%= project_image "photos/pax-east-2013/East 2013 (13).jpg", caption: "Main Expo Hall" %>
<%= project_image "photos/pax-east-2013/East 2013 (14).jpg", caption: "Main Expo Hall" %>
<%= project_image "photos/pax-east-2013/East 2013 (15).jpg", caption: "Main Expo Hall" %>
<%= project_image "photos/pax-east-2013/East 2013 (1).jpg", caption: "Crowds" %>
<%= project_image "photos/pax-east-2013/East 2013 (2).jpg" %>
<%= project_image "photos/pax-east-2013/East 2013 (3).jpg", caption: "Amy’s contribution to the dry erase #{link_to "Fangamer", "https://www.fangamer.com/", target: :_blank} booth" %>
<%= project_image "photos/pax-east-2013/East 2013 (5).jpg", caption: "Amy kisses a zombie" %>
<%= project_image "photos/pax-east-2013/East 2013 (18).jpg", caption: "PAX tends to involve a lot of daily walking" %>

<%= project_image "photos/pax-east-2013/East 2013 (10).jpg", caption: "Boston" %>
<%= project_image "photos/pax-east-2013/East 2013 (11).jpg" %>
<%= project_image "photos/pax-east-2013/East 2013 (16).jpg", caption: "Boston" %>
<%= project_image "photos/pax-east-2013/East 2013 (6).jpg", caption: "While we were in Boston, Amy and I went on the Sam Adams brewery tour" %>
<%= project_image "photos/pax-east-2013/East 2013 (17).jpg", caption: "We also visited the USS <i>Constitution</i>" %>
<%= project_image "photos/pax-east-2013/East 2013 (19).jpg", caption: "Sign in a restaurant bathroom" %>

<%= project_image "photos/pax-east-2013/East 2013 (8).jpg", caption: "Amy’s goal was to get as much free convention “swag” as possible. Here’s what we got." %>
