<%# Invisible divs for filling part tooltips %>

<div style="display: none">
  <% parts.each do |part| %>
    <div id="<%= part.tooltip_id %>">
      <table class="electronics-tooltip">
        <tr>
          <% if part.photo && part.photo.exists? %>
            <td><%= image_tag(part.photo.url, {width: 128, height: 128}) %></td>
          <% end %>
          <td>
            <% if part.name.present? %>
              <div class="electronics-tooltip-name"><%= part.name %></div>
            <% end %>
            <div class="electronics-tooltip-model"><%= part.model %></div>
            <div class="electronics-tooltip-dates">
              <%= DateFormat.electronics_owned_range_text(part.purchase_date, part.disposal_date) %>
            </div>
            <% if part.specs_array.any? %>
              <ul class="electronics-tooltip-specs">
                <% part.specs_array.each do |spec| %>
                  <li><%= spec %></li>
                <% end %>
              </ul>
            <% end %>
            <% if part.photo && part.photo.credit %>
              <div class="electronics-tooltip-photo-credit">photo: <%= part.photo.credit %></div>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
  <% end %>
</div>

<%# Javascript to make tippy.js tooltips work %>
<script src="https://unpkg.com/popper.js@1"></script>
<script src="https://unpkg.com/tippy.js@5"></script>
<script>
  $('head').append('<link href="https://unpkg.com/tippy.js@5/themes/light-border.css" rel="stylesheet">');
  tippy('[data-tippy-template]', {
    theme: 'light-border',
    content(reference) {
      const id = reference.getAttribute('data-tippy-template');
      const template = document.getElementById(id);
      return template.innerHTML;
    },
  });
</script>