<div class="row">
  <div class="col-md-8 offset-md-2">


    <%= form_with(model: [:electronics, @category]) do |f| %>
      <%= render "shared/error_messages", object: @category %>
      
      <p>
        <%= f.label :name, "Name – title case plural" %>
        <%= f.text_field :name, class: "form-control" %>
      </p>
      
      <p>
        <%= f.label :name_singular, "Name – title case singular (optional)" %>
        <%= f.text_field :name_singular, class: "form-control" %>
      </p>
      
      <p>
        <%= f.label :name_lowercase_plural, "Name – lowercase plural (optional)" %>
        <%= f.text_field :name_lowercase_plural, class: "form-control" %>
      </p>

      <p>
        <%= f.label :description, "Description (optional)" %>
        <%= f.text_field :description, class: "form-control" %>
      </p>
      
      <p>
        <%= f.submit yield(:button_text), class: %w(btn btn-primary) %>
      </p>

    <% end %>

  </div>
</div>