<% provide(:title, "PAX West 2018") %>
<% provide(:meta_description, "Photos from PAX West 2018") %>
<% provide(:theme, "pax-west")%>

<h1>PAX West 2018</h1>

<p>PAX West 2018 took place in Seattle, Washington on 31 August&ndash;3 September, 2018.</p>

<%= link_header "Pre-PAX", 2 %>

<%= project_image "photos/pax-west-2018/1.jpg", caption: "My cat Maxwell helped me open my badges" %>
<%= project_image "photos/pax-west-2018/2.jpg", caption: "I had a trip to Boston the weekend before PAX, so I brought the PAX West badge to the PAX East convention center" %>

<%= link_header "PAX Weekend", 2 %>

<%= project_image "photos/pax-west-2018/3.jpg", caption: "Some friends and I were able to get a tour of NoA. Photos weren’t permitted inside, but here’s us in front of the building." %>
<%= project_image "photos/pax-west-2018/4.jpg", caption: "On Friday night, I went to the Night of Gaming for Good On Top of the World party — a boardgame night on top of Seattle’s tallest building, hosted as a charity fundraiser" %>
<%= project_image "photos/pax-west-2018/8.jpg", caption: "Green screen hoist setup that PUBG had for taking “parachute” photos" %>
<%= project_image "photos/pax-west-2018/5.jpg", caption: "PUBG took over the Paramount and the street next to it" %>
<%= project_image "photos/pax-west-2018/6.jpg", caption: "PUBG tournament" %>
<%= project_image "photos/pax-west-2018/7.jpg", caption: "My prize for completing PAX XP" %>
<%= project_image "photos/pax-west-2018/9.jpg", caption: "My friends and I didn’t get to the Late Night Dub Fight panel until after the line capped, so we sat outside the theatre and watched it live on Twitch" %>
<%= project_image "photos/pax-west-2018/10.jpg", caption: "Omegathon final round" %>