<a name="import"></a>
<h2>Import the Location Data into uMap</h2>

<p><%= link_to("uMap", "http://umap.openstreetmap.fr/en/", target: :_blank) %> is a website which allows you to import GPX data and overlay it on an OpenStreetMap layer.</p>

<%= project_image("projects/gps-logging/umap-home.png", alt: "Screenshot of uMap") %>

<p>Click <kbd>Create a map</kbd> to get started.</p>

<%= project_image("projects/gps-logging/umap-blank-map.png", alt: "Screenshot of uMap") %>

<p>On the menu on the right side of the map, click <kbd>Import data</kbd>. Choose your GPX file and click <kbd>Import</kbd>.</p>

<%= project_image("projects/gps-logging/umap-default-map.png", alt: "Screenshot of uMap") %>

<p>Your data is imported! If you wish, you can stop here. However, I usually prefer to change the background map to something less busy. You can do that by clicking the <kbd>Change tilelayers</kbd> button, third from the bottom on the right menu.</p>

<%= project_image("projects/gps-logging/umap-tilelayers.png", alt: "Screenshot of uMap") %>

<p>I usually use Positron, but you can choose any map you want.</p>

<%= project_image("projects/gps-logging/umap-positron-map.png", alt: "Screenshot of uMap") %>

<p>And that’s it! A clear map of your routes. Save or screenshot your map as you see fit.</p>