<% provide(:title, "PAX South 2019") %>
<% provide(:meta_description, "Photos from PAX South 2019") %>
<% provide(:theme, "pax-south")%>

<h1>PAX South 2019</h1>

<p>PAX South 2019 took place in San Antonio, Texas on 18&ndash;20 January, 2019. Amy attended with me.</p>

<%= project_image "photos/pax-south-2019/welcome.jpg" %>

<%= link_header "At PAX", 2 %>

<%= project_image "photos/pax-south-2019/lobby.jpg", caption: "The main lobby of the Henry B. Gonzalez Convention Center" %>
<%= project_image "photos/pax-south-2019/photo-booth.gif", caption: "Our photo from the PAX photo booth" %>
<%= project_image "photos/pax-south-2019/mugs.jpg", caption: "We both completed the PAX XP scavenger hunt (Amy was very good at finding the scanners we had to collect) and each won a mug." %>
<%= project_image "photos/pax-south-2019/box.jpg", caption: "There was a prize tower where you could scan your badge once a day for a chance to win. We won a George R. R. Martin prize box containing a gold leaf hardcover book, a year of Dothraki language courses, an iron coin of the Faceless Men, and a few other things." %>
<%= project_image "photos/pax-south-2019/screen.jpg", caption: "Someone managed to open up Paint on one of the conference room schedule touch screens. — at Henry B. Gonzalez Convention Center.." %>

<%= link_header "Around San Antonio", 2 %>

<%= project_image "photos/pax-south-2019/riverwalk.jpg", caption: "Lunch on the River Walk" %>
<%= project_image "photos/pax-south-2019/scooter.jpg", caption: "Amy riding a rental scooter" %>
<%= project_image "photos/pax-south-2019/alamo.jpg", caption: "Visiting the Alamo" %>