<%= form_for(@book) do |f| %>
  <%= render 'shared/error_messages', object: @book %>
  
  <p>
    <%= f.label :title, "Title *" %>
    <%= f.text_field :title, class: 'form-control' %>
  </p>
  
  <p>
    <%= f.label :subtitle %>
    <%= f.text_field :subtitle, class: 'form-control' %>
  </p>
  
  <p>
    <%= f.label :author, "Author(s) *" %>
    <%= f.text_area :author, class: 'form-control', cols: 40, rows: 3 %>
    Please separate multiple authors with new lines.
  </p>
  
  <p>
    <%= f.label :amazon_id, "Amazon ID" %>
    <%= f.text_field :amazon_id, class: 'form-control', style: "width: 175px" %>
  </p>
  
  <p>
    <%= f.label :completion_date %>
    <%= f.date_field :completion_date, class: 'form-control date-field' %>
  </p>
  
  <p>
    <%= f.submit yield(:button_text), class: 'btn btn-primary' %>
  </p>
  
<% end %>