<% if book_collection.any? %>
  <table class="table table-striped">
  	<thead>
  		<tr>
  			<th class="reading-title">Title</th>
  			<th class="reading-author">Author</th>
        <% if logged_in? %>
          <th class="reading-edit"></th>
        <% end %>
  		</tr>
  	</thead>
  	<tbody>
      <% book_collection.each do |book| %>
        <tr>
          <td class="reading-title">
          	<% if book.amazon_link %>
          		<%= link_to book.title, book.amazon_link %>
          	<% else %>
          		<%= book.title %>
          	<% end %>
          	<% if book.subtitle %>
          		<br/><span><%= book.subtitle %></span>
          	<% end %>
          </td>
          <td class="reading-author"><%= book.author.gsub("\n", "<br/>").html_safe %></td>
          <% if logged_in? %>
            <td class="reading-edit">
              <%= link_to("<span class=\"glyphicon glyphicon-pencil\"></span>".html_safe, edit_book_path(book), title: "Edit #{book.title}", class: "btn btn-default") %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>