<% provide(:title, "Reading List")%>
<% provide(:meta_description, "Books that Paul Bogard is reading or has completed reading.")%>

<h1>Reading List</h1>

<% if logged_in? %>
  <div class="row">
    <div class="col-md-12">
      <%= link_to("<span class=\"glyphicon glyphicon-plus\"></span> Add new book".html_safe, new_book_path, class: "btn btn-success pull-right", role: "button") %>
    </div>
  </div>
<% end %>

<% if @currently_reading.any? || @books_by_year.any? %>

  <div class="row">
    <div class="col-md-12 center">
      <div class="btn-group">
        <% if @currently_reading.any? %>
          <%= link_to "Current", '#current', class: "btn btn-default" %>
        <% end %>
        <% @books_by_year.each do |year, books| %>
          <%= link_to year, "##{year}", class: "btn btn-default" %>
        <% end %>
      </div>
    </div>
  </div>
  
  <% if @currently_reading.any? %>
    <h2 id="current">Currently Reading</h2>
    <%= render 'table', book_collection: @currently_reading %>
  <% end %>

  <% @books_by_year.each do |year, books| %>
    <h2 id="<%= year %>">Completed in <%= year %></h2>
    <%= render 'table', book_collection: books %>
  <% end %>


<% else %>
  <p class="alert alert-info">There are no books on my reading list.</p>
<% end %>