<% provide(:title, "Reading List")%>
<% provide(:meta_description, "Books that Paul Bogard is reading or has completed reading.")%>

<h1>Reading List</h1>

<% if @currently_reading.any? || @books_by_year.any? %>

  <div class="alert alert-info"><strong>Note:</strong> Reading a book does not necessarily imply that I agree with or endorse the book.</div>

  <div class="row">
    <div class="col-md-12 center">
      <div class="btn-group flex-wrap">
        <% if @currently_reading.any? %>
          <%= link_to "Current", '#current', class: "btn btn-outline-dark" %>
        <% end %>
        <% @books_by_year.each do |year, books| %>
          <%= link_to year, "##{year}", class: "btn btn-outline-dark" %>
        <% end %>
      </div>
    </div>
  </div>
  
<% end %>

<% if logged_in? %>
  <div class="row">
    <div class="col-md-12">
      <%= link_to("Add new book", new_book_path, class: "btn btn-success pull-right", role: "button") %>
    </div>
  </div>
<% end %>
  
<% if @currently_reading.any? || @books_by_year.any? %>
  
  <% if @currently_reading.any? %>
    <% page_count = @currently_reading.map{|x| x.page_count || 0}.reduce(0){|sum,x| sum+x} %>
    <h2 id="current">Currently Reading&ensp;<small><%= pluralize(@currently_reading.length, "book") %> &middot; <%=  number_with_delimiter(page_count, delimeter: ",") << " page".pluralize(page_count) if page_count > 0 %></small></h2>
    <%= render partial: 'table', locals: {book_collection: @currently_reading, edit_links: @edit_links} %>
  <% end %>

  <% @books_by_year.each do |year, books| %>
    <% page_count = books.map{|x| x.page_count || 0}.reduce(0){|sum,x| sum+x} %>
    <h2 id="<%= year %>">Completed in <%= year %>&ensp;<small><%= pluralize(books.length, "book") %> &middot; <%=  number_with_delimiter(page_count, delimeter: ",") << " page".pluralize(page_count) if page_count > 0 %></small></h2>
    <%= render partial: 'table', locals: {book_collection: books, edit_links: @edit_links} %>
  <% end %>


<% else %>
  <p class="alert alert-info">There are no books on my reading list.</p>
<% end %>