<%= form_for(@terminal) do |f| %>
  <%= render 'shared/error_messages', object: @terminal %>
  
  <p>
    <%= f.label :iata_code, "IATA Code" %>
    <%= f.text_field :iata_code, class: 'form-control', maxlength: 3, style: "width: 75px" %>
  </p>
  
  <p>
    <%= f.label :city, "City" %>
    <%= f.text_field :city, class: 'form-control' %>
  </p>
  
  <p>
    <%= f.submit yield(:button_text), class: 'btn btn-primary' %>
  </p>
  
<% end %>