<% provide(:title, "Terminal Silhouettes")%>
<% provide(:meta_description, "Paul Bogard’s vector illustrations of airport terminals.")%>

<h1>Terminal Silhouettes</h1>

<%= link_buttons(
  LinkButton.new("Read my silhouette <strong>blog posts</strong>", "one-hundred-airports", "https://onehundredairports.com/category/projects/terminal-silhouettes/", target: :_blank),
  LinkButton.new("<strong>GitHub</strong> repository", "github", "https://github.com/bogardpd/terminal_silhouettes", target: :_blank)
  ) %>

<p>I wanted to teach myself how to create Scalable Vector Graphics (SVG) drawings, so I started drawing silhouettes of airport terminals and concourses that <%= link_to "I’ve visited", "https://www.flighthistorian.com/airports", target: :_blank %>.</p>

<h2>Tools</h2>

<table class="table tools-list">
	<tbody>
		<tr>
			<th scope="row">Vector Graphics Editor</th>
			<td><ul><li><%= link_to "Inkscape", "https://inkscape.org", target: :_blank %></li></ul></td>
		</tr>
		<tr>
			<th scope="row">Version Control</th>
			<td><ul><li><%= link_to "Git", "https://git-scm.com", target: :_blank %></li></ul></td>
		</tr>
		<tr>
			<th scope="row">Project Management</th>
			<td><ul><li><%= link_to "Trello", "https://trello.com/", target: :_blank %></li></ul></td>
		</tr>
	</tbody>
</table>

<h2>Gallery</h2>

<% if logged_in? %>
  <div class="row">
    <div class="col-md-12">
      <%= link_to("Add new terminal", new_terminal_silhouette_path, class: "btn btn-success pull-right", role: "button") %>
    </div>
  </div>
<% end %>

<div class="row">
<% @terminals.each do |ts| %>
	<div class="col-lg-6 terminal-silhouette-container">
		<h3><%= ts.city %>&emsp;<%= ts.iata_code %></h3>
		<div class="terminal-silhouette-preview"><%= link_to(image_tag("#{TerminalSilhouette::ROOT_PATH}/png-portfolio/#{ts.iata_code}.png", alt: ts.iata_code, class: "img-fluid generic-photo-tile"), "#{TerminalSilhouette::ROOT_PATH}/svg/#{ts.iata_code}.svg") %></div>
		<div class="terminal-silhouette-links"><%= link_to "png", "#{TerminalSilhouette::ROOT_PATH}/png/#{ts.iata_code}.png" %> &middot; <%= link_to "svg", "#{TerminalSilhouette::ROOT_PATH}/svg/#{ts.iata_code}.svg" %><% if logged_in? %>&emsp;<%= link_to("Edit #{ts.iata_code}", edit_terminal_silhouette_path(ts), title: "Edit #{ts.iata_code}", class: "btn btn-primary") %><% end %></div>
	</div>
<% end %>
</div>