<h2>The House</h2>

<p>The house we rented was one of the nicest convention houses yet, and it had a great view of the valley.</p>

<%= link_header("Outside", 3) %>

<%= project_image("photos/utacon/0-1.JPG", caption: "Front of the house") %>
<%= project_image("photos/utacon/0-2.JPG") %>
<%= project_image("photos/utacon/0-3.JPG", caption: "Back of the house") %>
<%= project_image("photos/utacon/0-20.JPG", caption: "Back porch with hot tub") %>

<%= link_header("Main Level", 3) %>

<%= project_image("photos/utacon/0-4.JPG", caption: "Front entry") %>
<%= project_image("photos/utacon/0-5.JPG", caption: "Piano room") %>
<%= project_image("photos/utacon/0-9.JPG", caption: "Kitchen") %>
<%= project_image("photos/utacon/0-10.JPG", caption: "Living room") %>
<%= project_image("photos/utacon/0-11.JPG", caption: "Master bedroom") %>
<%= project_image("photos/utacon/0-12.JPG", caption: "Master bedroom") %>
<%= project_image("photos/utacon/0-13.JPG", caption: "Master bath") %>
<%= project_image("photos/utacon/0-14.JPG", caption: "Master bath") %>

<%= link_header("Upper Level", 3) %>

<%= project_image("photos/utacon/0-6.JPG", caption: "The Canadians claimed the top floor.") %>
<%= project_image("photos/utacon/0-7.JPG", caption: "Upstairs game room") %>
<%= project_image("photos/utacon/0-8.JPG", caption: "Bedroom") %>

<%= link_header("Basement", 3) %>

<%= project_image("photos/utacon/0-15.JPG", caption: "Theatre room") %>
<%= project_image("photos/utacon/0-16.JPG", caption: "Theatre room") %>
<%= project_image("photos/utacon/0-17.JPG", caption: "The Creeper under the basement stairs") %>
<%= project_image("photos/utacon/0-18.JPG", caption: "Bedroom") %>
<%= project_image("photos/utacon/0-19.JPG", caption: "Bedroom") %>

<%= link_header("Views from the House", 3) %>

<%= project_image("photos/utacon/0-21.JPG") %>
<%= project_image("photos/utacon/0-22.JPG") %>
<%= project_image("photos/utacon/0-23.JPG") %>
<%= project_image("photos/utacon/0-24.JPG") %>