<h2>Monday, July 25</h2>

<%= link_header("Monday Morning", 3) %>

<%= project_image("photos/utacon/25-1.JPG") %>
<%= project_image("photos/utacon/25-2.JPG") %>
<%= project_image("photos/utacon/25-3.JPG") %>

<%= link_header("Bowling", 3) %>

<%= project_image("photos/utacon/25-4.JPG") %>
<%= project_image("photos/utacon/25-5.JPG") %>
<%= project_image("photos/utacon/25-6.JPG") %>
<%= project_image("photos/utacon/25-7.JPG") %>
<%= project_image("photos/utacon/25-8.JPG") %>
<%= project_image("photos/utacon/25-9.JPG") %>
<%= project_image("photos/utacon/25-10.JPG") %>
<%= project_image("photos/utacon/25-11.JPG") %>
<%= project_image("photos/utacon/25-12.JPG") %>

<%= link_header("Monday Evening", 3) %>

<%= project_image("photos/utacon/25-13.JPG", caption: "A few of us went to P.F. Chang’s for dinner") %>
<%= project_image("photos/utacon/25-14.JPG") %>
<%= project_image("photos/utacon/25-15.JPG") %>

<%= link_header("Start of the Suits", 3) %>

<p>Prior to the convention, a few of us had decided in advance to bring suits.</p>

<%= project_image("photos/utacon/25-16.JPG") %>
<%= project_image("photos/utacon/25-17.JPG") %>