<h2>Tuesday, July 26</h2>

<%= link_header("Breakfast", 3) %>

<%= project_image("photos/utacon/26-1.JPG") %>

<%= link_header("Salt Lake City", 3) %>

<p>We spent the day exploring nearby Salt Lake City.</p>

<%= project_image("photos/utacon/26-3.JPG", caption: "Temple Square, Salt Lake City") %>
<%= project_image("photos/utacon/26-4.JPG") %>
<%= project_image("photos/utacon/26-5.JPG") %>
<%= project_image("photos/utacon/26-6.JPG") %>
<%= project_image("photos/utacon/26-7.JPG", caption: "Downtown Salt Lake City") %>
<%= project_image("photos/utacon/26-8.JPG", caption: "A few of us stopped into a huge used bookstore in Salt Lake City.") %>
<%= project_image("photos/utacon/26-9.JPG") %>
<%= project_image("photos/utacon/26-10.JPG", caption: "For dinner, a large group of us ate at a Mexican restaurant.") %>
<%= project_image("photos/utacon/26-11.JPG") %>
<%= project_image("photos/utacon/26-12.JPG") %>
