<h2>Wednesday, July 27</h2>

<%= link_header("Dividing the House", 3) %>

<%= project_image("photos/utacon/27-1.JPG", caption: "As the upstairs had been claimed by Canada, we named the basement Mexico.") %>
<%= project_image("photos/utacon/27-2.JPG") %>
<%= project_image("photos/utacon/27-9.JPG", caption: "After the basement got named Mexico, a bunch of rooms were labeled with flags of other countries.") %>
<%= project_image("photos/utacon/27-10.JPG") %>
<%= project_image("photos/utacon/27-11.JPG") %>

<%= link_header("Reservior", 3) %>

<p>We went swimming at a nearby reservoir.</p>

<%= project_image("photos/utacon/27-3.JPG") %>
<%= project_image("photos/utacon/27-4.JPG") %>
<%= project_image("photos/utacon/27-5.JPG") %>
<%= project_image("photos/utacon/27-6.JPG") %>
<%= project_image("photos/utacon/27-7.JPG") %>

<%= link_header("Wednesday Afternoon", 3) %>

<%= project_image("photos/utacon/27-12.JPG") %>
<%= project_image("photos/utacon/27-13.JPG") %>
<%= project_image("photos/utacon/27-14.JPG") %>
<%= project_image("photos/utacon/27-16.JPG") %>
<%= project_image("photos/utacon/27-17.JPG") %>

<%= link_header("1000 Blank White Cards", 3) %>

<p>As is typical at our conventions, we played another game of <%= link_to "1000 Blank White Cards", starmen_con_gallery_path(gallery: :washingcon, page: 5, anchor: "1000-blank-white-cards") %>.

<%= project_image("photos/utacon/27-18.JPG") %>
<%= project_image("photos/utacon/27-19.JPG") %>
<%= project_image("photos/utacon/27-20.JPG", caption: "Apologizing to Logan for “kidnapping” him during 1000 Blank White Cards") %>