<h2>Thursday, July 28</h2>

<%= link_header("Thursday Morning", 3) %>

<%= project_image("photos/utacon/28-1.JPG") %>
<%= project_image("photos/utacon/28-2.JPG", caption: "We ordered a giant gummi worm and had it shipped to the con house.") %>
<%= project_image("photos/utacon/28-3.JPG", caption: "Unfortunately, it had melted in transit.") %>
<%= project_image("photos/utacon/28-4.JPG") %>

<%= link_header("Dressing Up", 3) %>

<p><abbr title="Ffish">Lance</abbr> and <abbr title="Fishsticks">Paul</abbr> dressed up again and posed for a few photos.</p>

<%= project_image("photos/utacon/28-5.JPG") %>
<%= project_image("photos/utacon/28-6.JPG") %>
<%= project_image("photos/utacon/28-7.JPG") %>
<%= project_image("photos/utacon/28-8.JPG") %>
<%= project_image("photos/utacon/28-9.JPG") %>
<%= project_image("photos/utacon/28-10.JPG") %>
<%= project_image("photos/utacon/28-11.JPG") %>

<%= link_header("Buca di Beppo", 3) %>

<p>The very first time I met anybody from Starmen.Net was at a Buca di Beppo near Indianapolis, where we met up to start the <%= link_to "Indiana Minicon", starmen_con_gallery_path(gallery: "indiana-minicon") %>. Going back with a larger group of convention friends a few years later felt appropriately nostalgic.</p>

<%= project_image("photos/utacon/28-12.JPG", caption: "Dinner at Buca di Beppo") %>
<%= project_image("photos/utacon/28-13.JPG") %>
<%= project_image("photos/utacon/28-14.JPG") %>
<%= project_image("photos/utacon/28-15.JPG") %>
<%= project_image("photos/utacon/28-16.JPG") %>
<%= project_image("photos/utacon/28-17.JPG") %>

<%= link_header("More Dressing Up", 3) %>

<p>After dinner, everyone who’d brought clothes to dress up in put them on.</p>

<%= project_image("photos/utacon/28-18.JPG", caption: "More people dressed up.") %>
<%= project_image("photos/utacon/28-19.JPG") %>
<%= project_image("photos/utacon/28-20.JPG") %>
<%= project_image("photos/utacon/28-21.JPG") %>
<%= project_image("photos/utacon/28-22.JPG") %>
<%= project_image("photos/utacon/28-23.JPG") %>
<%= project_image("photos/utacon/28-24.JPG") %>
<%= project_image("photos/utacon/28-25.JPG") %>
<%= project_image("photos/utacon/28-26.JPG") %>