<h2>Friday, July 29</h2>

<%= link_header("In-N-Out Mission", 3) %>

<p>Wanting to get just a little bit more use out of our more formal clothes, we decided to be complete nerds and pretend to escort some “VIPs” (Ann and Kevin) to a local In-N-Out Burger.</p>

<%= project_image("photos/utacon/29-1.JPG",) %>
<%= project_image("photos/utacon/29-2.JPG") %>
<%= project_image("photos/utacon/29-3.JPG") %>
<%= project_image("photos/utacon/29-4.JPG") %>
<%= project_image("photos/utacon/29-5.JPG") %>
<%= project_image("photos/utacon/29-6.JPG") %>
<%= project_image("photos/utacon/29-7.JPG") %>
<%= project_image("photos/utacon/29-8.JPG") %>
<%= project_image("photos/utacon/29-9.JPG") %>
<%= project_image("photos/utacon/29-10.JPG") %>
<%= project_image("photos/utacon/29-11.JPG") %>
<%= project_image("photos/utacon/29-12.JPG") %>
<%= project_image("photos/utacon/29-15.JPG") %>
<%= project_image("photos/utacon/29-16.JPG") %>
<%= project_image("photos/utacon/29-17.JPG") %>
<%= project_image("photos/utacon/29-18.JPG") %>
<%= project_image("photos/utacon/29-19.JPG") %>
<%= project_image("photos/utacon/29-13.JPG") %>
<%= project_image("photos/utacon/29-14.JPG", caption: "No more photos!") %>

<%= link_header("Friday Evening", 3) %>

<%= project_image("photos/utacon/29-20.JPG", caption: %Q(<abbr title="Fishsticks">Paul</abbr> and ten pounds of ground beef)) %>
<%= project_image("photos/utacon/29-21.JPG") %>
<%= project_image("photos/utacon/29-22.JPG", caption: "Preparing to host a live stream from the convention") %>
<%= project_image("photos/utacon/29-23.JPG") %>
<%= project_image("photos/utacon/29-24.JPG") %>
<%= project_image("photos/utacon/29-25.JPG") %>
