<h2>Saturday, July 30</h2>

<%= link_header("Saturday Morning", 3) %>

<%= project_image("photos/utacon/30-3.JPG", caption: "The remains of the gummi worm") %>
<%= project_image("photos/utacon/30-4.JPG", caption: "Playing Civilization 5") %>

<%= link_header("Baseball Game", 3) %>

<p>On the final evening, some of us attended a Salt Lake Bees minor league baseball game.</p>

<%= project_image("photos/utacon/30-5.JPG") %>
<%= project_image("photos/utacon/30-6.JPG") %>
<%= project_image("photos/utacon/30-7.JPG") %>
<%= project_image("photos/utacon/30-8.JPG") %>
<%= project_image("photos/utacon/30-9.JPG") %>
<%= project_image("photos/utacon/30-10.JPG", caption: "At the bottom of the 5th inning, the Bees started building up quite a streak of runs.") %>
<%= project_image("photos/utacon/30-11.JPG", caption: "So many, in fact, that the scoreboard rolled over. Ultimately, they got 12 runs that inning.") %>

<%= link_header("Mother 3", 3) %>

<p>Throughout the final day, we played through <i>Mother 3</i> in the theatre room.</p>

<%= project_image("photos/utacon/30-1.JPG") %>
<%= project_image("photos/utacon/30-2.JPG") %>
<%= project_image("photos/utacon/30-12.JPG") %>
<%= project_image("photos/utacon/30-13.JPG") %>
<%= project_image("photos/utacon/30-14.JPG") %>
<%= project_image("photos/utacon/30-15.JPG") %>