<h2>Sunday, July 31</h2>

<%= link_header("The Final Day", 3) %>

<%= project_image("photos/utacon/31-1.JPG", caption: "Dawn") %>
<%= project_image("photos/utacon/31-2.JPG") %>
<%= project_image("photos/utacon/31-3.JPG") %>
<%= project_image("photos/utacon/31-4.JPG", caption: "Lunch at the airport") %>
<%= project_image("photos/utacon/31-5.JPG", caption: "Airport goodbyes") %>
<%= project_image("photos/utacon/31-6.JPG", caption: "End.") %>