<% provide(:title, "Flight Historian 1.0")%>
<% provide(:meta_description, "Flight Historian version 1.0 change log")%>

<h1>
  Flight Historian 1.0<br/>
  <small>Initial Release</small>
</h1>

<%= render partial: "static_pages/flight_historian/version_picker", locals: {menu: @version_menu} %>

<!-- link button to specific github version, spec -->

<div class="release-date">27 April 2013</div>

<p>I travel reasonably often, and I consider myself a bit of a transportation nerd. It’s only logical that I would keep track of where I’ve flown.</p>

<p>For a while, I used a giant text file, and later an Excel spreadsheet, to track all of my flights; I created maps manually using the <%= link_to "Great Circle Mapper", "http://www.gcmap.com/", target: "_blank" %>. But by the time my flights began numbering in the hundreds, I needed a more automated solution, so I created <%= link_to %Q(<span class="website-name">Paul Bogard’s Flight Log</span>).html_safe, "https://www.flighthistorian.com/", target: "_blank" %>.</p>

<%= project_image "projects/flight-historian/1-0/A-1.png", type: :osx_screenshot, alt: "Screenshot of the Flight Log’s Home page" %>

<%= link_header "Flights", 2 %>

<p>The most prominent item on the <%= link_to "flights listing", "https://www.flighthistorian.com/flights", target: "_blank" %> is a pair of maps showing every flight I’ve taken since age 18.</p>

<%= project_image "projects/flight-historian/1-0/B-1.png", type: :osx_screenshot, alt: "Screenshot of the maps on the Flights page" %>

<p>I have a database of all the flights I’ve taken, and I wrote some code to take all of this flight route data and transform it into a format that the the <%= link_to "Great Circle Mapper", "http://www.gcmap.com/", target: "_blank" %> understands, and the Great Circle Mapper generates me a map like the one above. This means that when I add a new flight to the database, my maps are updated automatically.</p>

<div class="alert alert-info">(As an aside, when I add a flight to the database, it’s hidden at first – only I can see it. This allows me to enter my flights without having the general public aware that I’m traveling until I return home and unhide those flights.)</div>

<p>Of course, while maps are useful, sometimes more details are needed, and for that I’ve included a listing of all of my flights.</p>

<%= project_image "projects/flight-historian/1-0/B-2.png", type: :osx_screenshot, alt: "Screenshot of the flights table on the Flights page" %>

<p>Clicking on any flight in the list brings up a <%= link_to "flight details page", "https://www.flighthistorian.com/flights/147", target: "_blank" %>:</p>

<%= project_image "projects/flight-historian/1-0/B-3.png", type: :osx_screenshot, alt: "Screenshot of the Show Flight page" %>

<p>This page shows a map of the flight and a number of details. Many of these details are links – so clicking on <%= link_to "First Class", "https://www.flighthistorian.com/classes/F", target: "_blank" %>, for example, brings you to a page listing all of my first class flights. The page also shows some maps of trips (and parts of trips) which have a flight involving these two cities, so this is as good of a time as any to describe how trips work.</p>

<%= link_header "Trips", 2 %>

<p>At its core, a trip is a complete set of flights, from an origin airport, with a stop at one or more destinations. Often, but not always, the final destination is the same as the origin, which in everyday speech is a “round trip.”</p>

<p>For the purpose of my flight log, a trip can be divided into one or more sections. A section is simply all the flights between the origin and the first destination, or between any two consecutive destinations. So, let’s say that I have a round trip from my home in the Dayton, Ohio area to Los Angeles, with a layover at Dallas/Fort Worth both ways. This trip would then have two sections – the first containing all of my flights to Los Angeles (the <abbr title="Dayton">DAY</abbr> to <abbr title="Dallas/Fort Worth">DFW</abbr> flight and the <abbr title="Dallas/Fort Worth">DFW</abbr> to <abbr title="Los Angeles">LAX</abbr> flight) and the second containing all of my flights home (the <abbr title="Los Angeles">LAX</abbr> to <abbr title="Dallas/Fort Worth">DFW</abbr> flight and the <abbr title="Dallas/Fort Worth">DFW</abbr> to <abbr title="Dayton">DAY</abbr> flight)</p>

<p>If I had a multi-city trip from Dayton to Los Angeles to Seattle to Dayton, there would be three sections – All flights between <abbr title="Dayton">DAY</abbr> and <abbr title="Los Angeles">LAX</abbr>, all flights between <abbr title="Los Angeles">LAX</abbr> and <abbr title="Seattle">SEA</abbr>, and all flights between <abbr title="Seattle">SEA</abbr> and <abbr title="Dayton">DAY</abbr>.</p>

<p>All that said, clicking on the Trips link at the top of any <span class="website-name">Flight Log</span> page will show a <%= link_to "list of trips", "https://www.flighthistorian.com/trips", target: "_blank" %>:</p>

<%= project_image "projects/flight-historian/1-0/B-4.png", type: :osx_screenshot, alt: "Screenshot of the Trips page" %>

<p>Clicking on any of those will show a <%= link_to "trip details page", "https://www.flighthistorian.com/trips/55", target: "_blank" %>:</p>

<%= project_image "projects/flight-historian/1-0/B-5.png", type: :osx_screenshot, alt: "Screenshot of a Show Trip page" %>

<p>This particular trip was a multi-city trip, starting and ending in Dayton with stops in Oklahoma City and Rapid City. As you can see, the map highlights destinations with a ring around a dot, while airports that are simply layovers are just shown as a black dot.</p>

<p>Below the map, all the flights for this trip are shown, grouped by trip section. Clicking any of the airlines and flight numbers will bring up the flight details page as described above. If you’d like to just see one particular section of the trip, clicking the section number to the left of the flights will do so:</p>

<%= project_image "projects/flight-historian/1-0/B-6.png", type: :osx_screenshot, alt: "Screenshot of a Show Trip Section page" %>

<%= link_header "Airports", 2 %>

<p>On my <%= link_to "airports listing", "https://www.flighthistorian.com/airports", target: "_blank" %>, I start out with some maps showing all airports I’ve been to, but the heart of the page is the list of airports.</p>

<%= project_image "projects/flight-historian/1-0/C-1.png", type: :osx_screenshot, alt: "Screenshot of the Airports page" %>

<p>This lists each airport I’ve been to, and the number of times I’ve visited it. The number of visits is automatically determined from the flight data in the database; every flight has an airport visit at either end of it.</p>

<p>My code also has to look at trip sections to determine if a flight arriving at an airport and the next flight departing from the same airport is a layover or not. If both flights are in separate sections (for example, I land in Dallas/Fort Worth, do some business there, and then depart from <abbr title="Dallas/Fort Worth">DFW</abbr> later) it is not a layover and counts as two visits. However, if they’re in the same section, it’s a layover, and only counts as a single visit.</p>

<p>This visit calculation is how I determined when my 100th airside visit to the Dayton airport, allowing me to celebrate accordingly.</p>

<%= project_image "projects/flight-historian/1-0/C-2.jpg", alt: "Photo of Paul at the Dayton airport wearing a party hat with the number 100 on it" %>

<p>Clicking on any airport brings up its <%= link_to "details", "https://www.flighthistorian.com/airports/ORD", target: "_blank" %>, starting with a list of all flights involving the airport:</p>

<%= project_image "projects/flight-historian/1-0/C-3.png", type: :osx_screenshot, alt: "Screenshot of the Show Airport page for Chicago O’Hare" %>

<div class="alert alert-info">Since taking these screenshots, I have found an error in my data, and the flights that I had listed as Continental Airlines were actually flown on American Airlines. The flight log has incorporated the correction.</div>

<p>The page also figures out which trip sections and trips involve the airport in question, and generates maps for those, too:</p>

<%= project_image "projects/flight-historian/1-0/C-4.png", type: :osx_screenshot, alt: "Screenshot of the trip sections map on the Show Airport page for Chicago O’Hare" %>

<p>Finally, the page shows a listing of the frequency of all the airlines and aircraft families I’ve used at this airport:</p>

<%= project_image "projects/flight-historian/1-0/C-5.png", type: :osx_screenshot, alt: "Screenshot of the airline and aircraft tables on the Show Airport page for Chicago O’Hare" %>

<p>Clicking on any airline or aircraft family will bring up details about each.</p>

<%= link_header "Airlines", 2 %>

<p>The <%= link_to "airlines page", "https://www.flighthistorian.com/airlines", target: "_blank" %> shows a list of airlines I’ve flown and the number of flights on each, sorted by number of flights.</p>

<%= project_image "projects/flight-historian/1-0/D-1.png", type: :osx_screenshot, alt: "Screenshot of the Airlines page" %>

<div class="alert alert-info">Since taking these screenshots, I have found an error in my data, and the flights that I had listed as Continental Airlines were actually flown on American Airlines. The flight log has incorporated the correction.</div>

<p>When codeshares are involved, I use the airline and flight number of the operator of the flight.</p>

<p>Regional subsidiary airlines are listed as the parent airline. For example, all American Eagle flights are listed as American Airlines, and all flights branded as United Express are listed as United flights, regardless of which subsidiary airline actually operates it.</p>

<p>Airlines which have gone through a merger since my last flight are still listed as the airline they were on the date I took the flight. For example, my flights on Northwest are <em>not</em> considered Delta flights.</p>

<p>Clicking on any airline brings up a map and list of all flights I’ve taken on that airline:</p>

<%= project_image "projects/flight-historian/1-0/D-2.png", type: :osx_screenshot, alt: "Screenshot of the Show Airline page for United" %>

<%= link_header "Aircraft Families", 2 %>

<p>The <%= link_to "aircraft families page", "https://www.flighthistorian.com/aircraft", target: "_blank" %> shows a listing of all aircraft families I’ve flown.</p>

<%= project_image "projects/flight-historian/1-0/D-3.png", type: :osx_screenshot, alt: "Screenshot of the Aircraft Families page" %>

<p>A large portion of my flights are on regional jets; a hazard, I suppose, of living near Dayton, Ohio.</p>

<p>As expected, clicking on an aircraft family brings up a map and list of the flights using it:</p>

<%= project_image "projects/flight-historian/1-0/D-4.png", type: :osx_screenshot, alt: "Screenshot of the Show Aircraft Family page for the Boeing 737" %>

<%= link_header "Classes", 2 %>

The <%= link_to "class listing", "https://www.flighthistorian.com/classes", target: "_blank" %> is one of the simplest; it’s just a table of the travel classes (first, etc.) that I’ve flown and how many flights I’ve flown on each.</p>

<%= project_image "projects/flight-historian/1-0/E-1.png", type: :osx_screenshot, alt: "Screenshot of the Classes page" %>

<p>As of the time of this writing, the vast majority of my flights have been domestic, so I’ve rarely ever been on three-class planes. Thus, I have not yet had any flights in business class.</p>

<p>As always, clicking on one of the <%= link_to "classes", "https://www.flighthistorian.com/classes/F", target: "_blank" %> shows a table and map of my flights in that class:</p>

<%= project_image "projects/flight-historian/1-0/E-2.png", type: :osx_screenshot, alt: "Screenshot of the Show Class page for first class" %>

<%= link_header "Tail Numbers", 2 %>

<p>Every aircraft has a <%= link_to "unique number", "http://en.wikipedia.org/wiki/Aircraft_registration", target: "_blank" %> painted on or near its tail – think of it like a license plate for an airplane.</p>

<%= project_image "projects/flight-historian/1-0/E-3.jpg", alt: "Photo of several aircraft with their tail numbers highlighted" %>

<p>Because the number is unique, if I keep track of it, I can tell whether I’ve been on a particular plane before. And, of course, this also allows me to <%= link_to "track which particular aircraft I’ve flown on most often", "https://www.flighthistorian.com/tails", target: "_blank" %>:</p>

<%= project_image "projects/flight-historian/1-0/E-4.png", type: :osx_screenshot, alt: "Screenshot of the Tail Numbers page" %>

<p>My tail number data is more sparse than a lot of my other categories. I didn’t begin tracking tail numbers before 2012, and even once I did, it’s not always possible to see the tail number (for example, at night, or when the airport terminal layout blocks the view of my aircraft’s tail). Still, the above listing shows me all of the aircraft that I know I’ve flown on at least once.</p>

<p>Clicking on one of the <%= link_to "tail numbers", "https://www.flighthistorian.com/tails/N909EV", target: "_blank" %> shows a list of my flights on that plane and a corresponding map:</p>

<%= project_image "projects/flight-historian/1-0/E-5.png", type: :osx_screenshot, alt: "Screenshot of the Show Tail Number page for N909EV" %>

<p>And with that, I’ve fully described the basic functionality of the <%= link_to "Flight Log", "https://www.flighthistorian.com", target: "_blank", class: "website-name" %>!</p>