<a name="record"></a>
<h2>Record GPS Routes with Your Garmin</h2>

<p>I wrote this tutorial using a Garmin nüvi 2539LMT. However, I’ve had success using the same steps with other variations of the Garmin nüvi.</p>

<p>Fortunately, the nüvi already records location data in GPX format by default; all you have to do is get it off the device. To extract them, we need to hook up the nüvi to a computer via USB &ndash; the same way you’d hook it up to install map updates.  The nüvi should have come with its own USB cable, but any standard USB cable should work &ndash; plug it into the same slot into which you’d normally connect the power cord.  The nüvi 2539 takes a USB Mini cable.</p>

<%= project_image("projects/gps-logging/Garmin.jpg", alt: "Garmin nüvi 2539LMT connected to a PC via USB") %>

<p>Your computer should recognize the nüvi as a USB storage device and mount it.  On Windows 10, it will be listed in This PC.</p>

<%= project_image("projects/gps-logging/Explorer.png", alt: "Screenshot of Windows Explorer") %>

<p>Navigate to the nüvi’s <code>/GPX</code> folder. (On some models, this may be in <code>/Internal Storage/GPX</code>.)</p>

<%= project_image("projects/gps-logging/GPX-Folder.png", alt: "Screenshot of Windows Explorer") %>

<p>Copy <code>Current.gpx</code> to your desktop, or somewhere else on your computer where you can find it easily.</p>

<p class="alert alert-danger"><strong>Make sure you use copy instead of cut, and do not delete or modify this file (or any other file) on the device.</strong>  The nüvi is very particular about the integrity of its internal files, even if you later copy them back onto the device &ndash; I’ve lost my favorites on more than one occasion from this.  Copying files is fine, but to be safe, treat the nüvi like it’s read only and don’t change anything on the device.</p>

<p><code>Current.gpx</code> contains the most recent route history tracks, as well as all locations you’ve saved in the device.  The device will try to keep the file to about 2 MB; if it goes above that, the oldest tracks are placed into .gpx files in the <code>/GPX/Archive</code> folder.  Using the GPS daily, 2 MB equated to approximately two weeks of driving under normal use.  Longer road trips fill it up quicker, so if you don’t want to deal with the archives, I’d recommend copying the <code>Current.gpx</code> file to a computer at the end of each day of driving.</p>

<a name="trim"></a>
<h2>Trim Extra Data</h2>

<p>Since the Garmin GPX file contains the last 2 MB of data, it’s possible that it contains more location history than you actually want to map. If that’s the case, you’ll need to delete the extra GPS tracks with a GPX editor.</p>

<p>On Windows, I use <%= link_to "EasyGPS", 'http://www.easygps.com' %> as a free way to edit GPX files. (On OSX, I haven’t been able to find a good solution for free, but <%= link_to "myTracks", 'http://www.mytracks4mac.info/c/index.php/en/' %> has a free trial.)

<p>In EasyGPS, select <kbd>Tracks</kbd> from the dropdown at the top of the lower left panel, and you’ll see a list of tracks named by date. By looking at the dates, you should be able to tell which tracks you don’t need, but if you’re unsure, you can double click a track to preview it and figure out if you need it.</p>

<%= project_image("projects/gps-logging/EasyGPS.png", alt: "Screenshot of EasyGPS") %>

<p>Delete a track by selecting it and pressing the <kbd>DEL</kbd> key (or right clicking on it and selecting <kbd>Delete Track</kbd>).</p>

<p>Once you’ve made any necessary deletions, save and close the GPX file.</p>