<a name="record"></a>
<h2>Record GPS Routes with Your iOS device</h2>

<p>I wrote this tutorial using an iPhone 6s with iOS 9. However, this should work on any recent iPhone or iPad.</p>

<p>To record the GPS data, download <%= link_to "MyTracks - The GPS-Logger", 'https://appsto.re/us/0Uuyv.i' %> from the App Store. Open the app, and you’re greeted with a map screen:</p>

<%= project_image("projects/gps-logging/ios-blank-map.png", alt: "Screenshot of myTracks", type: :ios_screenshot) %>

<p>Press <kbd>REC</kbd> to start recording. A menu will come up; select <kbd>Change accuracy</kbd>.</p>
	
<div class="row">
	<div class="col-md-6">
		<%= project_image("projects/gps-logging/ios-start-recording.png", alt: "Screenshot of myTracks", type: :ios_screenshot) %>
	</div>
	<div class="col-md-6">
		<%= project_image("projects/gps-logging/ios-change-accuracy.png", alt: "Screenshot of myTracks", type: :ios_screenshot) %>
	</div>
</div>

<p>I generally use <kbd>Best</kbd> accuracy at a <kbd>15s</kbd> interval. However, if you’re going to do a particularly long recording, consider lowering the accuracy to improve battery life. Press <kbd>Done</kbd> to save.</p>

<p>Press <kbd>REC</kbd> again, and press <kbd>Start recording</kbd> this time. MyTracks will start drawing a line on the map following where you move. When you’re ready to stop, press <kbd>REC</kbd> and select <kbd>Stop recording</kbd>.</p>

<p>To see your recording, press the <kbd><span class="glyphicon glyphicon-folder-close"></span> folder</kbd> icon at the bottom to open up a list of your tracks. Tap on the track you just recorded, and a map of that track will come up.</p>
	
<div class="row">
	<div class="col-md-6">
		<%= project_image("projects/gps-logging/ios-tracks-list.png", alt: "Screenshot of myTracks", type: :ios_screenshot) %>
	</div>
	<div class="col-md-6">
		<%= project_image("projects/gps-logging/ios-recorded-track.png", alt: "Screenshot of myTracks", type: :ios_screenshot) %>
	</div>
</div>

<p>Press the <kbd><span class="glyphicon glyphicon-info-sign"></span> info</kbd> icon in the upper right corner to bring up details about the track.</p>

<%= project_image("projects/gps-logging/ios-track-details.png", alt: "Screenshot of myTracks", type: :ios_screenshot) %>

<p>From there, look at the right side of the Overview panel and press the <kbd>Export (square with arrow)</kbd> button. This will bring up an Export menu:</p>

<div class="row">
	<div class="col-md-6">
		<%= project_image("projects/gps-logging/ios-export.png", alt: "Screenshot of myTracks", type: :ios_screenshot) %>
	</div>
	<div class="col-md-6">
		<%= project_image("projects/gps-logging/ios-email.png", alt: "Screenshot of myTracks", type: :ios_screenshot) %>
	</div>
</div>

<p>Once again, press the <kbd>square with arrow</kbd> button at the upper right. From the menu that pops up, press the <kbd><span class="glyphicon glyphicon-envelope"></span> Mail</kbd> button, and email the track to yourself.</p>

<p>Check your inbox on your computer, and you should have an email with a GPX file attached. Save the attachment somewhere convenient.</p>