<% provide(:title, "PAX West 2017") %>
<% provide(:meta_description, "Photos from PAX West 2017") %>

<%= render partial: "static_pages/galleries/starmen_gallery_link" %>

<h1>PAX West 2017</h1>

<p>PAX West 2017 took place in Seattle, Washington on 1&ndash;4 September, 2017.</p>

<%= project_image "photos/pax-west-2017/3.jpg" %>
<%= project_image "photos/pax-west-2017/1.jpg", caption: "Badges" %>
<%= project_image "photos/pax-west-2017/2.jpg", caption: "Washington State Convention Center and Seattle, as seen from my hotel room" %>
<%= project_image "photos/pax-west-2017/6.jpg", caption: "Washington State Convention Center" %>
<%= project_image "photos/pax-west-2017/4.jpg", caption: "“Vending Machine” booth" %>
<%= project_image "photos/pax-west-2017/5.jpg", caption: "Seattle waterfront" %>