<% provide(:title, "PAX East 2014") %>
<% provide(:meta_description, "Photos from PAX East 2014") %>
<% provide(:theme, "pax-east") %>

<h1>PAX East 2014</h1>

<p>PAX East 2014 took place in Boston, Massachusetts on 11&ndash;13 April, 2014.</p>

<%= link_header "The Convention", 2 %>

<%= project_image "photos/pax-east-2014/East 2014 (3).jpg" %>
<%= project_image "photos/pax-east-2014/East 2014 (1).jpg" %>
<%= project_image "photos/pax-east-2014/East 2014 (2).jpg" %>
<%= project_image "photos/pax-east-2014/East 2014 (7).jpg", caption: "Someone left this sign on a table, and Amy made use of it" %>
<%= project_image "photos/pax-east-2014/East 2014 (8).jpg" %>
<%= project_image "photos/pax-east-2014/East 2014 (9).jpg" %>

<p>We also attended a <%= link_to "panel", stephenvlog_path(anchor: "pax-east-2014") %> with Stephen and friends at the convention.</p>

<%= link_header "Boston", 2 %>

<%= project_image "photos/pax-east-2014/East 2014 (5).jpg", caption: "We went on a tour of the Taza chocolate factory" %>
<%= project_image "photos/pax-east-2014/East 2014 (4).jpg", caption: "Taza tour" %>
<%= project_image "photos/pax-east-2014/East 2014 (6).jpg", caption: "Waffle à la Mode" %>

<p>We visited an ice bar.</p>

<%= project_image "photos/pax-east-2014/East 2014 (10).jpg" %>
<%= project_image "photos/pax-east-2014/East 2014 (11).jpg" %>
<%= project_image "photos/pax-east-2014/East 2014 (12).jpg" %>
<%= project_image "photos/pax-east-2014/East 2014 (13).jpg" %>
<%= project_image "photos/pax-east-2014/East 2014 (14).jpg" %>
