<% provide(:title, "Gate 13")%>
<% provide(:meta_description, "Paul Bogard’s map of airports with or without Gate 13.")%>

<h1>Gate 13</h1>

<%= project_image("projects/maps/gate-13/gate-13.png", alt: "Map of airports with or without a Gate 13", type: :large, attribution: "Created by Paul Bogard using Mapbox map tiles (&copy; #{link_to("Mapbox", "https://www.mapbox.com/about/maps/", target: :_blank)} &copy; #{link_to("OpenStreetMap", "https://www.openstreetmap.org/copyright", target: :_blank)})") %>

<p>I’ve started to notice as I travel that a number of airports within the U.S. don’t have a gate 13, and instead skip straight from gate 12 to gate 14. Given that 13 is considered an unlucky enough number that many buildings skip the thirteenth floor, I’m not surprised that people may not want to board a flight through gate 13.</p>

<p>Curious about if there were any geographic trends as to where the airports that skipped gate 13 were, I decided to make a map of which U.S. airports did and did not have a 13th gate.</p>

<p>I started with the <%= link_to("2018 FAA Passenger Boarding Data", "https://www.faa.gov/airports/planning_capacity/passenger_allcargo_stats/passenger/", target: :_blank) %> to get a spreadsheet of all U.S. <%= link_to("commercial service primary airports", "https://www.faa.gov/airports/planning_capacity/passenger_allcargo_stats/categories/", target: :_blank) %> (airports with at least 10&nbsp;000 annual passenger boardings). Since I already use the <%= link_to "FlightXML", "https://flightaware.com/commercial/flightxml/", target: "_blank" %> API for <%= link_to("Flight Historian", flight_historian_path) %>, I was able to write a Ruby script to loop through the airport codes from the FAA spreadsheet, look up the FlightXML latitude and longitude for each airport, and save it all as a <%= link_to("CSV file", "#gate-13-data-file") %>. I also included the <%= link_to("hub type", "https://www.faa.gov/airports/planning_capacity/passenger_allcargo_stats/categories/", target: :_blank) %> (large, medium, small, or nonhub) from the FAA data, as well as a column for Gate 13 status.</p>

<p>For each airport in the CSV file, I used terminal maps and aerial imagery to determine what gate numbers were present, and entered one of the following into my Gate 13 column:</p>

<table class="table">
  <tr>
    <td style="background:#4ab07d;color:#ffffff;">Yes</td>
    <td>The airport has at least one gate numbered 13</td>
  </tr>
  <tr>
    <td style="background:#db1e2a;color:#ffffff;">No</td>
    <td>The airport has no gates numbered 13</td>
  </tr>
  <tr>
    <td style="background:#60646c59;">Range</td>
    <td>The range of gates at the airport doesn’t include 13 (usually because the airport has less than 13 gates per concourse, but some airports started their gate numbers higher than 13 as well)</td>
  </tr>
</table>

<p>Once I had the <%= link_to("CSV data file", "#gate-13-data-file") %> completed, I imported it into QGIS to plot all the airports as points. Point size was determined by whether it was a large, medium, small, or nonhub airport; point color was determined by whether or not the airport had a gate 13.</p>

<%= link_header("Tools and Data Sources", 2) %>

<table class="table tools-list">
	<tbody>
    <tr>
      <th scope="row"><abbr title="Geographic Information Systems">GIS</abbr> Software</th>
      <td>
        <ul>
          <li><%= link_to("QGIS", "https://qgis.org/en/site/", target: :_blank) %></li>
        </ul>
      </td>
    </tr>
    <tr>
      <th scope="row">Map Tiles</th>
      <td>
        <ul>
          <li><%= link_to("Mapbox", "https://www.mapbox.com/about/maps/", target: :_blank) %></li>
          <li><%= link_to("OpenStreetMap", "https://www.openstreetmap.org/", target: :_blank) %></li>
        </ul>
      </td>
    </tr>
    <tr>
      <th scope="row">Airport List and Hub Types</th>
      <td>
        <ul>
          <li>FAA <%= link_to("Passenger Boarding Data", "https://www.faa.gov/airports/planning_capacity/passenger_allcargo_stats/passenger/", target: :_blank) %> (CY2018)</li>
        </ul>
      </td>
    </tr>
    <tr>
      <th scope="row">Airport Latitudes and Longitudes</th>
      <td>
        <ul>
          <li>FlightAware <%= link_to "FlightXML", "https://flightaware.com/commercial/flightxml/", target: "_blank" %></li>
        </ul>
      </td>
    </tr>
	</tbody>
</table>

<%= link_header("Gate 13 Data File", 2) %>

<%= link_buttons(DownloadButton.new("maps/gate-13/gate-13.csv")) %>

<%= render "static_pages/maps/license" %>