<% provide(:title, "Maps")%>
<% provide(:meta_description, "Paul Bogard’s map illustrations.")%>

<h1>Maps</h1>

<p>As might be obvious from many of my other <%= link_to("projects", root_path) %>, I enjoy maps, so I’ve created a few map illustrations.</p>

<div class="row cover-row">
  <%= render partial: "project_tile", locals: { name: "Gate 13", caption: "Unlucky airport gates", path: maps_path(map: "gate-13") } %>
  <%= render partial: "project_tile", locals: { name: "Travel Heatmap", caption: "Time spent in various cities", path: maps_path(map: "travel-heatmap") } %>
  <%= render partial: "project_tile", locals: { name: "PAX West Area Map", caption: "Map of convention venues and hotels", path: maps_path(map: "pax-west-area-map") } %>
  <%= render partial: "project_tile", locals: { name: "Interstate Grid", caption: "Intersections of major US interstates", path: maps_path(map: "interstate-grid") } %>
  <%= render partial: "project_tile", locals: { name: "Nashville Hex", caption: "Nashville’s freeways on a hex grid", path: maps_path(map: "nashville-hex") } %>
</div>