<% provide(:title, "#{@sources[params[:source]]} and #{@maps[params[:map]]} GPS Logging Tutorial")%>
<% provide(:meta_description, "Paul Bogard’s tutorial for creating route maps with #{@sources[params[:source]]} devices and {@maps[params[:map]]}.")%>

<h1><%= @sources[params[:source]] %> &amp; <%= @maps[params[:map]] %> GPS Logging Tutorial</h1>

<div class="byline">Part of the <%= link_to "GPS logging", gps_logging_path %> project</div>

<p>This tutorial will teach you how to record route data on <%= @sources[params[:source]] %> devices and map it with <%= @maps[params[:map]] %>.</p>

<%= render partial: "static_pages/gps_logging/source/#{params[:source].gsub("-","_")}" %>

<%= render partial: "static_pages/gps_logging/map/#{params[:map].gsub("-","_")}" %>

<%= link_to("Return to GPS Logging".html_safe, gps_logging_path, class: "btn btn-outline-dark btn-block icon-button", role: "button") %>