<% provide(:title, @convention[:name]) %>
<% provide(:meta_description, @meta_description) %>

<h1><%= @convention[:name] %></h1>

<p>Camp Fangamer took place in Tucson, Arizona on 18&ndash;19 July, 2015.</p>

<%= project_image("photos/camp-fangamer-2015/2015-07-17 07.34.33 HDR.jpg", caption: "Paul and Amy fly to Tucson") %>
<%= project_image("photos/camp-fangamer-2015/2015-07-17 10.23.36.jpg", caption: "Obligatory In-N-Out Burger stop") %>
<%= project_image("photos/camp-fangamer-2015/2015-07-17 18.07.56.jpg", caption: "Amy dressed up as the Bubble Monkey") %>
<%= project_image("photos/camp-fangamer-2015/2015-07-17 18.17.54.jpg", caption: "") %>
<%= project_image("photos/camp-fangamer-2015/2015-07-17 18.22.38.jpg", caption: "") %>
<%= project_image("photos/camp-fangamer-2015/2015-07-18 11.48.47.jpg", caption: "") %>
<%= project_image("photos/camp-fangamer-2015/2015-07-19 08.17.39.jpg", caption: "View from the hotel lobby") %>
<%= project_image("photos/camp-fangamer-2015/2015-07-19 20.25.16.jpg", caption: "") %>
<%= project_image("photos/camp-fangamer-2015/2015-07-19 22.54.58.jpg", caption: "As the convention had a camp theme, attendees could earn merit badges for activities. Amy made a sash for her badges.") %>