<% provide(:title, "Indiana Minicon") %>
<% provide(:meta_description, "Photos from Indiana Minicon 2006.") %>

<%= render partial: "static_pages/galleries/starmen_gallery_link" %>

<h1>Indiana Minicon</h1>

<p>The Indiana Minicon took place in Lafayette and Kokomo, Indiana on 19&ndash;20 August, 2006. This was the first time I’d met anybody from Starmen.Net in person.</p>

<p>We met in Indianapolis for lunch, visited the Indiana State Fair, and then drove up to Reid’s apartment in Lafayette for the evening. The next day, we went out to Reid’s parents’ farm in Kokomo.</p>

<%= project_image("photos/indiana-minicon/Starmen.net Mini Convention.jpg", caption: %Q(<span class="caption-label">Back:</span> Giovanni, <abbr title="JamesPicard_007">Joe</abbr>, <abbr title="ßlackLeader">Chaz</abbr>, <abbr title="Fishsticks">Paul</abbr>, <abbr title="ctoner">Casey</abbr>, Mansion Maniac<br/><span class="caption-label">Front:</span> Ruby (dog), <abbr title="Meeellla">Camille</abbr>, <abbr title="reidman">Reid</abbr>)) %>
<%= project_image("photos/indiana-minicon/Barn adventures on the pig elevator.jpg", caption: "Fun with the barn’s pig elevator") %>
<%= project_image("photos/indiana-minicon/Giovanni and the Trident.jpg", caption: "") %>
<%= project_image("photos/indiana-minicon/Joe.jpg", caption: "") %>
<%= project_image("photos/indiana-minicon/Bonfire.jpg", caption: "Starting our bonfire") %>
<%= project_image("photos/indiana-minicon/Luke and Lexington.jpg", caption: "") %>
<%= project_image("photos/indiana-minicon/Giovanni and Casey.jpg", caption: "") %>
<%= project_image("photos/indiana-minicon/Pants on Fire.jpg", caption: %Q(At one point during the evening, <abbr title="Fishsticks">Paul</abbr>’s shorts ripped, so he put on a different pair and we burned the ripped ones.)) %>