<div class="row">
  <div class="col-md-8 offset-md-2">

    <%= form_with(model: [:electronics, :part, @use]) do |f| %>
      <%= render "shared/error_messages", object: @use %>
      
      <p>
        <%= f.label(:start_date) %>
        <%= f.date_field(:start_date, class: %w(form-control date-field)) %>
      </p>

      <p>
        <%= f.label(:end_date, "End date (optional) – leave blank if still in use") %>
        <%= f.date_field(:end_date, class: %w(form-control date-field)) %>
      </p>

      <p>
        <%= f.label(:computer_id, "Computer (optional)") %>
        <%= f.collection_select(:computer_id, Computer.order(name: :asc), :id, :name, {include_blank: true}, {class: %w(form-control)}) %>
      </p>
      
      <p>
        <%= f.submit yield(:button_text), class: %w(btn btn-primary) %>
      </p>

    <% end %>

  </div>
</div>