<% provide(:title, "Time Zone Chart")%>
<% provide(:meta_description, "Create a chart of what time zones you’ve visited recently.")%>

<nav class="navbar navbar-default" id="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="navbar-brand"><%= link_to "Time Zone Chart", timezones_path, class: "link-unstyled" %> <small>by <%= link_to "Paul Bogard", "https://www.pbogard.com" %></small></div>
    </div>
    
    <div class="share-buttons" id="edit-buttons">
      <form class="form-inline">
        <div class="input-group">
          <%= link_to %Q(<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> New chart).html_safe, timezones_path, class: "btn btn-default" %>
        </div>
        <div class="input-group">
          <%= link_to %Q(<span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> Download SVG).html_safe, "", id: "download-link", class: "btn btn-default", download: "" %>
        </div>
        <div class="input-group">
          <div class="input-group-addon">Chart size</div>
          <select id="field-size" class="form-control field-size" />
            <option value="640,360">640&times;360</option>
            <option value="960,540" selected>960&times;540</option>
            <option value="1280,720">1280&times;720</option>
            <option value="1600,900">1600&times;900</option>
          </select>
        </div>
        <div class="input-group">
          <%= link_to %Q(<span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span> Full screen).html_safe, "", id: "fullscreen-link", class: "btn btn-default" %>
        </div>
      </form>
    </div>
    
    <div class="share-buttons" id="fullscreen-buttons">
      <%= link_to %Q(<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Create a new chart).html_safe, timezones_path, class: "btn btn-default" %>
      <%= link_to %Q(<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Close full screen/edit chart).html_safe, "", id: "edit-link", class: "btn btn-default" %>
    </div>
      
  </div>
</nav>

<p id="js-warning">Time Zone Chart uses JavaScript to generate and update its chart. If you would like to use Time Zone Chart, please enable JavaScript for this site.</p>
<div class="hidden-by-default">
      
  <div class="chart" id="component-chart">
    <!-- Place the groups in order of lowest SVG layer to highest SVG layer. -->
    <!-- SVG styles are located here (instead of a stylesheet) so they can be embedded in downloaded file. -->
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="chart">
      <style>
        @import url(https://fonts.googleapis.com/css?family=Lato:400,400i,700);
        line.axis {stroke: #666666; stroke-width: 2; stroke-linecap: square;}
        line.grid {stroke: #DDDDDD; stroke-width: 1;}
        line.travel {stroke: #D2D7D9; stroke-width: 6; stroke-linecap: round;}
        line.travel-idl {stroke: #D2D7D9; stroke-width: 4; stroke-linecap: square; stroke-dasharray: 5,10;}
        rect.supplemental {fill: #FFFFEE; stroke: #666666; stroke-width: 1;}
        text {fill: #666666; font-family: "Lato", "Helvetica", "Arial", sans-serif;}
        text.axis-label {font-size: 12pt; text-anchor: middle;}
        text.axis-value {font-size: 10pt; font-weight: 400;}
        text.axis-value-x {text-anchor: middle;}
        text.location {font-size: 10pt; font-style: italic; fill: white;}
        text.supplemental-location {font-size: 10pt; font-weight: 700; text-anchor: middle;}
        text.supplemental-offset {font-size: 8pt; font-style: italic; text-anchor: middle;}
        text.supplemental-time {font-size: 8pt; font-weight: 400; text-anchor: middle;}
        text.title {font-size: 28pt; font-weight: 400; text-anchor: middle;}
        text.left {text-anchor: start;}
        text.right {text-anchor: end;}
      </style>
      <g id="chart-grid"></g>
      <g id="chart-travel-lines"></g>
      <g id="chart-location-blocks"></g>
      <g id="chart-axes"></g>
      <g id="chart-axis-text"></g>
      <g id="chart-title"></g>
      <g id="chart-location-hovers"></g>
    </svg>
  </div>
  
  <hr />
  
  <div id="component-data">
    <form id="locations">
      <div class="input-group col-md-6 col-md-offset-3">
        <div class="input-group-addon">Trip Title:</div><input type="text" id="field-title" class="form-control field-title" />
      </div>
      <table class="table">
        <thead>
          <th></th>
          <th>Arrival (UTC)</th>
          <th>Location</th>
          <th>UTC Offset</th>
          <th>Departure (UTC)</th>
          <th></th>
        </thead>
        <tbody></tbody>
      </table>
    </form>
  </div>
  
</div>