<header>
	<nav class="navbar navbar-expand-lg navbar-dark">
		<div class="container">
			<%= link_to image_tag("Portfolio-Logo.png", width: "263px", height: "24px", alt: "Paul Bogard’s Portfolio"), root_path, class: "navbar-brand" %>
			
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    		<span class="navbar-toggler-icon"></span>
  		</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ml-auto">

					<li class="nav-item">
						<%= link_to "Projects", projects_path, class: "nav-link" %>
					</li>
					
					<li class="nav-item dropdown">
						<%= link_to "About Paul", "#", id: "aboutDropdown", class: "nav-link dropdown-toggle", "data-toggle": "dropdown", "aria-haspopup": "true", "aria-expanded": "false" %>
						<div class="dropdown-menu" aria-labelledby="aboutDropdown">
							<%= nav_link "About Paul", about_path %>
							<%= nav_link "Résumé", resume_path %>
						</div>
					</li>

					<li class="nav-item dropdown">
						<%= link_to "Other", "#", id: "aboutDropdown", class: "nav-link dropdown-toggle", "data-toggle": "dropdown", "aria-haspopup": "true", "aria-expanded": "false" %>
						<div class="dropdown-menu" aria-labelledby="aboutDropdown">
							<%= nav_link "Airport Code Puns", airport_code_puns_path %>
							<%= nav_link "Computers", computers_path %>
							<%= nav_link "Ingress Mosaic Maps", ingress_mosaics_path %>
							<%= nav_link "RHIT", rhit_path %>
							<%= nav_link "Website History", history_path %>
						</div>
					</li>

					<li class="nav-item">
						<%= link_to "Blog", "https://onehundredairports.com/", target: :_blank, class: "nav-link" %>
					</li>

				</ul>
			</div>
		</div>
	</nav>
</header>