	<header class="navbar navbar-default navbar-static-top">
		<div class="container">
			<div class="navbar-header">
				
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigationbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				
				<%= link_to(image_tag("Portfolio-Logo.png", width: "263px", height: "24px"), root_path, id: "logo", class: "navbar-brand") %>
				
			</div>
			
			<div class="navbar-collapse collapse" id="navigationbar">	
			
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Projects <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<%= nav_link "All Projects", root_path %>
							<li role="separator" class="divider"></li>
							<%= nav_link "Flight Historian", flight_historian_path %>
							<%= nav_link "GPS Logging", gps_logging_path %>
							<%= nav_link "CAD Models", cad_models_path %>
							<%= nav_link "Turn Signal Counter", turn_signal_counter_path %>
							<%= nav_link "Terminal Silhouettes", terminal_silhouettes_path %>
							<%= nav_link "EarthBound Database", earthbound_database_path %>
							<%= nav_link "Visor Cam", visor_cam_path %>
							<%= nav_link "Hotel Internet Quality", hotel_internet_quality_path %>
							<li role="separator" class="divider"></li>
							<li><%= link_to "<span class=\"glyphicon glyphicon-link\"></span> GitHub (bogardpd)".html_safe, 'https://github.com/bogardpd' %></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">About Paul <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<%= nav_link "About Paul", about_path %>
							<%= nav_link "Résumé", resume_path %>
							<li role="separator" class="divider"></li>
							<%= nav_link "Computers", computers_path %>
							<%= nav_link "Reading List", books_path %>
							<%= nav_link "Ingress Murals", ingress_murals_path %>
						</ul>
					</li>
					<li><%= link_to "<span class=\"glyphicon glyphicon-link\"></span> Blog".html_safe, 'http://onehundredairports.com/' %></li>
				</ul>
				
			</div>
			
		</div>
	</header>