<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
	<%= render "layouts/favicon" %>
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,400italic,700" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400" rel="stylesheet" type="text/css">
	
	<%= render "layouts/jquery_bootstrap" %>
	<%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag "application", media: "all" %>

	<% if @head_include %>
		<% @head_include.each do |layout| %>
			<%= render "layouts/#{layout.to_s}" %>
		<% end %>
	<% end %>

  <%= csrf_meta_tags %>

	<meta name="author" content="Paul Bogard" />
	<%= meta_description(yield(:meta_description)) %>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone=no" />
</head>

<body class="<%= yield(:theme) %>">
	
	<%= render "layouts/header" %>
  
  <div id="main" class="container">
		
		<% if @breadcrumbs || (logged_in? && yield(:admin_actions).present?) %>
			<div class="breadcrumbs-admin row">
				<div class="col px-0">
					<%= show_breadcrumbs %>
				</div>
				<% if logged_in? && yield(:admin_actions).present? %>
					<div class="col px-0 text-right">
						<%= yield(:admin_actions) %>
					</div>
				<% end %>
			</div>
		<% end %>

		<% flash.each do |message_type, message| %>
  	  <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    
    <%= yield %>
	
		<%= render "layouts/footer" %>
	</div>
	
	
	
</body>
</html>
