<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
	<%= render 'layouts/favicon' %>
	<link href='https://fonts.googleapis.com/css?family=Lato:400,400i,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'time_zones', media: 'all' %>
  <%= stylesheet_link_tag    'bootstrap-datetimepicker', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag "bootstrap-datetimepicker" %>
  <%= javascript_include_tag "time_zones" %>
  <%= javascript_include_tag "moment.min" %>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <%= csrf_meta_tags %>
	<!--[if lt IE 9]>
		<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
		</script>
	<![endif]-->
	
	<meta name="author" content="Paul Bogard" />
	<%= meta_description(yield(:meta_description)) %>
</head>
<body>
	
	<div class="container" id="body-container">
    
    <%= yield %>
    
	</div>
	
</body>
</html>
